{# src/Foment/GestioBundle/Resources/views/Page/activitatpuntual.html.twig #}
{% extends 'FomentGestioBundle::layout.html.twig' %}

{% form_theme form 'FomentGestioBundle:Includes:formtheming.html.twig' %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block title %}Gestió de dades dels cursos, tallers i activitats{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('foment_gestio_homepage') }}"><span class="fa fa-home fa-1x"></span> Inici</a></li><li><a href="{{ path('foment_gestio_activitats') }}">Cursos i activitats</a></li><li><span class="current">Edició</span></li>
{% endblock %}

{% block containerclass %}activitat-page activitat-puntual{% endblock %}

{% block pagetitle %}Informació del taller o activitat{% endblock %}

{% block topbuttons %}
	<li><a id="mostrar-activitats" href="{{ path('foment_gestio_activitats') }}" title="Mostrar llista cursos, tallers i activitats"><span class="button-icon icon-btn-40x40 list persian"></span>
		<span class="button-text">llista</span></a></li>
	<li><a id="export-activitat" href="{{ path('foment_gestio_exportparticipantsactivitat', {'id': activitat.id }) }}" target="_blank"  title="Exportar llista participants"><span class="button-icon icon-btn-40x40 spreadsheet green"></span>
		<span class="button-text">exportar</span></a></li>
	<li><a id="info-activitat" href="{{ path('foment_gestio_pdfactivitat', { 'activitat' : activitat.id } ) }}" title="Generar informe activitat i assistència" target="_blank"><span class="button-icon icon-btn-40x40 pdf red"></span>
		<span class="button-text">info</span></a></li>
	<li><a id="save-data" href="javascript:void(0)"><span class="button-icon icon-btn-40x40 confirm green"></span>
		<span class="button-text">desar</span></a></li>
	<li><a id="remove-item" href="{{ path('foment_gestio_esborraractivitat', {'id': activitat.id }) }}" title="Esborrar curs, taller o activitat"><span class="button-icon icon-btn-40x40 remove red"></span>
		<span class="button-text">eliminar</span></a></li>
{% endblock %}


{% block main %}
<div id="block-form-activitat">
	{% block mainform %}{{ form_start(form, {'action': path('foment_gestio_activitat')}) }}{% endblock %}
	
	{% include 'FomentGestioBundle:Includes:messages.html.twig' %}
	
	<div class="form-block row">
		<div class="form-subblock col-md-12">
			<div class="row">{{ form_widget(form.id) }}
				<div class="col-md-12"><h4 class="form-block-label">{{ form_widget(form.tipus, {'attr': {'placeholder': '(*)', 'class': 'radio tipus-activitat', 'data-value-init': activitat.tipus } })  }}{{ form_errors(form.tipus) }}</h4></div>
				<div class="form-field col-md-5 col-sm-12 resizable on-sidebar-col-md-12">
				    <div class="input-group"><span class="input-group-addon">descripcio</span>
				       	{{ form_widget(form.descripcio, {'attr': {'placeholder': '', 'class': 'form-control' } })  }}</div>{{ form_errors(form.descripcio) }}
				</div>
				{% block mainrow %}
			    <div class="form-field col-md-3 col-sm-4 col-xs-12 resizable on-sidebar-col-md-4">
				    <div class="input-group"><span class="input-group-addon">data</span>
	   					{{ form_widget(form.dataactivitat, {'attr': {'placeholder': '', 'class': 'form-control form-control-center dataactivitat', 'data-value-init': activitat.dataactivitat|date("d/m/Y")  } })  }}
	   					<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span></div>{{ form_errors(form.dataactivitat) }}
		        </div>
		        {% endblock %}
		        <div class="form-field col-md-2 col-sm-4 col-xs-6 resizable on-sidebar-col-md-4">
		        	<div class="input-group"><span class="input-group-addon input-group-addon-short">preu</span>{{ form_widget(form.quotaparticipant, {'attr': {'placeholder': '', 'class': 'form-control form-control-right' } })  }}
	    	    		<span class="input-group-addon input-group-addon-icon"><span class="fa fa-eur fa-1x"></span></span></div>{{ form_errors(form.quotaparticipant) }}
		        </div>
		        <div class="form-field col-md-2 col-sm-4 col-xs-6 resizable on-sidebar-col-md-4">
		        	<div class="input-group"><span class="input-group-addon input-group-addon-short">no soci</span>{{ form_widget(form.quotaparticipantnosoci, {'attr': {'placeholder': '', 'class': 'form-control form-control-right' } })  }}
	    	    		<span class="input-group-addon input-group-addon-icon"><span class="fa fa-eur fa-1x"></span></span></div>{{ form_errors(form.quotaparticipantnosoci) }}
		        </div>
		   	</div>
		</div>
		
		<div class="form-subblock col-md-12">
			<div id="info-tabs" class="">
				<a href="#tab1-informacio" class="show-hide-block"><span class="fa fa-minus-square-o fa-1 blue"></span></a>	
				<ul>
					<li><a href="#tab1-informacio">Informacio</a></li>
					{% block blocklisttabsanual %}{% endblock %}
				</ul>
								
				<div id="tab1-informacio">
					{% block blocktabinfoanual %}
					<div class="row">
						<div class="col-md-3 resizable on-sidebar-col-md-4">
							<div class="row">
								<div class="form-field col-md-12">
									<div class="input-group"><span class="input-group-addon input-group-addon-short">màx.</span>{{ form_widget(form.maxparticipants, {'attr': {'placeholder': '', 'class': 'form-control form-control-center' } })  }}
	    	    						<span class="input-group-addon input-group-addon-icon"><span class="fa fa-users fa-1x"></span></span></div>{{ form_errors(form.maxparticipants) }}
								</div>
								<div class="form-field col-md-12">
		    						<div class="input-group"><span class="input-group-addon input-group-addon-short">hores</span>{{ form_widget(form.totalhores, {'attr': {'placeholder': '', 'class': 'form-control form-control-center' } })  }}
	    	    						<span class="input-group-addon input-group-addon-icon"><span class="fa fa-clock-o fa-1x"></span></span></div>{{ form_errors(form.totalhores) }}
		    						
		        				</div>
		        				<div class="form-field col-md-12">
		        					<div class="input-group"><span class="input-group-addon input-group-addon-short">despeses</span>{{ form_widget(form.estimadespeses, {'attr': {'placeholder': '', 'class': 'form-control form-control-right' } })  }}
	    	    						<span class="input-group-addon input-group-addon-icon"><span class="fa fa-eur fa-1x"></span></span></div>{{ form_errors(form.estimadespeses) }}
		        				</div>
		        			</div>
		        		</div>
						<div class="form-field col-md-9 resizable on-sidebar-col-md-8">
				   			<div class="input-group"><span class="input-group-addon">lloc</span>
				       		{{ form_widget(form.lloc, {'attr': {'placeholder': '', 'class': 'form-control', 'rows': 3 } })  }}</div>{{ form_errors(form.lloc) }}
				       		<span class="fa fa-users fa-1x"></span> preu orientatiu per {{ activitat.maxparticipants }}&nbsp;participants <span class="blue-title">{{ activitat.getPreuOrientatiu }} </span></span>	
						</div>
					</div>
		        	{% endblock %}
					<div class="row">		        		
		        		<div class="form-field col-md-12">
		        			<p class=""><span class="blue-title">observacions</span></p>
		        			{{ form_widget(form.observacions, {'attr': {'placeholder': '', 'class': 'form-control' } })  }}
		        			{{ form_errors(form.observacions) }}
		        		</div>
		        	</div>
		        </div>
		        {% block blocktabsanual %}{% endblock %}
		   	</div>
		</div>
	</div>
	<div class="hr"></div>
	<div class="form-block row">
		<div class="form-subblock col-md-12">
		{% if (activitat.id > 0) %}
			<h2 class="block-title ">llista de participants</h2>
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<div class="form-field full-width-container icon-container">
						{{ form_widget(form.participant, {'attr': {'placeholder': '', 'class': 'form-participant' } }) }}
						<a id="inscriure-action" href="{{ path('foment_gestio_activitatinscripcio', { id : activitat.id } ) }}"><span class="button-icon icon-btn-30x30 down blue"></span></a>
					</div>
				</div>
			</div>
			<div id="taula-participants">
			{% include 'FomentGestioBundle:Includes:taulaparticipantsactivitat.html.twig' %}
			</div>
		{% endif %}
		</div>
	</div>
	
	<div class="form-hidden">
    	{{ form_end(form) }}
    </div>		
	
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<!-- Select2 plugin's -->
	<script src="{{ asset('js/select2.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/select2_locale_ca.js') }}" type="text/javascript"></script>
	
	<script type="text/javascript">

	/***** Selector persones *****/
	var text = 'vols afegir en/na __NOM__ a l\'activitat?';
	text += '\n<i>per finalitzar tanca la finestra</i>';
	var titol = 'Afegir persona a l\'activitat';
	
	
	$(document).ready( function() {

		var maxdate = new Date();
		maxdate.setDate(dateNow.getDate() + 365);

		initDateTimePicker ($( '#puntual_dataactivitat' ), dateNow,  maxdate, dateNow, 'dataactivitat-picker', true);

		// Taula d'activitats 
		{% set queryparamsc = queryparams|merge({ 'id': activitat.id, 'perpage': '__PERPAGE__', 'filtre': '__FILTRE__'}) %}

		var tipus = '{{ activitat.tipus }}';
		var url = '';
		if (tipus == 'puntual') {
			url = '{{ path('foment_gestio_activitat', queryparamsc)|raw }}';
		} else {
			url = '{{ path('foment_gestio_curs', queryparamsc)|raw }}';
		}
		
		preparePaginatedSortedTable('#taula-participants', url, ajaxTaulaCallback); 

		// Tab form activitat
		$( '#info-tabs' ).tabs( { } );

		$('a#save-data').click(function(event) {
			event.preventDefault();
			$('form').submit();
		});

		$('a#remove-item').click(function(event) {
			event.preventDefault();
			var url = $(this).attr('href');

			var text = "";
			if (tipus == 'puntual') {
				text = "Segur que vols esborrar l'activitat? ";
			} else {
				text = "Segur que vols esborrar aquest curs? ";
			}	
			
			obrirDialegConfirmacio(text, "Confirmar esborrat", 0, 400, 
				function() { // Ok
					window.location = url;
					//window.location = url;
				}, 
				function() { // Ko
					// Res a fer
				}
			);
		});
		
		init_cercapersones_JSON('.form-participant', 'afegir participant (nom i/o cognoms)', {{ activitat.id }}, 0);

		$('a#inscriure-action').click(function(event) {
			
			event.preventDefault();
			
			if ($('input.form-participant').val() != '') {
				var participant_id = $('input.form-participant').val();
				var filtre = $('#taula-participants .filtre-text').val();
				var perpage = $('#taula-participants .select-midapagina').val()
				
				var url = $(this).attr('href') + '&perpage='+perpage+'&filtre='+filtre+'&persona=' + participant_id;

				ajaxTaulaCallback(url, '#taula-participants');
				//window.location = url;
			} else {
				obrirDialegInformacio('Cal seleccionar algun participant',  'Informació d\'error');
			}
			
		});

		// esdeveniment delegat pq s'actualitza l'element 
		$('#taula-participants').on('click', 'a#cancelar-action', function (event) {
			event.preventDefault();

			var filtre = $('#taula-participants .filtre-text').val();
			var perpage = $('#taula-participants .select-midapagina').val()
			var url = $(this).attr('href') + '&perpage='+perpage+'&filtre='+filtre;
			
			var text = "Segur que vols cancel·lar la inscripció? ";
			
			obrirDialegConfirmacio(text, "Confirmar cancel·lació", 0, 400, 
				function() { // Ok
					ajaxTaulaCallback(url, '#taula-participants');
					//window.location = url;
				}, 
				function() { // Ko
					// Res a fer
				}
			);
		});
	});

	

	</script>
{% endblock %}