{# src/Foment/GestioBundle/Resources/views/Page/activitat.html.twig #}
{% extends 'FomentGestioBundle::layout.html.twig' %}

{% form_theme form 'FomentGestioBundle:Includes:formtheming.html.twig' %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block title %}Gestió de dades dels cursos, tallers i activitats{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('foment_gestio_homepage') }}"><span class="fa fa-home fa-1x"></span> Inici</a></li><li><a href="{{ path('foment_gestio_activitats') }}">Cursos i activitats</a></li><li><span class="current">Edició</span></li>
{% endblock %}

{% block containerclass %}activitat-page{% endblock %}

{% block pagetitle %}Informació del curs, taller o activitat{% endblock %}

{% block topbuttons %}
	<li><a id="mostrar-activitats" href="{{ path('foment_gestio_activitats') }}" title="Mostrar llista cursos, tallers i activitats"><span class="button-icon icon-btn-40x40 list persian"></span>
		<span class="button-text">llista</span></a></li>
	<li><a id="veure-facturacio" href="{{ path('foment_gestio_infoactivitat', {'id': activitat.id }) }}" title="Mostrar comptabilitat"  data-activitat="{{ activitat.descripcio }}"><span class="button-icon icon-btn-40x40 invoice persian"></span>
		<span class="button-text">detall</span></a></li>
	<li><a id="export-activitat" href="{{ path('foment_gestio_exportparticipantsactivitat', {'id': activitat.id }) }}" target="_blank"  title="Exportar llista participants"><span class="button-icon icon-btn-40x40 spreadsheet green"></span>
		<span class="button-text">exportar</span></a></li>
	<li><a id="info-activitat" href="{{ path('foment_gestio_pdfactivitat', { 'activitat' : activitat.id } ) }}" title="Generar informe activitat i assistència" target="_blank"><span class="button-icon icon-btn-40x40 pdf red"></span>
		<span class="button-text">info</span></a></li>
	<li><a id="save-data" href="javascript:void(0)"><span class="button-icon icon-btn-40x40 confirm green"></span>
		<span class="button-text">desar</span></a></li>
	<li><a id="remove-item" href="{{ path('foment_gestio_esborraractivitat', {'id': activitat.id }) }}" title="Esborrar curs, taller o activitat"><span class="button-icon icon-btn-40x40 remove red"></span>
		<span class="button-text">eliminar</span></a></li>
{% endblock %}


{% block main %}
<div id="block-form-activitat">
	{{ form_start(form, {'action': path('foment_gestio_activitat')}) }}
	
	{% include 'FomentGestioBundle:Includes:messages.html.twig' %}
	
	<div class="row">
		{{ form_widget(form.id) }}	
		<div class="col-md-6 col-sm-12 resizable on-sidebar-col-md-12">
			<div class="row">	
				<div class="form-field col-md-8">
				    <div class="input-group"><span class="input-group-addon">descripcio</span>
				       	{{ form_widget(form.descripcio, {'attr': {'placeholder': '', 'class': 'form-control' } })  }}
				    </div>{{ form_errors(form.descripcio) }}
				</div>
				<div class="form-field col-md-4">
					<div class="input-group"><span class="input-group-addon input-group-addon-short">màx.</span>{{ form_widget(form.maxparticipants, {'attr': {'placeholder': '', 'class': 'form-control form-control-center' } })  }}
   	    				<span class="input-group-addon input-group-addon-icon"><span class="fa fa-users fa-1x"></span></span>
   	    			</div>{{ form_errors(form.maxparticipants) }}
				</div>
        		<div class="form-field col-md-12">
        			<div class="input-group"><span class="input-group-addon">lloc</span>
		       			{{ form_widget(form.lloc, {'attr': {'placeholder': '', 'class': 'form-control', 'rows': 1 } })  }}
		       		</div>{{ form_errors(form.lloc) }}
        		</div>
       		</div>
   		</div>
   		<div class="form-field col-md-6 col-sm-12 resizable on-sidebar-col-md-12">
   			<div class="input-group"><span class="input-group-addon">observacions</span>
       			{{ form_widget(form.observacions, {'attr': {'placeholder': '', 'class': 'form-control', 'rows': 3  } })  }}
   			</div>{{ form_errors(form.observacions) }}
   		</div>
   	</div>
	<div class="row">
		<div class="col-md-12"><span class="blue-title">Facturacions</span></div>
		<div class="col-md-12">
			<div id="facturacions-curs" class="panel panel-default taula-resultats">
				<table class="table">
					<thead><tr><th colspan="3" class="hidden-col">&nbsp;</th> 
						<th class="table-field-left hfacturaciocurs-desc">descripció</th>
						<th class="table-field-right hfacturaciocurs-import">import</th>
						<th class="table-field-right hfacturaciocurs-importnosoci">no soci</th>
						<th class="table-field-center hfacturaciocurs-data">data</th>
						<th class="table-field-center hfacturaciocurs-docencia">planificació</th>
						<th class="table-field-center hfacturaciocurs-rebuts">rebuts</th>
						<th class="table-field-center hfacturaciocurs-icones">&nbsp;</th></tr>
					</thead>
					<tbody data-prototype-datafacturacio="{{ form_widget(form.facturacions.vars.prototype.datafacturacio, {'attr': {'class': 'form-control form-control-center' }, 'value' : queryparams['dataproto']|date("d/m/Y") })|e }}" 
							data-prototype-importactivitat="{{ form_widget(form.facturacions.vars.prototype.importactivitat, {'attr': {'class': 'form-control form-control-right' }, 'value': "0,00" })|e }}" 
							data-prototype-importactivitatnosoci="{{ form_widget(form.facturacions.vars.prototype.importactivitatnosoci, {'attr': {'class': 'form-control form-control-right', 'value': "0,00" } })|e }}" 
							data-prototype-descripcio="{{ form_widget(form.facturacions.vars.prototype.descripcio, {'attr': {'class': 'form-control form-control-left' }, 'value' : queryparams['descproto'] })|e }}"
							data-prototype-checkrebuts="crear-los {{ form_widget(form.facturacions.vars.prototype.checkrebuts, {'attr': {'class': 'form-control form-control-left checkbox checkbox-under' }, 'value' : '0' })|e }}">
						<tr class="table-row-added table-row-prototype" >
							<td class="hidden-col facturaciocurs-id">&nbsp;</td>
							<td class="table-field-left facturaciocurs-desc"></td>
							<td class="table-field-right facturaciocurs-import">
								<div class="input-group">
									<span class="input-group-addon input-group-addon-icon"><span class="fa fa-eur fa-1x"></span></span></div>
							</td>
							<td class="table-field-right facturaciocurs-importnosoci">
								<div class="input-group">
									<span class="input-group-addon input-group-addon-icon"><span class="fa fa-eur fa-1x"></span></span></div>
							</td>
							<td class="table-field-center facturaciocurs-data">
								<div class="input-group">
									<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span></div>
							</td>
							<td class="table-field-center facturaciocurs-calendari">
								<span class="fa fa-spinner fa-spin fa-1x fa-fw gray"></span><span class="sr-only">En procés...</span>
								{#<a class="obrir-calendari" href="{{ path('foment_gestio_carregarcalendari', {'id': 0 }) }}" title="Obrir planificació">
									<span class="fa fa-graduation-cap fa-1x orange"></span>
								</a>#}
							</td>
							<td class="table-field-center facturaciocurs-rebuts">&nbsp;</td>
							<td class="facturaciocurs-icones icon-cell">
								<a class="esborrar-facturacio" href="javascript:void(0)" title="esborrar facturació"><span class="fa fa-remove fa-1x red"></span></a>
							</td>
						</tr>
						{% set noves = 0 %}
						{% if activitat.id > 0 %}
							{% for facturacio in activitat.facturacionsactives %}
								<tr class="facturacio-row" >
									<td class="hidden-col facturaciocurs-id">{{ facturacio.id }}</td>
									<td class="table-field-left facturaciocurs-desc">{{ facturacio.descripcio }}</td>
									<td class="table-field-right facturaciocurs-import">{{ facturacio.importactivitat is empty ? '--': facturacio.importactivitat|number_format(2, ',', '.') }} €</td>
									<td class="table-field-right facturaciocurs-importnosoci">{{ facturacio.importactivitatnosoci is empty ? '--': facturacio.importactivitatnosoci|number_format(2, ',', '.') }} €</td>
									<td class="table-field-center facturaciocurs-data">{{ facturacio.datafacturacio is empty ? '': facturacio.datafacturacio|date('d/m/y') }}</td>
									<td class="table-field-center facturaciocurs-calendari">
										<a class="obrir-calendari" href="{{ path('foment_gestio_carregarcalendari', {'id': facturacio.id }) }}" title="Obrir planificació">
											<span class="fa fa-graduation-cap fa-1x orange"></span>
										</a>
									</td>
									<td class="table-field-center facturaciocurs-rebuts">
									{% if (facturacio.totalrebuts > 0) %}
										{{ facturacio.totalrebuts }}
									{% else %}
										<a class="crear-rebuts" href="{{ path('foment_gestio_crearrebuts', {'id': facturacio.id }) }}" title="crear rebuts de la facturació"><span class="fa fa-plus-circle fa-1 persian"></span></a>
									{% endif %}
									</td>
									<td class="facturaciocurs-icones icon-cell">
										<a class="cercar-rebuts" href="{{ path('foment_gestio_rebuts', {'facturacio': facturacio.id }) }}" title="rebuts de la facturació"><span class="fa fa-search fa-1 persian"></span></a>
										{% if facturacio.esEsborrable == true %}
											<a class="esborrar-facturacio" href="javascript:void(0)" title="esborrar facturació"><span class="fa fa-remove fa-1x red"></span></a>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						{% endif %}
						{% for facturacio in form.facturacions %}
							<tr class="facturacio-row table-row-added" >
								<td class="hidden-col facturaciocurs-id"></td>
								<td class="table-field-left facturaciocurs-desc">{{ form_widget(facturacio.descripcio, {'attr': {'class': 'form-control form-control-left' } }) }}</td>
								<td class="table-field-right facturaciocurs-import">
									<div class="input-group">{{ form_widget(facturacio.importactivitat, {'attr': {'class': 'form-control form-control-right' } }) }}
										<span class="input-group-addon input-group-addon-icon"><span class="fa fa-eur fa-1x"></span></span></div>
								</td>
								<td class="table-field-right facturaciocurs-importnosoci">
									<div class="input-group">{{ form_widget(facturacio.importactivitatnosoci, {'attr': {'class': 'form-control form-control-right' } }) }}
										<span class="input-group-addon input-group-addon-icon"><span class="fa fa-eur fa-1x"></span></span></div>
								</td>
								<td class="table-field-center facturaciocurs-data">
									<div class="input-group">{{ form_widget(facturacio.datafacturacio, {'attr': {'class': 'form-control form-control-center datafacturacio-rowadded' } }) }}
										<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span></div>	
								</td>
								<td class="table-field-center facturaciocurs-calendari">
									<a class="obrir-calendari" href="{{ path('foment_gestio_carregarcalendari', {'id': facturacio.vars.id }) }}" title="Obrir planificació">
										<span class="fa fa-graduation-cap fa-1x orange"></span>
									</a>
								</td>
								<td class="table-field-center facturaciocurs-rebuts">
									crear-los {{ form_widget(facturacio.checkrebuts, {'attr': {'class': 'form-control form-control-center checkbox checkbox-under' } }) }}
								</td>
								<td class="facturaciocurs-icones icon-cell">
									<a class="esborrar-facturacio" href="javascript:void(0)" title="esborrar facturació"><span class="fa fa-remove fa-1x red"></span></a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{{ form_widget(form.facturacionsdeltemp) }}
				{# form_widget(form.docenciestmp) #}
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-control-right">
				<a id="add-facturacio"  class="btn btn-primary" href="javascript:void(0)">afegir facturació&nbsp;<span class="fa fa-plus-circle fa-1x"></span></a>
			</div>
		</div>
	</div>
	<div class="hr"></div>
	<div class="row">
		<div class="form-subblock col-md-12">
		{% if (activitat.id > 0) %}
			<h2 class="block-title ">llista de participants</h2>
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<div class="form-field full-width-container icon-container">
						{{ form_widget(form.participant, {'attr': {'placeholder': '', 'class': 'form-participant' } }) }}
						<a id="inscriure-action" href="{{ path('foment_gestio_activitatinscripcio', { id : activitat.id } ) }}"><span class="button-icon icon-btn-30x30 down blue"></span></a>
					</div>
				</div>
			</div>
			
		{% endif %}
		</div>
	</div>
	
	<div class="form-hidden">
    	{{ form_end(form) }}
    </div>
    <div class="row">
		<div class="form-subblock col-md-12">
		{% if (activitat.id > 0) %}
			<div id="taula-participants">
				<span class="show-hide-anulats">
				   	{% if queryparams['baixes'] == false %}
				   		<a href="{{ path('foment_gestio_activitat', { id : activitat.id, 'baixes': 1 } ) }}" class="mostrar-baixes">mostrar baixes<span class="fa fa-eye fa-1"></span></a>
				   	{% else %} 
						<a href="{{ path('foment_gestio_activitat', { id : activitat.id, 'baixes': 0 } ) }}" class="ocultar-baixes">ocultar baixes<span class="fa fa-eye-slash fa-1"></span></a>
					{% endif %}
				</span>
			
				{% set dades = activitat.getDadesFacturacio(queryparams['baixes']) %}
				{% include 'FomentGestioBundle:Rebuts:infoactivitat.html.twig' %}
			</div>
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<!-- Select2 plugin's -->
	<script src="{{ asset('js/select2.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/select2_locale_ca.js') }}" type="text/javascript"></script>
	
	<script type="text/javascript">

	/***** Selector persones *****/
	var text = 'vols afegir en/na __NOM__ a l\'activitat?';
	text += '\n<i>per finalitzar tanca la finestra</i>';
	var titol = 'Afegir persona a l\'activitat';
	
	var $collectionHolder;
	
	$(document).ready( function() {

		var maxdate = new Date();
		maxdate.setDate(dateNow.getDate() + 365);


		$('a#save-data').click(function(event) {
			event.preventDefault();
			$('form').submit();
		});

		$('a#remove-item').click(function(event) {
			event.preventDefault();
			var url = $(this).attr('href');

			var text = "Segur que vols esborrar-ho? ";
			
			obrirDialegConfirmacio(text, "Confirmar esborrat", 0, 400, 
				function() { // Ok
					window.location = url;
				}, 
				function() { // Ko
					// Res a fer
				}
			);
		});

		/******************** PARTICIPANTS : Taula de participants *****************************/
		
		init_cercapersones_JSON('.form-participant', 'afegir participant (nom i/o cognoms)', {{ activitat.id }}, 0);

		$('a#inscriure-action').click(function(event) {
			
			event.preventDefault();
			
			if ($('input.form-participant').val() != '') {
				var participant_id = $('input.form-participant').val();
				var filtre = $('#taula-participants .filtre-text').val();
				var perpage = $('#taula-participants .select-midapagina').val()
				
				var url = $(this).attr('href') + '&perpage='+perpage+'&filtre='+filtre+'&persona=' + participant_id;

				ajaxTaulaCallback(url, '#taula-participants');
				//window.location = url;
			} else {
				obrirDialegInformacio('Cal seleccionar algun participant',  'Informació d\'error');
			}
			
		});

		// esdeveniment delegat pq s'actualitza l'element 
		$('#taula-participants').on('click', 'a#cancelar-action', function (event) {
			event.preventDefault();

			var filtre = $('#taula-participants .filtre-text').val();
			var perpage = $('#taula-participants .select-midapagina').val()
			var url = $(this).attr('href') + '&perpage='+perpage+'&filtre='+filtre;
			
			var text = "Segur que vols cancel·lar la inscripció? ";
			
			obrirDialegConfirmacio(text, "Confirmar cancel·lació", 0, 400, 
				function() { // Ok
					ajaxTaulaCallback(url, '#taula-participants');
					//window.location = url;
				}, 
				function() { // Ko
					// Res a fer
				}
			);
		});

		//var url = $('a.nou-rebut').attr('href');
		
		editarRebutForm( 'a.nou-rebut','#taula-participants','Nou rebut',  callbackUpdateRebut );
		
		/******************************* FI PARTICIPANTS ****************************************/
		
		var maxdate = new Date();
		maxdate.setDate(dateNow.getDate() + (2*365));
		
		var defaultdate = new Date();
		
		initDateTimePicker ($( '#form_datafacturacio' ), dateNow,  maxdate, defaultdate, 'datafacturacio-picker', false);

		$( '.datafacturacio-rowadded' ).each(function( i ) {
			initDateTimePicker ($( this ), dateNow,  maxdate, defaultdate, 'datafacturacio-picker-rowadded'+i, false);
		});

		/******************** CALENDARI : Planificació sessions *****************************/
		
		// Delegat, obrir calendari associat a la facturació
		$('#facturacions-curs').on('click', 'a.obrir-calendari', function (event) {
			event.preventDefault();

			var url = $(this).attr('href');
			var descripcio = $(this).parents('tr.facturacio-row').find('td.facturaciocurs-desc').html(); // desc facturacio
			descripcio += ' (' + $('#activitat_descripcio').val() + ')'; // nom activitat
			
			$.get(url, function(data) {
				
				buttons = [
		          {	
			       	text: "Desar",
			        click: function() {
						// dades => $('#form_docenciesjson' ).val()
						$('.alert.alert-dismissible').remove();			        	

			        	var urlPost = "{{ path('foment_gestio_desarcalendari') }}";
			        	var params = [];
	        	
						params.push( {'name':'docenciesjson','value': $('#form_docenciesjson' ).val() } );

			        	$.post(urlPost, params, function(data) {

			        		$( '#dialeg-informacio' ).dialog( "close" ); 
					 		$( '#dialeg-informacio' ).html('');

					 		mostrarExitAjax('#block-form-activitat form', data);	

						}).fail(function(xhr, status, error) {
							
							var txtError = 'Error desant la planificació';
							if (xhr.responseText != '') txtError = xhr.responseText;

							mostrarErrorAjax('#planificacio-calendari-facturacio', txtError);	
						});
			        	
			       	}
			      },
			      {	
			       	text: "Descartar",
			        click: function() {
			        	$( '#dialeg-informacio' ).dialog( "close" ); 
				 		$( '#dialeg-informacio' ).html('');
			       	}
			      }];
				
				obrirDialegCustom(data,  'Planificació - '+descripcio, 0, 900, buttons, 'dialeg-calendari');

				// Tipus planificacions
				$( '.radio input.tipus-programacio[type="radio"]' ).change(function(e) {
					// data-value-init ==> Al pare
					var container = $(this).attr('container-data');

					$('.taula-programacio').hide();

					//alert(container);
					$(container).show();
					
				});
				
				$('#programacio-setmanal').show();
				$("#form_tipusprogramacio_0").prop("checked", true); // Radio button

				initDateTimePicker ($( '#form_datadesde' ), dateNow,  maxdate, defaultdate, 'datadesdemes-picker', false);
				initDateTimePicker ($( '#form_datasessio' ), dateNow,  maxdate, defaultdate, 'datasessio-picker', false);
				
				$('.select-hora').datetimepicker({
					  datepicker:false,
					  format:'H:i',
					  step: 30
				});
				
				init_cercapersones_JSON_noajax('#form_cercardocent', 'cercar docent: nom i/o cognoms', 2);

				var docencies = [];
				if ($('#form_docenciesjson' ).val() != '') docencies = JSON.parse( $('#form_docenciesjson' ).val() );

				urlUpdateTaula = "{{ path('foment_gestio_updatetaulaprogramacio') }}";
				urlUpdateTaula += "?id="+$('#form_facturacioid').val() * 1;
				repaintSessionsProgramades( urlUpdateTaula, docencies );  // Fer una còpia de les docències actuals i carregar la taula


				// *********** TABULACIONS ENTRE HORES SETMANAL **************
				
				$('#form_dlhorainici').change( function(){ if ( $(this).val() != "" ) $('#form_dlhorafinal').focus(); });
				$('#form_dmhorainici').change( function(){ if ( $(this).val() != "" ) $('#form_dmhorafinal').focus(); });
				$('#form_dxhorainici').change( function(){ if ( $(this).val() != "" ) $('#form_dxhorafinal').focus(); });
				$('#form_djhorainici').change( function(){ if ( $(this).val() != "" ) $('#form_djhorafinal').focus(); });
				$('#form_dvhorainici').change( function(){ if ( $(this).val() != "" ) $('#form_dvhorafinal').focus(); });

				$('#form_dlhorafinal').change( function(){ if ( $(this).val() != "" ) $('#form_dmhorainici').focus(); });
				$('#form_dmhorafinal').change( function(){ if ( $(this).val() != "" ) $('#form_dxhorainici').focus(); });
				$('#form_dxhorafinal').change( function(){ if ( $(this).val() != "" ) $('#form_djhorainici').focus(); });
				$('#form_djhorafinal').change( function(){ if ( $(this).val() != "" ) $('#form_dvhorainici').focus(); });
				$('#form_dvhorafinal').change( function(){ if ( $(this).val() != "" ) $('#form_dlhorainici').focus(); });
				
				// ********** AFEGIR PROGRAMACIÓ ************* 
				
				//$('a#add-programacio').on('click', function( e ) {
				$('a#add-programacio').click( function( e ) {	
			        // prevent the link from creating a "#" on the URL
			        e.preventDefault();

			        var url = $(this).attr('href');
		        
			        resetFormPlanificacio();
        
					// Validacions dades generals
					$('#form_cercardocent').removeClass('form-control-error');

					var docentId = $('#form_cercardocent').val();
					if (docentId == "") {
						mostrarErrorAjax('#planificacio-calendari-facturacio', 'Cal escollir algun professor');
			        	$('#form_cercardocent').addClass('form-control-error');
						return false;
					}
					docentId = docentId * 1;

					var dataDesde = $('#form_datadesde').val();
					$('#form_datadesde').removeClass('form-control-error');
					if (dataDesde == "") {
						mostrarErrorAjax('#planificacio-calendari-facturacio', 'Cal indicar la data d\'inici');
			        	$('#form_datadesde').addClass('form-control-error');
						return false;
					}
					
					var sessions = $('#form_hores').val();
					$('#form_hores').removeClass('form-control-error');
					if (sessions == "" || isNaN( sessions ) || ( !isNaN(sessions) && sessions < 0 ) ) {
						mostrarErrorAjax('#planificacio-calendari-facturacio', 'Cal indicar el total de sessions');
			        	$('#form_hores').addClass('form-control-error');
						return false;
					}
					$('#form_preuhora').removeClass('form-control-error');
					var preuSessioFormat = $('#form_preuhora').val();
					preuSessioFormat = preuSessioFormat.replace(",", ".")*1;  
					
					if ($('#form_preuhora').val() == "" || isNaN( preuSessioFormat ) || ( !isNaN(preuSessioFormat) && preuSessioFormat < 0 ) ) {
						mostrarErrorAjax('#planificacio-calendari-facturacio', 'Cal indicar el preu de cada sessió pel docent escollit');
			        	$('#form_preuhora').addClass('form-control-error');
						return false;
					}

					// Validacions periodicitats noves sessions
					var tipus = $("#form_tipusprogramacio_0").val();
					if ($("#form_tipusprogramacio_1").prop("checked") == true) tipus = $("#form_tipusprogramacio_1").val(); 
					if ($("#form_tipusprogramacio_2").prop("checked") == true) tipus = $("#form_tipusprogramacio_2").val();

					var novessessions = [];
					var dades = {}; 
					switch( tipus ) {
				    case "{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::PROG_SETMANAL') }}":

						var errordia = false;
				    	dades = dadesSetmanal(tipus, $('#form_dlhorainici'), $('#form_dlhorafinal'), "{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::DIA_DILLUNS') }}", "{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::INDEX_DILLUNS') }}" );
				    	if (dades != 'error') {
					    	if (dades != '') novessessions.push( dades );
				    	}
				    	else errordia = true;
			    		dades = dadesSetmanal(tipus, $('#form_dmhorainici'), $('#form_dmhorafinal'), "{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::DIA_DIMARTS') }}", "{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::INDEX_DIMARTS') }}" );
			    		if (dades != 'error') {
					    	if (dades != '') novessessions.push( dades );
				    	}
				    	else errordia = true;
			    		dades = dadesSetmanal(tipus, $('#form_dxhorainici'), $('#form_dxhorafinal'), "{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::DIA_DIMECRES') }}", "{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::INDEX_DIMECRES') }}" );
			    		if (dades != 'error') {
					    	if (dades != '') novessessions.push( dades );
				    	}
				    	else errordia = true;
			    		dades = dadesSetmanal(tipus, $('#form_djhorainici'), $('#form_djhorafinal'), "{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::DIA_DIJOUS') }}", "{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::INDEX_DIJOUS') }}" );
			    		if (dades != 'error') {
					    	if (dades != '') novessessions.push( dades );
				    	}
				    	else errordia = true;
			    		dades = dadesSetmanal(tipus, $('#form_dvhorainici'), $('#form_dvhorafinal'), "{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::DIA_DIVENDRES') }}", "{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::INDEX_DIVENDRES') }}" );
			    		if (dades != 'error') {
					    	if (dades != '') novessessions.push( dades );
				    	}
				    	else errordia = true;

					    if (errordia == true) {
				    		mostrarErrorAjax('#planificacio-calendari-facturacio', 'Falten dades de les sessions setmanals');
				    		return;
					    }
				        break;
				    case "{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::PROG_MENSUAL') }}":
				    	dades = dadesMensual(tipus, $('#form_setmanadelmes'), $('#form_diadelmes'), $('#form_horainicidiadelmes'), $('#form_horafinaldiadelmes'));
					    if (dades == 'error') {
				    		mostrarErrorAjax('#planificacio-calendari-facturacio', 'Falten dades de les sessions mensuals');
				    		return;
					    } else {
					    	if (dades != '') novessessions.push( dades );
						}
				        break;
				    case "{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::PROG_SESSIONS') }}":
				    	dades = dadesSessio(tipus, $('#form_datasessio'), $('#form_horainicisessio'), $('#form_horafinalsessio'), $('#form_datadesde'));
					    if (dades == 'error') {
				    		mostrarErrorAjax('#planificacio-calendari-facturacio', 'Falten dades de la sessió');
				    		return;
					    } else {
						    if (dades == 'error2') {
					    		mostrarErrorAjax('#planificacio-calendari-facturacio', 'La sessió és anterior a la data d\'inici');
					    		return;
						    } else {
					    		if (dades != '') novessessions.push( dades );
						    }
					    } 
					    break;
				    default:
				    	mostrarErrorAjax('#planificacio-calendari-facturacio', 'Error detectant la periodicitat');
		        		$('#form_tipusprogramacio').addClass('form-control-error');
						return;
					} 

					// Desar a docenciesjson planificacions format json
					/*
					docencies = [ { facturacio : id,
									docencies: [{ 
					                	docent: id,
					                	docentnom: nom, 
					                	datadesde: data,		 
					                	sessions: num	
					                 	preusessio: import, 
					                 	horari: [ {tipus: 'setmanal' | 'mensual'| 'sessio',
						                 			 dades: 'hh:ii+hh:ii+diasemana;...' | 'hh:ii+hh:ii+setmanames+diames' | 'hh:ii+hh:ii+dd/mm/yyyy',
						                 			 hora:  hora inici,
						                 			 final: hora final,
						                 			 info:  desc
					                 				}
							                 	  ]  
									 }] 
					 				}]    <<<<= 'docenciesjson'
					
					
					*/
					
					// MERGE noves dades JSON existents
					var facturacioid = $('#form_facturacioid').val() * 1;

					var docencies = [];
					if ($('#form_docenciesjson' ).val() != '') docencies = JSON.parse( $('#form_docenciesjson' ).val() );

					// Cerca docencia existent
					var indexDocencia = docencies.docencies.map( function(d) { return d['docent']; }).indexOf( docentId );

					if ( indexDocencia != -1 ) {
						//docent existent 
						$('#form_cercardocent').val()
						
						var currentDocencia = docencies.docencies[indexDocencia];
						var currentsessions = currentDocencia.horari;
						
						currentDocencia.datadesde = dataDesde;
						currentDocencia.sessions = sessions;
						currentDocencia.preusessio = preuSessioFormat;
								
						docencies.docencies[indexDocencia].horari = $.merge(currentsessions, novessessions);
					} else {
						// crear docencia
						docencies.docencies.push( { 'docent': docentId,
																		'docentnom': $('#planificacio-calendari-facturacio .select2-chosen').html(),	
																		'datadesde': dataDesde,
																		'sessions': sessions*1, 
																		'preusessio': preuSessioFormat*1.00, 	// $('#form_preuhora').val()*1.00, 
																		'horari': novessessions } ); 
					}

					repaintSessionsProgramades( url, docencies );
					
					clearFormPlanificacio();

			    });

				/****** TREURE DOCENTS ********/
				// Delegat, esborrar docent
				$('#detall-programacio-setmanal').on('click', 'a.treure-docent', function (event) {
					event.preventDefault();
					var url = $(this).attr('href');
					var docentId = $(this).attr('data-id')*1;

					esborrarFromDocencies(url, docentId, -1);
				});

				// ********** TREURE PROGRAMACIÓ ************* 
				// Delegate, esborrar horari
				$('#detall-programacio-setmanal').on('click', 'a.treure-programa', function (event) {
					event.preventDefault();
					var url = $(this).attr('href');
					var docentId = $(this).attr('data-id')*1;
					var horariIndex = $(this).attr('data-horari')*1;

					esborrarFromDocencies(url, docentId, horariIndex);
				});

				// Delegat, editar docent. Carregar dades docent formulari per edició
				$('#detall-programacio-setmanal').on('click', 'a.editar-docent', function (event) {
					event.preventDefault();

					loadFromDocencies( $(this).attr('data-id')*1 );
					
				});
				// Delegat, editar docent. Carregar dades docent i programació formulari per edició
				$('#detall-programacio-setmanal').on('click', 'a.editar-programa', function (event) {
					event.preventDefault();

					var url = $(this).attr('href');
					var docentId = $(this).attr('data-id')*1; 
					var horariIndex = $(this).attr('data-horari')*1;
					
					var dataRowSessio = $(this).parents('.sessions-row.sessions-row-'+docentId);
					
					var dades = dataRowSessio.find('.infoprograma-original').html();
					var prog = dades.split("+");
					
					if (dataRowSessio.hasClass( "sessions-row-"+"{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::PROG_SETMANAL') }}" )) {
						//  hh:ii+hh:ii+diasemana
						if (prog.length != 3) {
							$('#planificacio-calendari-facturacio .alert').remove();
							mostrarErrorAjax('#planificacio-calendari-facturacio', 'No s\'ha pogut carregar la programació '+dades+''+prog.length);
							return false;
						}
						esborrarFromDocencies(url, docentId, horariIndex);
						
						$("#form_tipusprogramacio_0").prop("checked", true).change();
						
						var codiDia = '';	
						if (prog[2] == "{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::INDEX_DILLUNS') }}") {
							codiDia = 'dl';
						}	
						if (prog[2] == "{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::INDEX_DIMARTS') }}") {
							codiDia = 'dm';
						}	
						if (prog[2] == "{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::INDEX_DIMECRES') }}") {
							codiDia = 'dx';
						}	
						if (prog[2] == "{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::INDEX_DIJOUS') }}") {
							codiDia = 'dj';
						}	
						if (prog[2] == "{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::INDEX_DIVENDRES') }}") { 
							codiDia = 'dv';
						}	

						$('#form_'+codiDia+'horainici').val (prog[0]);
						$('#form_'+codiDia+'horafinal').val (prog[1]);	 
						 
					}	
					if (dataRowSessio.hasClass( "sessions-row-"+"{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::PROG_MENSUAL') }}" )) {
						//  hh:ii+hh:ii+diames+diasemana 
						if (prog.length != 4) {
							$('#planificacio-calendari-facturacio .alert').remove();
							mostrarErrorAjax('#planificacio-calendari-facturacio', 'No s\'ha pogut carregar la programació '+dades+''+prog.length);
							return false;
						}
						esborrarFromDocencies(url, docentId, horariIndex);

						$("#form_tipusprogramacio_1").prop("checked", true).change();
						$('#form_horainicidiadelmes').val (prog[0]);
						$('#form_horafinaldiadelmes').val (prog[1]);
						$('#form_setmanadelmes').val (prog[2]);
						$('#form_diadelmes').val (prog[3]);
					}	
					if (dataRowSessio.hasClass( "sessions-row-"+"{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::PROG_SESSIONS') }}" )) {
						//  hh:ii+hh:ii+dd/mm/yyyy 
						if (prog.length != 3) {
							$('#planificacio-calendari-facturacio .alert').remove();
							mostrarErrorAjax('#planificacio-calendari-facturacio', 'No s\'ha pogut carregar la programació '+dades+''+prog.length);
							return false;
						}

						esborrarFromDocencies(url, docentId, horariIndex);

						$("#form_tipusprogramacio_2").prop("checked", true).change();
						$('#form_horainicisessio').val (prog[0]);
						$('#form_horafinalsessio').val (prog[1]);
						$('#form_datasessio').val (prog[2]);
					}	
					
					loadFromDocencies( docentId );
				});
				
			}).fail(function(xhr, status, error) {
				if (xhr.responseText != '') {
					mostrarErrorAjax('#block-form-activitat form', xhr.responseText);
				} else { 
					obrirDialegInformacio('Error obrint el calendari',  'Informació d\'error');
				}
			});
		});

		/*********************************** CALENDARI FI *************************************/
		
		
		
		/*******************************  FACTURACIONS ***********************************/
		
		// Afegir facturacions collection symfony2
		//http://symfony.com/doc/current/cookbook/form/form_collections.html#allowing-new-tags-with-the-prototype

		$collectionHolder = $('#facturacions-curs .table tbody');

    	$collectionHolder.data('index', $collectionHolder.find('.facturacio-row').length);
    	
    	// Crear facturació
		$('a#add-facturacio').on('click', function(e) {
	        // prevent the link from creating a "#" on the URL
	        e.preventDefault();
	        // add a new tag form (see next code block)
	        addTagForm($collectionHolder);

	        $('#facturacions-curs').addClass('form-control-changed');
	    });

		// Delegat, esborrar facturació
		$('#facturacions-curs').on('click', 'a.esborrar-facturacio', function (event) {
			event.preventDefault();

			$collectionHolder = $('#facturacions-curs .table tbody');

			$parentRow = $(this).parents('tr');

			if ($parentRow.hasClass('table-row-added')) { // No desada, carregada jquery, treure la fila i prou
				$parentRow.remove();
			} else {
				// Facturació existent. Afegir id a facturacionsdeltemp
				$parentRow.addClass('table-row-removed');	
				var id = $parentRow.find('.facturaciocurs-id').html(); 
				
				var idscurrent = $('#activitat_facturacionsdeltemp').val();
				if (idscurrent != '') idscurrent += ',';
				idscurrent += id;
				$('#activitat_facturacionsdeltemp').val(idscurrent);
				$('#facturacions-curs').addClass('form-control-changed');
			}

			if ($('#facturacions-curs tbody tr.facturacio-row').not('tr.table-row-removed').length == 0) {
				$('#facturacions-curs tbody').append('<tr class="fila-error"><td colspan="5"><div class="alert"><div class="alert alert-success">no hi ha cap facturació per aquest curs</div></div></td></tr>');
			}
		});


	});
		/******************************* FACTURACIONS FI *********************************/
		
	ajaxTaulaDialegCallback = function(url, elemSel) {
		obrirMascaraBlock('#dialeg-informacio');

		var currentdate = new Date();
		var maxBaixa = new Date();
		var minBaixa = new Date();
		minBaixa.setDate(currentdate.getDate() - 365);
		maxBaixa.setDate(currentdate.getDate() + 365);
			
		$.get(encodeURI(url), function(data) {
			tancarMascaraBlock('#dialeg-informacio');

			$( '#dialeg-informacio' ).html(data);
			
			createSelects($('.poblacio-container .search-field'),'municipi', 'cercar població'); 
			createSelects($('.provincia-container .search-field'),'provincia', 'cercar provincia'); 
			initDateTimePicker ($( '#proveidor_databaixa' ), minBaixa, maxBaixa, currentdate, 'databaixa-picker', false);
			
		}).fail(function(xhr, status, error) {
			tancarMascaraBlock('#dialeg-informacio');
			var txtError = 'S\'ha produït un error consultant les dades';
			if (xhr.responseText != '') txtError = xhr.responseText;
				
			mostrarErrorAjax('#dialeg-informacio', txtError);
		});
	}
	
	function addTagForm($collectionHolder) {
		$('.fila-error').remove();
		
		var prototypeDatafacturacio = $collectionHolder.data('prototype-datafacturacio');
		var prototypeDescripcio = $collectionHolder.data('prototype-descripcio');
		var prototypeImportactivitat = $collectionHolder.data('prototype-importactivitat');
		var prototypeImportactivitatnosoci = $collectionHolder.data('prototype-importactivitatnosoci');
		var prototypeChecksrebuts = $collectionHolder.data('prototype-checkrebuts');
		
		var index = $collectionHolder.data('index');	    // get the new index
		
		var newDatafacturacioField = prototypeDatafacturacio.replace(/__name__/g, index); // Replace '__name__' in the prototype's HTML to
		var newDescripcioField = prototypeDescripcio.replace(/__name__/g, index); 
		var newImportactivitatField = prototypeImportactivitat.replace(/__name__/g, index);
		var newImportactivitatnosociField = prototypeImportactivitatnosoci.replace(/__name__/g, index);  
		var newChecksrebutsField = prototypeChecksrebuts.replace(/__name__/g, index);

		$cloneProto = $('#facturacions-curs tr.table-row-prototype').clone( );

		$cloneProto.removeClass('table-row-prototype');
		$cloneProto.addClass('facturacio-row');
		
		var tpId = $(newDatafacturacioField).attr('id');

		var desc = $(newDescripcioField).val();

		$cloneProto.find('.facturaciocurs-data .input-group').prepend(newDatafacturacioField);
		$cloneProto.find('.facturaciocurs-import .input-group').prepend(newImportactivitatField);
		$cloneProto.find('.facturaciocurs-importnosoci .input-group').prepend(newImportactivitatnosociField);
		$cloneProto.find('.facturaciocurs-rebuts').prepend(newChecksrebutsField);
		$cloneProto.find('.facturaciocurs-desc').append(newDescripcioField);

		// Canviar desc	
		$cloneProto.find('.facturaciocurs-desc input').val( desc );
		
	    $collectionHolder.data('index', index + 1);
	    
	    $collectionHolder.append($cloneProto);

	    var maxdate = new Date();
		maxdate.setDate(dateNow.getDate() + (2*365));
	    initDateTimePicker( $('#'+tpId) , dateNow,  maxdate, dateNow, 'datafacturacio-picker-'+index, false);
	    
	}

	function esborrarFromDocencies(url, docentId, horari) {
		var docencies = [];
		if ($('#form_docenciesjson' ).val() != '') docencies = JSON.parse( $('#form_docenciesjson' ).val() );

		// Cerca docencia existent
		var indexDocencia = docencies.docencies.map( function(d) { return d['docent']; }).indexOf( docentId );

		if (horari < 0) { // Esborrar el docent. Tots els horaris
			docencies.docencies.splice(indexDocencia,1); // Esborrar i actualitzar
		} else {  // Esborrar un horari
			docencies.docencies[indexDocencia].horari.splice(horari,1); // Esborrar i actualitzar
		}

		repaintSessionsProgramades( url, docencies );

		clearFormDocent();
	}

	function loadFromDocencies(docentId) {
		var dataRowDocent = $('.docencia-row-'+docentId);
	
		var nom = dataRowDocent.find('.profe-nom').html();
		var desde = dataRowDocent.find('.profe-desde').html();
		var hores = dataRowDocent.find('.profe-hores').html();
		var preu = dataRowDocent.find('.profe-preu span').html();
		
		 
		$('#form_cercardocent').val( docentId ).change(); // Force update
		$('#form_datadesde').val( desde );
		$('#form_hores').val( hores );
		$('#form_preuhora').val( preu );
	}
	
	function dadesSetmanal(tipus, horainici, horafinal, strDia, indexDia) {
		// Setmanal ==> 'hh:ii+hh:ii+diasemana'
		if (horainici.val() == '' && horafinal.val() == '') return '';
			
		if (horainici.val() == '') { // Només una de les dues hores informada
			horainici.addClass('form-control-error');
			return 'error';
		}
		if (horafinal.val() == '') {  // Només una de les dues hores informada
			horafinal.addClass('form-control-error');
			return 'error';
		}

		return { 'tipus' : tipus, 
			 'dades' : horainici.val()+'+'+horafinal.val()+'+'+indexDia,
			 'hora'  : horainici.val(),
			 'final' : horafinal.val(),
			 'info'  : strDia
		   };
	}
	
	function dadesMensual(tipus, setmanadelmes, diadelmes, horainicidiadelmes, horafinaldiadelmes) {
		// Mensual ==> 'hh:ii+hh:ii+setmanadelmes+diadelmes;'
		if (setmanadelmes.val()  == '' && diadelmes.val()  == '' && horainicidiadelmes.val()  == '' && horafinaldiadelmes.val() == '') return ''; // Cap sessió planificada
		
		if (setmanadelmes.val()  == '' || diadelmes.val()  == '' || horainicidiadelmes.val()  == '' || horafinaldiadelmes.val() == '') {
			if (setmanadelmes.val() == '') setmanadelmes.addClass('form-control-error');
			if (diadelmes.val() == '') diadelmes.addClass('form-control-error');
			if (horainicidiadelmes.val() == '') horainicidiadelmes.addClass('form-control-error');
			if (horafinaldiadelmes.val() == '') horafinaldiadelmes.addClass('form-control-error');
			return 'error';
		}

		return { 'tipus' : tipus, 
			 'dades' : horainicidiadelmes.val()+'+'+horafinaldiadelmes.val()+'+'+setmanadelmes.val()+'+'+diadelmes.val(),
			 'hora'  : horainicidiadelmes.val(),
			 'final' : horafinaldiadelmes.val(),
			 'info'  : $( "#"+setmanadelmes.prop('id')+ " option:selected" ).text()+' '+$( "#"+diadelmes.prop('id')+ " option:selected" ).text(),
		   };
	}
	
	function dadesSessio(tipus, datasessio, horainicisessio, horafinalsessio, datadesde) {
		// Sessió nova  ==> 'hh:ii+hh:ii+dd/mm/yyyy;'
		if (datasessio.val() == '' && horainicisessio.val() == '' && horafinalsessio.val() == '') return ''; // Cap sessió planificada
			
		if (datasessio.val() == '' || horainicisessio.val() == '' || horafinalsessio.val() == '') {
			if (datasessio.val() == '') datasessio.addClass('form-control-error');
			if (horainicisessio.val() == '') horainicisessio.addClass('form-control-error');
			if (horafinalsessio.val() == '') horafinalsessio.addClass('form-control-error');
			return 'error';
		}

		if (Date.parse( datasessio.val() ) < Date.parse( datadesde.val() )) {
			datasessio.addClass('form-control-error');
			return 'error2';
		}

		return { 'tipus' : tipus, 
				 'dades' : horainicisessio.val()+'+'+horafinalsessio.val()+'+'+datasessio.val(),
				 'hora'  : horainicisessio.val(),
				 'final' : horafinalsessio.val(),
				 'info'  : datasessio.val()
			   };
	}

	function resetFormPlanificacio() {
		// Clear form errors
		$('.alert.alert-danger').remove();

		// setmanal
		$('#form_dlhorainici').removeClass('form-control-changed form-control-error');
		$('#form_dmhorainici').removeClass('form-control-changed form-control-error');
		$('#form_dxhorainici').removeClass('form-control-changed form-control-error');
		$('#form_djhorainici').removeClass('form-control-changed form-control-error');
		$('#form_dvhorainici').removeClass('form-control-changed form-control-error');
		
		$('#form_dlhorafinal').removeClass('form-control-changed form-control-error');
		$('#form_dmhorafinal').removeClass('form-control-changed form-control-error');
		$('#form_dxhorafinal').removeClass('form-control-changed form-control-error');
		$('#form_djhorafinal').removeClass('form-control-changed form-control-error');
		$('#form_dvhorafinal').removeClass('form-control-changed form-control-error');
		
		// mensual
		$('#form_setmanadelmes').parent('.form-select').removeClass('form-control-changed form-control-error');
		$('#form_diadelmes').parent('.form-select').removeClass('form-control-changed form-control-error');
		$('#form_horainicidiadelmes').removeClass('form-control-changed form-control-error');
		$('#form_horafinaldiadelmes').removeClass('form-control-changed form-control-error');

		// sessio
		$('#form_datasessio').removeClass('form-control-changed form-control-error');
		$('#form_horainicisessio').removeClass('form-control-changed form-control-error');
		$('#form_horafinalsessio').removeClass('form-control-changed form-control-error');
	}

	function clearFormDocent() {
		// Clear docent form values
		$('#form_cercardocent').val('');
		$('#form_datadesde').val('');
		$('#form_hores').val('');
		$('#form_preuhora').val('');
	}
	
	function clearFormPlanificacio() {
		// Clear form values
		/*$('#form_datadesde').val('');
		$('#form_hores').val('');
		$('#form_preuhora').val('');  => Mantenir aquestes dades per si cal afegir varies sessions al mateix docent */ 
		$("#form_tipusprogramacio_0").prop("checked", true);
		$('#programacio-sessions').hide();
		$('#programacio-mensual').hide();
		$('#programacio-setmanal').show();
		
		
		// setmanal
		$('#form_dlhorainici').val('');
		$('#form_dmhorainici').val('');
		$('#form_dxhorainici').val('');
		$('#form_djhorainici').val('');
		$('#form_dvhorainici').val('');
		
		$('#form_dlhorafinal').val('');
		$('#form_dmhorafinal').val('');
		$('#form_dxhorafinal').val('');
		$('#form_djhorafinal').val('');
		$('#form_dvhorafinal').val('');
		
		// mensual
		$('#form_setmanadelmes').val('');
		$('#form_diadelmes').val('');
		$('#form_horainicidiadelmes').val('');
		$('#form_horafinaldiadelmes').val('');
		
		// sessio
		$('#form_datasessio').val('');
		$('#form_horainicisessio').val('');
		$('#form_horafinalsessio').val('');

		resetFormPlanificacio();
	}
	
	function repaintSessionsProgramades( url, docencies ) {
		// Crida per actualitzar taula sessions 
		$('#form_docenciesjson' ).val( JSON.stringify(docencies) );
		
		url += '&docencies='+encodeURIComponent(JSON.stringify(docencies.docencies)); // Només docències facturació actual

		$.get( url, function(data) {

			$( '#detall-programacio-setmanal' ).html(data); 

		}).fail(function(xhr, status, error) {

			mostrarErrorAjax('#planificacio-calendari-facturacio', 'S\'ha produït un error actualitzant les sessions');				
		});
	}

	callbackUpdateRebut = function ( submitResponse ) {
		var url = "{{ path('foment_gestio_activitat', {'id': activitat.id }) }}";

		ajaxTaulaCallback(url, '#taula-participants');		
		//window.location = url;
	}

	var maskSel = '#taula-participants';		

	</script>
	
	{% include 'FomentGestioBundle:Includes:taularebuts.js.twig' %}
{% endblock %}