{# src/Foment/GestioBundle/Resources/views/Page/activitats.html.twig #}
{% extends 'FomentGestioBundle::layout.html.twig' %}

{% block title %}Gestió de dades de les activitats{% endblock %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('foment_gestio_homepage') }}"><span class="fa fa-home fa-1x"></span> Inici</a></li><li><span class="current">Cursos i tallers</span></li>
{% endblock %}

{% block containerclass %}activitats-page{% endblock %}

{% block pagetitle %}Cursos i tallers{% endblock %}

{% block topbuttons %}
	<li><a id="nova-activitat" href="{{ path('foment_gestio_activitat') }}" title="afegir un nou curs, taller o activitat">
		<span class="button-icon icon-btn-40x40 add orange"></span>
			<span class="button-text">curs</span></a></li>
	<li><a id="nou-rebut" href="{{ path('foment_gestio_editarrebut', ({'id': 0, 'tipus': 2}) ) }}" title="afegir un rebut per a un curs o taller">
			<span class="button-icon icon-btn-40x40 invoice blue"></span>
				<span class="button-text">+rebut</span></a></li>
	<li><a id="export-activitats" href="{{ path('foment_gestio_exportactivitats') }}" target="_blank" title="exportar les dades dels cursos, tallers ...">
			<span class="button-icon icon-btn-40x40 spreadsheet green"></span>
				<span class="button-text">exportar</span></a></li>
{% endblock %}

{% block main %}
	<div id="block-activitats" class="page-block">
	{% include 'FomentGestioBundle:Includes:messages.html.twig' %}
	
	{% include 'FomentGestioBundle:Includes:taulaactivitats.html.twig' %}
	</div>
{% endblock %}


{% block javascripts %}

	{{ parent() }}

	<!-- Select2 plugin's -->
	<script src="{{ asset('js/select2.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/select2_locale_ca.js') }}" type="text/javascript"></script>
	
	<script type="text/javascript">

	loadFacturacioActivitat = function( urlFacturacio ) {

		$.get(urlFacturacio, function(data) {
			
			$( '#dialeg-informacio' ).html(data);
			
			//**********************  FACTURACIO ACTIVITAT **************************

			editarRebutForm($('a.editar-rebut'), '.table-rebuts-participants', 'Edició rebut', function( submitResponse ) {
				 
				loadFacturacioActivitat(urlFacturacio);
			});
			
			$( "#export-rebuts" ).click(function(event) {
				event.preventDefault();
				url = $(this).attr('href');
				if (typeof $("#activitat").val() !== 'undefined') {
					window.location = url + '?id='+$("#activitat").val();
				}
			});

			$( ".cobrar-rebut" ).click(function(event) {
				event.preventDefault();
				url = $(this).attr('href');
				obrirMascaraBlock('#taula-activitat');

				$.get(url, function(data) {
					tancarMascaraBlock('#taula-activitat');

					loadFacturacioActivitat(urlFacturacio);	 
						
				}).fail(function(data) {
					tancarMascaraBlock('#taula-activitat');	

					mostrarErrorAjax('#taula-activitat', data.responseText);
				});	
			});

			$('a.enviar-pagament').click(function(event) {
				event.preventDefault();
				
				url = $(this).attr('href');  

				obrirMascaraBlock('.taula-resultats');
				
				$('#dialeg-formulari').html('');
					
				$.get(url, function(data) {
					tancarMascaraBlock('.taula-resultats');
					$( '#dialeg-formulari' ).html(data);

					$( '#dialeg-formulari' ).dialog({
						 resizable: true,
						 title: 'Pagament',
						 width: 700,
						 modal: true
					});

				}).fail(function(xhr, status, error) {
					tancarMascaraBlock('.taula-resultats');
					obrirDialegInformacio('Error mostrant el formulari de pagament',  'Informació d\'error');
				});
				
			});
			
		}).fail(function(xhr, status, error) {
			var strError = 'Error obrint la facturacio';
			
			if (xhr.responseText != '') strError = xhr.responseText;
			  
			$( '.ui-dialog-title' ).html('Informació d\'error');
			$( '#dialeg-informacio' ).html(strError);	
			
		});
	}
	
	$(document).ready( function() {
		
		// Taula d'activitats 
		{% set queryparamsc = queryparams|merge({ 'perpage': '__PERPAGE__', 'filtre': '__FILTRE__'}) %}
		var url = '{{ path('foment_gestio_activitats', queryparamsc)|raw }}';
		
		preparePaginatedSortedTable('#block-activitats', url, ajaxTaulaCallback); 


		// esdeveniments delegats
		$('#block-activitats').on('click', 'a.mostrar-activitat', function (event) {
			event.preventDefault();
			var url = $(this).attr('href');
		
			$('.top-buttons').hide( 'slide', { direction: 'right' }, 'slow');
			$('#block-activitats').hide( 'slide', { direction: 'up' }, 'slow', function() {
				window.location = url;
			});
		});

		// esdeveniments delegats
		$('#block-activitats').on('click', 'a.veure-facturacio', function (event) {
			event.preventDefault();
			var urlFacturacio = $(this).attr('href');

			//var descripcio = $(this).parents('tr').find('td.descactivitat').html(); // desc activitat
			var descripcio = $(this).attr('data-activitat'); // desc activitat

			buttons = [
						{	
						  	text: "Tancar",
						    click: function() {
						      	$( '#dialeg-informacio' ).dialog( "close" ); 
						 		$( '#dialeg-informacio' ).html('');
						   	}
						 }];
							
			//obrirDialegCustom(data,  'Facturacio - '+descripcio, 0, 1200, buttons, 'dialeg-facturacio');
			obrirDialegCustom('',  'Facturacio - '+descripcio, 0, 1200, buttons, 'dialeg-facturacio');
			
			loadFacturacioActivitat( urlFacturacio );
			
		});
		
		
		$('#block-activitats').on('click', 'a.esborrar-activitat', function (event) {
		//$('a.esborrar-activitat').click(function(event) {
			event.preventDefault();
			var url = $(this).attr('href');

			var text = "Segur que vols cancel·lar l'activitat? ";
			
			obrirDialegConfirmacio(text, "Confirmar cancel·lació", 0, 400, 
				function() { // Ok
					window.location = url;
					//window.location = url;
				}, 
				function() { // Ko
					// Res a fer
				}
			);
		});

		$('#block-activitats').on('click', 'a.clonar-activitat', function (event) {
			event.preventDefault();
			var url = $(this).attr('href');

			var text = "Clonar també els participants actuals? Si / No ";
				
			obrirDialegSiNo(text, "Clonar curs o activitat", 0, 400, 
				function() { // Si
					window.location = url+'&participants=1';
				}, 
				function() { // No
					// Res a fer
					window.location = url+'&participants=0';
				}
			);
		});
		
		// esdeveniments delegats
		$('#block-activitats').on('click', 'a.show-activitat, a.hide-activitat', function (event) {
			event.preventDefault();

			var activitatRow = $(this).parents('tr'); 
			
			var url = $(this).attr('href');

			$('.alert').remove();
			
			$.get(url, function(data) {
				activitatRow.removeClass('activitat-activa');
				activitatRow.addClass('activitat-finalitzada');
				
			}).fail(function(xhr, status, error) {
				var txtError = 'S\'ha produït un error';
				if (xhr.responseText != '') txtError = xhr.responseText;
					
				mostrarErrorAjax('#block-activitats', txtError);
			});
	        
		});
		
	});
			
	</script>
{% endblock %}