{# src/Foment/GestioBundle/Resources/views/Page/soci.html.twig #}
{% extends 'FomentGestioBundle::layout.html.twig' %}

{% block title %}Cerca de dades personals{% endblock %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('foment_gestio_homepage') }}"><span class="fa fa-home fa-1x"></span> Inici</a></li><li><span class="current">Persones</span></li>
{% endblock %}

{% block containerclass %}searchsoci-page{% endblock %}

{% block pagetitle %}Cerca dades personals{% endblock %}

{% block topbuttons %}
<li><a id="cerca-dades-personals" href="{{ path('foment_gestio_cercapersones') }}" id="submit-search"><span class="button-icon icon-btn-40x40 search blue"></span>
	<span class="button-text">cercar</span></a></li>
<li><a id="imprimir-carnets" href="{{ path('foment_gestio_imprimircarnets', queryparams) }}" target="_blank"><span class="button-icon icon-btn-40x40 card persian"></span>
	<span class="button-text">carnets</span></a></li>
<li><a id="imprimir-etiquetes" href="{{ path('foment_gestio_imprimiretiquetes', queryparams) }}" target="_blank"><span class="button-icon icon-btn-40x40 mail pumpkin"></span>
	<span class="button-text">etiquetes</span></a></li>
<li><a id="llista-dades-personals" href="{{ path('foment_gestio_pdfpersones', queryparams) }}" target="_blank"><span class="button-icon icon-btn-40x40 pdf red"></span>
	<span class="button-text">pdf</span></a></li>
<li><a id="export-dades-personals" href="{{ path('foment_gestio_exportpersones', queryparams) }}" target="_blank"><span class="button-icon icon-btn-40x40 spreadsheet green"></span>
	<span class="button-text">exportar</span></a></li>
<li><a class="reset-form" href="javascript:void(0)"><span class="button-icon icon-btn-40x40 remove pumpkin"></span>
	<span class="button-text">netejar</span></a></li>
{% endblock %}

{% block main %}

{% include 'FomentGestioBundle:Includes:messages.html.twig' %}

<div class="panel panel-default taula-formulari full-width-container">
	<div class="panel-heading"><span class="blue-title">Formulari de cerca</span><a class="show-hide-block" href="#form-cerca-persones"><span class="fa fa-minus-square-o fa-1 blue"></span></a></div>
	<div id="form-cerca-persones" class="taula-formulari-content">
	{{ form_start(form, {'action': path('foment_gestio_cercapersones') }) }}
	{% if form_errors(form) %}
	 	<div class="form-errors">{{ form_errors(form) }}</div>
    {% endif %}
	    <div class="form-block">
	    	
				
			<div class="row">	
				<div class="form-field col-md-3 col-sd-4 col-xs-6">
					<h4 class="form-block-label">número</h4>
		    		<div class="input-group"><span class="input-group-addon input-group-addon-short">núm.</span>
		        	{{ form_widget(form.numini, {'attr': {'placeholder': '', 'class': 'form-control form-control-center', 'data-value-init': '' } })  }}</div>
		        </div>
				<div class="form-field col-md-3 col-sd-4 col-xs-6">
					<h4 class="form-block-label">&nbsp;</h4>
		        	<div class="input-group multiple-container"><span class="input-group-addon input-group-addon-short"><div class="checkbox">{{ form_widget(form.numficheck)  }} <label>fins</label></div></span>
		       		{{ form_widget(form.numfi, {'attr': {'placeholder': '', 'class': 'form-control  form-control-center', 'data-value-init': '' } })  }}</div>
				</div>
		        <div class="form-field col-md-6 col-sd-6 col-sd-12">
	        		<h4 class="form-block-label">opcions de soci</h4>
					<div class="input-group multiple-container filtre-container">
						<span class="input-group-addon input-group-addon-icon"><span class="fa fa-users fa_1x"></span></span>
		        		<div class="checkbox form-control">{{ form_widget(form.socis, {'attr': {'class': '', 'data-value-init': true } })  }} <label>socis<br/>actius</label></div>
		       	       	<div class="checkbox form-control">{{ form_widget(form.pendents, {'attr': {'class': '', 'data-value-init': '0' } })  }} <label>pendents<br/>de vist i plau</label></div>
		               	<div class="checkbox form-control">{{ form_widget(form.baixes, {'attr': {'class': '', 'data-value-init': '0' } })  }} <label>incloure<br/>baixes</label></div>
		        	</div>
		        </div>
	        </div>
	    </div>
		<div class="form-block row variable-row">
			<div class="form-subblock col-md-4">
				<h4 class="form-block-label">nom</h4>
				<div class="form-field full-width-container ">
	    			<div class="input-group"><span class="input-group-addon input-group-addon-short">nom</span>
	        		{{ form_widget(form.nom, {'attr': {'placeholder': '--', 'class': 'form-control', 'data-value-init': ''} })  }}</div>
	        	</div>
	        	<h4 class="form-block-label">cognoms</h4>
				<div class="form-field full-width-container ">
	    			<div class="input-group"><span class="input-group-addon input-group-addon-short">cognom</span>
	        		{{ form_widget(form.cognoms, {'attr': {'placeholder': '--', 'class': 'form-control', 'data-value-init': '' } })  }}</div>
	        	</div>
			</div>
			<div class="form-subblock col-md-8">
				<h4 class="form-block-label">correu electrònic</h4>
				<div class="form-field">
	    	    	<div class="input-group multiple-container sexe-container"><span class="input-group-addon input-group-addon-short">mail</span>
						<div class="checkbox form-control">{{ form_widget(form.nomail, {'attr': {'data-value-init': '0' } })  }} <label>sense</label></div>
						<div class="checkbox form-control">{{ form_widget(form.simail, {'attr': {'data-value-init': '0' } })  }} <label>amb</label></div>
						<span class="input-group-addon input-group-addon-icon"><span class="fa fa-envelope"></span></span>
	        		{{ form_widget(form.mail, {'attr': {'placeholder': '--', 'class': 'form-control', 'data-value-init': '' } })  }}
					</div>
				</div>
				<h4 class="form-block-label">nascuts entre</h4>
				<div class="form-field data-container">
					<div class="input-group"><span class="input-group-addon input-group-addon-short">des de</span>{{ form_widget(form.datanaixementini, {'attr': {'placeholder': '', 'class': 'form-control', 'data-value-init': '' } })  }}
	    	    	<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span></div>
	    	    </div>
	    	    <div class="form-field  data-container">
		        	<div class="input-group"><span class="input-group-addon input-group-addon-short">fins</span>{{ form_widget(form.datanaixementfi, {'attr': {'placeholder': '', 'class': 'form-control', 'data-value-init': '' } })  }}
	    	    	<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span></div>
	    	    </div>
			</div>
		</div>
		<div class="form-block row variable-row">
			<div class="form-subblock col-md-3">
				<h4 class="form-block-label">altres</h4>
				<div class="form-field full-width-container ">
	    			<div class="input-group"><span class="input-group-addon input-group-addon-short">dni</span>
	        		{{ form_widget(form.dni, {'attr': {'placeholder': '--', 'class': 'form-control', 'data-value-init': '' } })  }}</div>
	        	</div>
	        	<div class="form-field">
	    	    	<div class="input-group multiple-container sexe-container"><span class="input-group-addon input-group-addon-short">sexe</span>
						<div class="checkbox form-control">{{ form_widget(form.sexehome, {'attr': {'data-value-init': '1' } })  }} <label>Home</label></div>
						<div class="checkbox form-control">{{ form_widget(form.sexedona, {'attr': {'data-value-init': '1' } })  }} <label>Dona</label></div>
					</div>
				</div>
			</div>
	        <div class="form-subblock col-md-4">
	        	<div class="form-field  full-width-container seccions-container">
					<h4 class="form-block-label">seccions</h4>
					{{ form_widget(form.seccions, {'attr': {'class': 'form-control', 'data-value-init': ''  } })  }}
				</div>
			</div>
			<div class="form-subblock col-md-5">
				<h4 class="form-block-label">cursos, tallers, activitats</h4>
				<div class="form-field full-width-container">
					{{ form_widget(form.cercaactivitats, {'attr': {'data-value-init': '', 'class': 'select2-container select2-container-multi'  } })  }}
				</div>
			</div>
		</div>
	{{ form_end(form) }}
	</div>
</div>
	<div class="page-block">
		<h2 class="block-title">Resultats de la cerca</h2>
		<div class="panel panel-default taula-resultats full-width-container">
			<div class="panel-heading">
				<div class="row"><span class="col-md-6 blue-title">Dades filtrades</span>
				<span class="col-md-6 text-right total-rowcount blue-title">Total: {{ persones.getTotalItemCount|number_format(0, ',', '.') }}</span></div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th class="hpersonesbaixa table-field-center">&nbsp;</th>
						<th class="hpersonesnum table-field-center">
							{% if persones.isSorted('s.id') %}<span class="fa fa-sort fa-1x"></span>{% endif %} 
							{{ knp_pagination_sortable(persones, 'número', 's.id') }}</th>
						<th class="hpersonesnom table-field-left">
							{% if persones.isSorted('s.cognoms') %} 
								<span class="fa fa-sort fa-1x"></span>{{ knp_pagination_sortable(persones, 'nom', 's.cognoms') }}
							{% else %}	
								{{ knp_pagination_sortable(persones, 'nom', 's.cognoms', {'direction': 'desc'}) }}
							{% endif %}	</th>
						<th class="hpersonesnaixement table-field-left">
							{% if persones.isSorted('s.datanaixement') %}<span class="fa fa-sort fa-1x"></span>{% endif %} 
							{{ knp_pagination_sortable(persones, 'nascut/da', 's.datanaixement')|raw }}</th>
						<th class="hpersonesfoto table-field-center">foto</th>
						<th class="hpersonesdni table-field-left">
							{% if persones.isSorted('s.dni') %}<span class="fa fa-sort fa-1x"></span>{% endif %} 
							{{ knp_pagination_sortable(persones, 'dni', 's.dni') }}</th>
						<th class="hpersonesdesde table-field-left">antiguitat</th>
						<th class="hpersonadeute table-field-right">deute</td>
						<th class="hpersonacontacte table-field-center">contacte</td>
						<th class="hpersonesicon">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
				{% if persones|length > 0 %}
					{% for persona in persones %}
					<tr class="row-resultat-cerca">
						<td class="personesbaixa table-field-center">{{ persona.estat }}</td>
						<td class="personesnum table-field-center">{{ persona.numsoci }}</td>
						<td class="personesnom table-field-left">
							<a href="{{ path('foment_gestio_veuredadespersonals', {'id': persona.id, 'soci': (persona.essocivigent) }) }}" title="Veure dades de la persona">
								{{ persona.nomcognoms }}</a>
						</td>
						<td class="personesnaixement table-field-left">{{ persona.datanaixement is empty ? '': persona.datanaixement|date('d/m/y') }}</td>
						<td class="personesfoto table-field-center">
							<div class="foto-table">
								{% if persona.foto is not null and persona.foto.width > 0 and persona.foto.height > 0 %}
									<a href="{{ persona.foto.webPath }}" target="_blank" download="{{ persona.foto.path }}">
										<img src="{{ persona.foto.webPath }}" alt="{{ persona.foto.titol }}" 
											class="img-responsive img-thumbnail"  alt="Fotografia del soci {{ persona.nom }} {{ persona.cognoms }} "></a>
								{% else %}
									{% if persona.essocivigent == true %}
									<a href="javascript:void(0)"><img src="{{ asset('imatges/icon-photo.blue.png') }}" 
											class="img-responsive img-thumbnail img-unavailable" alt="Fotografia del soci no disponible"></a>
									{% else %}
										&nbsp;
									{% endif %}
								{% endif %}
							</div>						
						</td>
						<td class="personesdni table-field-left">{{ persona.dni }}</td>
						<td class="personesdesde table-field-left">{{ persona.infoSoci }}</td>
						<td class="personadeute table-field-right {% if persona.deute > 0 %} red {% endif %}">{{ persona.deute|number_format(2, ',', '.') }} €</td>
						<td class="personacontacte table-field-center">{{ persona.contacte|raw }}</td>
						<td class="personesicon icon-cell">
							{% if persona.essocivigent == true  %}
							<a href="{{ path('foment_gestio_imprimircarnet', {'id': persona.id, 'soci': (persona.essocivigent) }) }}" title="Imprimir carnet d'aquest soci">
								<span class="fa fa-credit-card fa-1 blue"></span></a>
							{%  endif %}
							<a class="obrir-certificat" href="{{ path('foment_gestio_certificatdonacio', {'persona': persona.id }) }}" title="Descarregar certificat per hisenda">
								<span class="fa fa-aeat fa-1"></span></a>
							<a class="cercar-rebuts" href="{{ path('foment_gestio_rebuts', {'persona': persona.id }) }}" title="Veure els rebuts de la persona">
								<span class="fa fa-file-text-o fa-1 pumpkin"></span></a>
						</td>
					</tr>
					{% endfor %}
				{% else %}
					<tr><td colspan="10">
						<div class="alert" >
								<div class="alert alert-success">cerca sense resultats</div>
						</div>
					</td></tr>
		    	{% endif %}
		    	</tbody>				
			</table>
			<div class="panel-footer">
				<div class="row">
					<div class="col-md-6 blue-legend">S-Soci, B-Soci de baixa, N-No soci</div>
					{% if persones.getTotalItemCount > 10 %}<div class="col-md-6 navigation text-right blue-title">Pàgines: {{ knp_pagination_render(persones, null, queryparams)|raw }}</div>{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block javascripts %}

{{ parent() }}

<!-- Select2 plugin's -->
	<script src="{{ asset('js/select2.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/select2_locale_ca.js') }}" type="text/javascript"></script>

<script type="text/javascript">



$(document).ready(function(){

	if (window.location.search != '' && $('.taula-resultats .table tr.row-resultat-cerca').length > 0 ) {
		$('a.show-hide-block').click(); // Amagar formulari i mostrar resultats 
	} 
	
	$( "a.reset-form" ).click(function(event) {
		event.preventDefault();
		$('form')[0].reset();
		// Cercador d'activitats
		init_cercaactivitats_JSON('#form_cercaactivitats', 'indicar un curs o taller');
		$("#form_seccions")[0].selectedIndex = -1;
	});
	
	/* Accions */
	$('a#cerca-dades-personals').click(function(event) {
		event.preventDefault();

		var url = $(this).attr("href") + '?';

		var params = []; 

		params.push( {'name':'nini','value': $('#form_numini').val()} );

		if ($('#form_numficheck').is(':checked')) {
			params.push( {'name':'nfi','value': $('#form_numfi').val()} );
		}
		
		params.push( {'name':'dni','value': $('#form_dni').val()} );
		params.push( {'name':'nom','value': $('#form_nom').val()} );
		params.push( {'name':'cognoms','value': $('#form_cognoms').val()} );
		params.push( {'name':'h','value': ($('#form_sexehome').is(':checked'))?1:0} );
		params.push( {'name':'d','value': ($('#form_sexedona').is(':checked'))?1:0} );
		params.push( {'name':'s','value': ($('#form_socis').is(':checked'))?1:0} );
		params.push( {'name':'p','value': ($('#form_pendents').is(':checked'))?1:0} );
		params.push( {'name':'b','value': ($('#form_baixes').is(':checked'))?1:0} );
		params.push( {'name':'simail','value': ($('#form_simail').is(':checked'))?1:0} );
		params.push( {'name':'nomail','value': ($('#form_nomail').is(':checked'))?1:0} );

		params.push( {'name':'mail','value': $('#form_mail').val()} );
		
		// Dates
		var dini = $("#form_datanaixementini").val();
		if (dini != null) params.push( {'name':'dini','value': dini } );
		
		var dfi = $("#form_datanaixementfi").val();
		if (dfi != null) params.push( {'name':'dfi','value': dfi } );

		// Seccions. Array en URL   nomparam[]=valor
		$("#form_seccions option:selected").each(function(i, item){
			params.push( {'name':'seccions[]','value': $(item).val() } );
		});

		// Activitats
		if ($("#form_cercaactivitats").val() != "") {
			var acts = $("#form_cercaactivitats").val().split(","); // Activitats id
			for ( var i in acts ) params.push( {'name':'activitats[]','value': acts[i] } );
		}
		
		for ( var i in params ) url=url+params[i].name+'='+params[i].value+'&';

		window.location = url;
	});

	/* Accions pàgines sortable */
	$('.navigation .pagination span a, a.sortable, a.asc, a.desc').click(function(event) {
		/*event.preventDefault();

		if ($("#form_seccions").length > 0 ||  $("#form_cercaactivitats").length > 0) {
			
			var url = $(this).attr("href") + '&';
			
			var params = []; 
	
			// Seccions. Array en URL   nomparam[]=valor
			$("#form_seccions option:selected").each(function(i, item){
				params.push( {'name':'seccions[]','value': $(item).val() } );
			});
	
			// Activitats
			if ($("#form_cercaactivitats").val() != "") {
				var acts = $("#form_cercaactivitats").val().split(","); // Activitats id
				for ( var i in acts ) params.push( {'name':'activitats[]','value': acts[i] } );
			}
			
			for ( var i in params ) url=url+params[i].name+'='+params[i].value+'&';
			
	
			window.location = url;
		}*/
	});	
	/* Rang número de soci */
	$('#form_numficheck').click(function () {
		if ($('#form_numfi').prop( 'readonly' ) == true) {
			$('#form_numfi').removeProp( 'readonly');
		} else {
			$('#form_numfi').prop( 'readonly', true );
			$('#form_numfi').val('');
		}
	}); 

	/* Check socis. Desactivat no deixa seleccionar propietats exclusives de Soci: vist i plau, incloure baixes  */
	$('#form_socis').change(function () {
		 
		if ($('#form_socis').is(':checked')) {
			$('#form_pendents').prop( 'disabled', false );
			$('#form_pendents').parent('label').removeClass('disabled');
			$('#form_baixes').prop( 'disabled', true );
			$('#form_baixes').parent('label').addClass('disabled');
			$('#form_baixes').prop('checked', false);
			//$('#form_numini').val('');
			$('#form_numini').prop( 'disabled', false );
			//$('#form_numfi').val('');
			$('#form_numfi').prop( 'disabled', false );
			//$('#form_numficheck').prop('checked', true);
			$('#form_numficheck').prop( 'disabled', false );
		} else {
			// Cerca socis
			$('#form_pendents').prop( 'disabled', true );
			$('#form_baixes').prop( 'disabled', false );
			$('#form_pendents').prop('checked', false);
			$('#form_pendents').parent('label').addClass('disabled');
			$('#form_baixes').parent('label').removeClass('disabled');
			$('#form_numini').val('');
			$('#form_numini').prop( 'disabled', true );
			$('#form_numfi').val('');
			$('#form_numfi').prop( 'disabled', true );
			$('#form_numficheck').prop('checked', false);
			$('#form_numficheck').prop( 'disabled', true );
		}
	});

	$( '#form_socis' ).trigger( 'change' );

	/* Check mail. Amb mail activa textfield, sense mail desactiva textfield  */
	$('#form_simail').change(function () {
		if ($('#form_simail').is(':checked')) {
			$('#form_mail').removeProp( 'readonly');
		} else {
			$('#form_mail').prop( 'readonly', true );
			$('#form_mail').val('');
		}
	});
	
	//var current = $( '#form_datanaixementini' ).val();

	var mindate = new Date({{ constant('Foment\\GestioBundle\\Controller\\UtilsController::MIN_DATEPICKER_YEAR')  }}, 0 , 1 );
	var currdate = new Date({{ constant('Foment\\GestioBundle\\Controller\\UtilsController::DEFAULT_MIN_DATEPICKER_YEAR')  }}, 0 , 1 );
	var maxdate = dateNow;  
	initDateTimePicker ($( '#form_datanaixementini' ), mindate, maxdate, currdate, 'datanaixementini-picker', false);

	initDateTimePicker ($( '#form_datanaixementfi' ), mindate, maxdate, currdate, 'datanaixementfi-picker', false);


	// Pendent. Limitar una data en funció de l'altre
	/*
	$( '#form_datanaixementfi' ).datetimepicker().setOptions( { onShow:function( ct ){
		this.setOptions({
			maxDate:jQuery('#form_datanaixementini').val()?jQuery('#form_datanaixementini').val():false
		})
	}} );*/
	
	
	// Cercador d'activitats
	init_cercaactivitats_JSON('#form_cercaactivitats', 'indicar un curs o taller');
	

	dialegCertificatHisenda( $('a.obrir-certificat') );
	
	/* Sidebar 
	$('a.hide-sidebar').click(function(event) {
		event.preventDefault();

		var subblockSidebar = ['col-md-5', 'col-md-4', 'col-md-3', 'col-md-12'];
		var subblockNosidebar = ['col-md-3', 'col-md-3', 'col-md-2', 'col-md-4'];
		
		if ( $('.sidebar').is(':visible') ) {
			$('.variable-row .form-subblock').each(function(i, item){
				// Tancar sidebar 
				$(item).removeClass(subblockSidebar[i]);

				if (i == 3) {
					$(item).hide('slide', {direction: 'left'}, 'slow', function() {
						$(item).addClass(subblockNosidebar[i]);
						$(item).show('slide', {direction: 'left'}, 'slow');
					});
				} else {
					$(item).addClass(subblockNosidebar[i]);
				}
			});
		} else {
			$('.variable-row .form-subblock').each(function(i, item){
				// Obrir sidebar 

				if (i == 3) {
					$(item).hide('slide', {direction: 'left'}, 'slow', function() {
						$(item).addClass(subblockSidebar[i]);
						$(item).show('slide', {direction: 'left'}, 'slow');
					});
				} else {
					$(item).addClass(subblockSidebar[i]);
				}
				
				$(item).removeClass(subblockNosidebar[i]);
				
			});
			
		} 
	});
	*/
	
});



</script>
{% endblock %}