{# src/Foment/GestioBundle/Resources/views/Page/cursanual.html.twig #}
{% extends 'FomentGestioBundle:Pages:activitatpuntual.html.twig' %}

{% block containerclass %}activitat-page activitat-anual{% endblock %}

{% block pagetitle %}Informació del curs{% endblock %}

{% block mainform %}{{ form_start(form, {'action': path('foment_gestio_curs')}) }}{% endblock %}
{% block mainrow %}
	    <div class="form-field col-md-2 col-sm-4 col-xs-12 resizable on-sidebar-col-md-4">
		    <div class="input-group"><span class="input-group-addon">curs</span>
	   			{{ form_widget(form.curs, {'attr': {'placeholder': '', 'class': 'form-control form-control-center activitat-curs', 'data-value-init': activitat.curs } })  }}
	   		</div>{{ form_errors(form.curs) }}
		</div>
{% endblock %}


{% block blocklisttabsanual %}
<li><a href="#tab2-calendari">Calendari</a></li>
<li><a href="#tab3-docencia">Docència</a></li>
<li><a href="#tab4-facturacio">Facturacio</a></li>
{% endblock %}

{% block blocktabsanual %}
<div id="tab2-calendari">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<div class="row">
				<div class="col-md-2 resizable on-sidebar-col-md-3">
					<div class="form-field">
						<div class="input-group multiple-container"><span class="input-group-addon input-group-addon-short">setmanal</span>
							<div class="radio form-control form-control-center">{{ form_widget(form.tipusprogramacio[0], 
								{'attr': {'container-data': '#programacio-setmanal', 'class': 'tipus-programacio' } })  }}</div>
						</div>
					</div>
					<div class="form-field">
						<div class="input-group multiple-container"><span class="input-group-addon input-group-addon-short">mensual</span>
							<div class="radio form-control form-control-center">{{ form_widget(form.tipusprogramacio[1], 
								{'attr': {'container-data': '#programacio-mensual', 'class': 'tipus-programacio' } })  }}</div>
						</div>
					</div>
					<div class="form-field">
						<div class="input-group multiple-container"><span class="input-group-addon input-group-addon-short">sessions</span>
							<div class="radio form-control form-control-center">{{ form_widget(form.tipusprogramacio[2], 
								{'attr': {'container-data': '#programacio-sessions', 'class': 'tipus-programacio' } })  }}</div>
						</div>
					</div>
				</div>
				<div class="col-md-5 resizable on-sidebar-col-md-9">
					<div id="programacio-setmanal" class="panel panel-default taula-resultats taula-programacio">
						<table class="table">
							<thead>
								<tr><th class="dia-setmana">&nbsp;</th><th class="dia-setmana">dilluns</th><th class="dia-setmana">dimarts</th>
								<th class="dia-setmana">dimecres</th><th class="dia-setmana">dijous</th>
								<th class="dia-setmana">divendres</th></tr>
							</thead>
						
							<tbody class="full-width-container">
								<tr><td class="dia-setmana-desc">&nbsp;</td>{% for i in 0..4 %}<td class="dia-setmana">{{ form_widget(form.diessetmana[i])  }}</td>	{% endfor %}</tr>
								<tr><td class="dia-setmana-desc">inici</td>
									<td class="hora-dia-setmana">{{ form_widget(form.dlhorainici)  }}</td>
									<td class="hora-dia-setmana">{{ form_widget(form.dmhorainici)  }}</td>
									<td class="hora-dia-setmana">{{ form_widget(form.dxhorainici)  }}</td>
									<td class="hora-dia-setmana">{{ form_widget(form.djhorainici)  }}</td>
									<td class="hora-dia-setmana">{{ form_widget(form.dvhorainici)  }}</td>
								</tr>
								<tr><td class="dia-setmana-desc">fins</td>
									<td class="hora-dia-setmana">{{ form_widget(form.dlhorafinal)  }}</td>
									<td class="hora-dia-setmana">{{ form_widget(form.dmhorafinal)  }}</td>
									<td class="hora-dia-setmana">{{ form_widget(form.dxhorafinal)  }}</td>
									<td class="hora-dia-setmana">{{ form_widget(form.djhorafinal)  }}</td>
									<td class="hora-dia-setmana">{{ form_widget(form.dvhorafinal)  }}</td>
								</tr>
							</tbody>
						</table>
						{{ form_widget(form.setmanal)  }}
					</div>
					<div id="programacio-mensual" class="panel panel-default taula-programacio">
						<div class="row">
							<div class="col-md-6 form-field">
								<div class="input-group"><span class="input-group-addon input-group-addon-short">
									<span class="fa fa-list-ol fa-1x"></span></span>
										<div class="form-select">{{ form_widget(form.setmanadelmes, {'attr': {'placeholder': '' }} )  }}</div>
								</div>
							</div>	
							<div class="col-md-6 form-field">
								<div class="input-group"><span class="input-group-addon input-group-addon-short">
									<span class="fa fa-list-ol fa-1x"></span></span>
										<div class="form-select">{{ form_widget(form.diadelmes, {'attr': {'placeholder': '' }} )  }}</div>
								</div>
							</div>	 
						</div>
						<div class="row">
							<div class="col-md-6 form-field">
								<div class="input-group"><span class="input-group-addon input-group-addon-short">
									inici</span>{{ form_widget(form.horainicidiadelmes)  }}
								</div>
							</div>	
							<div class="col-md-6 form-field">
								<div class="input-group"><span class="input-group-addon input-group-addon-short">
									final</span>{{ form_widget(form.horafinaldiadelmes)  }}
								</div>
							</div>	
						</div>
						{{ form_widget(form.mensual)  }}
					</div>	
					<div id="programacio-sessions" class="panel panel-default taula-programacio">
						<div class="row"><p class="col-md-12 blue-title">programar sessions concretes</p></div>
						<div class="row">
							<div class="col-md-6 form-field">
								<div class="input-group">
									{{ form_widget(form.datahorasessio, {'attr': {'class': 'form-control form-control-center' } }) }}
											<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
								</div>
							</div>	
							<div class="col-md-6 form-field">
								<div class="input-group"><span class="input-group-addon input-group-addon-short">
									final</span>{{ form_widget(form.horafinalsessio)  }}
								</div>								
							</div>	
						</div>
						{{ form_widget(form.persessions)  }}
					</div>
					<div class="form-control-right"><a id="add-programacio" href="{{ path('foment_gestio_programaciocurs', {'id': activitat.id}) }}">afegir&nbsp;<span class="fa fa-plus-circle fa-1x"></span></a></div>
				</div>			
				<div class="col-md-5 resizable on-sidebar-col-md-12">
					<div id="detall-programacio-setmanal" class="panel panel-default taula-resultats ">
						{% include 'FomentGestioBundle:Includes:taulaprogramaciocurs.html.twig' %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="tab3-docencia">
	<div class="row">
		<div class="col-md-5 col-xs-12">
			<div class="row">
				<div class="col-md-10">
					<div class="form-field">
						{{ form_widget(form.cercardocent, {'attr': {'class': 'input-group'} }) }}
					</div>
				</div>
				<div class="col-md-2"><a id="show-add-docents" class="link" href="{{ path('foment_gestio_taulaproveidors') }}"><span class="fa fa-users fa-2x"></span></a></div>
			</div>
			<div class="row"></div>
			<div class="row">
				<div class="col-md-8 form-field">
					<div class="input-group"><span class="input-group-addon">sessions</span>
						{{ form_widget(form.hores, {'attr': {'placeholder': '', 'class': 'form-control form-control-center', 'data-value-init': ''  } })  }}
					</div>{{ form_errors(form.hores) }}
					<div class="input-group"><span class="input-group-addon">preu/sessió</span>
						{{ form_widget(form.preuhora, {'attr': {'placeholder': '', 'class': 'form-control form-control-center', 'data-value-init': ''  } })  }}
					</div>{{ form_errors(form.preuhora) }}
					<div class="form-control-right"><a id="add-docent" href="javascript:void(0)">afegir docència&nbsp;<span class="fa fa-arrow-circle-right fa-1x"></span></a></div>
				</div>	
				<div class="col-md-8 form-field hidden">
					<div class="input-group"><span class="input-group-addon">total</span>
						{{ form_widget(form.preutotal, {'attr': {'placeholder': '', 'class': 'form-control form-control-center', 'data-value-init': ''  } })  }}
					</div>{{ form_errors(form.preutotal) }}
					
				</div>	
				{{ form_widget(form.docenciestmp) }}
			</div>
		</div>
		<div class="col-md-7 col-xs-12">
			<div class="row">
				<div class="col-md-12">
					<div id="taula-docencies" class="panel panel-default taula-resultats ">
						<table class="table">
							<thead>
								<tr><th colspan="6"><span class="text-right">Professors</span></th></tr>
								<tr class="" >
									<th class="hprofe-id hidden-col"></th>
									<th class="hprofe-nom">nom</th>
									<th class="hprofe-hores table-field-right">sessions</th>
									<th class="hprofe-preu table-field-right">€/sessió</th>
									<th class="hprofe-total table-field-right">total aprox. (€)</th>
									<th class="hprofe-icones"></th>
								</tr></thead>
							<tbody>
								<tr class="table-row-added table-row-prototype" >
									<td class="profe-id hidden-col"></td>
									<td class="profe-nom"></td>
									<td class="profe-hores table-field-right"></td>
									<td class="profe-preu table-field-right"></td>
									<td class="profe-total table-field-right"></td>
									<td class="profe-icones"><a class="treure-docent" href="javascript:void(0)"><span class="fa fa-remove fa-1x red"></span></a></td>
								</tr>
								{% if activitat.getDocentsActius|length > 0 %}
									{% for docencia in activitat.getDocentsActius %}
									<tr class="docencia-row">
										<td class="profe-id hidden-col">{{ docencia.proveidor.id }}</td>
										<td class="profe-nom">{{ docencia.proveidor.raosocial }}</td>
										<td class="profe-hores table-field-right">{{ docencia.totalhores is empty ? '--': docencia.totalhores|number_format(2, ',', '.')~'€' }}</td>
										<td class="profe-preu table-field-right">{{ docencia.preuhora is empty ? '--': docencia.preuhora|number_format(2, ',', '.')~'€' }}</td>
										<td class="profe-total table-field-right">{{ docencia.import|number_format(2, ',', '.') }}€</td>
										<td class="profe-icones icon-cell"><a class="treure-docent" href="javascript:void(0)"><span class="fa fa-remove fa-1x red"></span></a></td>
									</tr>
									{% endfor %}
									<tr>
										<td class="hprofe-id hidden-col"></td>
										<td class="hprofe-nom"></td>
										<td class="hprofe-hores table-field-right"><span class="text-right blue-title">{{ activitat.horesdocents }}</span></td>
										<td class="hprofe-preu table-field-right"></td>
										<td class="hprofe-total table-field-right"><span class="text-right blue-title">{{ activitat.importdocents }} €</span></td>
										<td class="hprofe-icones"></td>
									</tr>
								{% else %}
								<tr class="fila-error"><td colspan="6"><div class="alert"><div class="alert alert-success">no hi ha cap professor per al curs</div></div></td></tr>
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="tab4-facturacio">
	<div class="row">
		<div class="col-md-12">
			<div id="facturacions-curs" class="panel panel-default taula-resultats">
				<table class="table">
					<thead><tr><th colspan="3" class="hidden-col">&nbsp;</th> 
						<th class="table-field-left hfacturaciocurs-desc">descripció</th>
						<th class="table-field-right hfacturaciocurs-import">import</th>
						<th class="table-field-right hfacturaciocurs-importnosoci">no soci</th>
						<th class="table-field-center hfacturaciocurs-data">data</th>
						<th class="table-field-center hfacturaciocurs-rebuts">rebuts</th>
						<th class="table-field-center hfacturaciocurs-icones">&nbsp;</th></tr>
					</thead>
					<tbody data-prototype-datafacturacio="{{ form_widget(form.facturacions.vars.prototype.datafacturacio, {'attr': {'class': 'form-control form-control-center' }, 'value' : queryparams['dataproto']|date("d/m/Y") })|e }}" 
							data-prototype-importactivitat="{{ form_widget(form.facturacions.vars.prototype.importactivitat, {'attr': {'class': 'form-control form-control-right' }, 'value': "0,00" })|e }}" 
							data-prototype-importactivitatnosoci="{{ form_widget(form.facturacions.vars.prototype.importactivitatnosoci, {'attr': {'class': 'form-control form-control-right', 'value': "0,00" } })|e }}" 
							data-prototype-descripcio="{{ form_widget(form.facturacions.vars.prototype.descripcio, {'attr': {'class': 'form-control form-control-left' }, 'value' : queryparams['descproto'] })|e }}"
							data-prototype-checkrebuts="crear-los {{ form_widget(form.facturacions.vars.prototype.checkrebuts, {'attr': {'class': 'form-control form-control-left checkbox checkbox-under' }, 'value' : '0' })|e }}"
							data-prototype-ordinals="{{ queryparams['ordinalsproto'] }}">
						<tr class="table-row-added table-row-prototype" >
							<td class="hidden-col facturaciocurs-id">&nbsp;</td>
							<td class="table-field-left facturaciocurs-desc"></td>
							<td class="table-field-right facturaciocurs-import">
								<div class="input-group">
									<span class="input-group-addon input-group-addon-icon"><span class="fa fa-eur fa-1x"></span></span></div>
							</td>
							<td class="table-field-right facturaciocurs-importnosoci">
								<div class="input-group">
									<span class="input-group-addon input-group-addon-icon"><span class="fa fa-eur fa-1x"></span></span></div>
							</td>
							<td class="table-field-center facturaciocurs-data">
								<div class="input-group">
									<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span></div>
							</td>
							<td class="table-field-center facturaciocurs-rebuts">&nbsp;</td>
							<td class="facturaciocurs-icones icon-cell">
								<a class="esborrar-facturacio" href="javascript:void(0)" title="esborrar facturació"><span class="fa fa-remove fa-1x red"></span></a>
							</td>
						</tr>
						{% if activitat.id > 0 %}
							{% for facturacio in activitat.facturacionsactives %}
								<tr class="facturacio-row" >
									<td class="hidden-col facturaciocurs-id">{{ facturacio.id }}</td>
									<td class="table-field-left facturaciocurs-desc">{{ facturacio.descripcio }}</td>
									<td class="table-field-right facturaciocurs-import">{{ facturacio.importactivitat is empty ? '--': facturacio.importactivitat|number_format(2, ',', '.') }} €</td>
									<td class="table-field-right facturaciocurs-importnosoci">{{ facturacio.importactivitatnosoci is empty ? '--': facturacio.importactivitatnosoci|number_format(2, ',', '.') }} €</td>
									<td class="table-field-center facturaciocurs-data">{{ facturacio.datafacturacio is empty ? '': facturacio.datafacturacio|date('d/m/y') }}</td>
									<td class="table-field-center facturaciocurs-rebuts">
										{% if (facturacio.totalrebuts > 0) %}
											{{ facturacio.totalrebuts }}
										{% else %}
											<a class="crear-rebuts" href="{{ path('foment_gestio_crearrebuts', {'id': facturacio.id }) }}" title="crear rebuts de la facturació"><span class="fa fa-plus-circle fa-1 persian"></span></a>
										{% endif %}
									</td>
									<td class="facturaciocurs-icones icon-cell">
										<a class="cercar-rebuts" href="{{ path('foment_gestio_rebuts', {'facturacio': facturacio.id }) }}" title="rebuts de la facturació"><span class="fa fa-search fa-1 persian"></span></a>
										{% if facturacio.esEsborrable == true %}
											<a class="esborrar-facturacio" href="javascript:void(0)" title="esborrar facturació"><span class="fa fa-remove fa-1x red"></span></a>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						{% endif %}
						{% for facturacio in form.facturacions %}
							<tr class="facturacio-row table-row-added" >
								<td class="hidden-col facturaciocurs-id"></td>
								<td class="table-field-left facturaciocurs-desc">{{ form_widget(facturacio.descripcio, {'attr': {'class': 'form-control form-control-left' } }) }}</td>
								<td class="table-field-right facturaciocurs-import">
									<div class="input-group">{{ form_widget(facturacio.importactivitat, {'attr': {'class': 'form-control form-control-right' } }) }}
										<span class="input-group-addon input-group-addon-icon"><span class="fa fa-eur fa-1x"></span></span></div>
								</td>
								<td class="table-field-right facturaciocurs-importnosoci">
									<div class="input-group">{{ form_widget(facturacio.importactivitatnosoci, {'attr': {'class': 'form-control form-control-right' } }) }}
										<span class="input-group-addon input-group-addon-icon"><span class="fa fa-eur fa-1x"></span></span></div>
								</td>
								<td class="table-field-center facturaciocurs-data">
									<div class="input-group">{{ form_widget(facturacio.datafacturacio, {'attr': {'class': 'form-control form-control-center datafacturacio-rowadded' } }) }}
										<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span></div>	
								</td>
								<td class="table-field-center facturaciocurs-rebuts">
									crear-los {{ form_widget(facturacio.checkrebuts, {'attr': {'class': 'form-control form-control-center checkbox checkbox-under' } }) }}
								</td>
								<td class="facturaciocurs-icones icon-cell">
									<a class="esborrar-facturacio" href="javascript:void(0)" title="esborrar facturació"><span class="fa fa-remove fa-1x red"></span></a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{{ form_widget(form.facturacionsdeltemp) }}
			</div>
		</div>
	</div>
	<div class="form-control-right"><a id="add-facturacio" href="javascript:void(0)">afegir&nbsp;<span class="fa fa-plus-circle fa-1x"></span></a></div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
<script type="text/javascript">


	var $collectionHolder;
	
	$(document).ready( function() {
		
		init_cercapersones_JSON_noajax('#activitatanual_cercardocent', 'cercar docent: nom i/o cognoms', 2);
		
		var maxdate = new Date();
		maxdate.setDate(dateNow.getDate() + (2*365));
		
		initDateTimePicker ($( '#activitatanual_datainici' ), dateNow,  maxdate, dateNow, 'datainici-picker', false);

		var finaldate = new Date();
		finaldate.setDate(dateNow.getDate() + 365);
		
		initDateTimePicker ($( '#activitatanual_datafinal' ), dateNow,  maxdate, finaldate, 'datafinal-picker', false);

		initDateTimePicker ($( '#activitatanual_datafacturacio' ), dateNow,  maxdate, finaldate, 'datafacturacio-picker', false);
				
		initDateTimePicker ($( '#activitatanual_datahorasessio' ), dateNow,  maxdate, finaldate, 'datahorasessio-picker', true);

		$( '.datafacturacio-rowadded' ).each(function( i ) {
			initDateTimePicker ($( this ), dateNow,  maxdate, finaldate, 'datafacturacio-picker-rowadded'+i, false);
		});
		
		jQuery('.select-hora').datetimepicker({
			  datepicker:false,
			  format:'H:i'
		});

		$( '.radio input.tipus-programacio[type="radio"]' ).change(function(e) {
			// data-value-init ==> Al pare
			var container = $(this).attr('container-data');

			$('.taula-programacio').hide();

			//alert(container);
			$(container).show();
			
		});

		//alert($('.form-control-error').first().parents('.ui-tabs-panel').index());

		//var index = ($('.form-control-error').first().parents('.ui-tabs-panel').index();
		//$('#info-tabs').tabs({ active: (index-2) });
		
		var active = {{ tab }};
		if (active <0 || active > 3) {
			if ($('#tab1-informacio').find('.form-control-error').length > 0) active = 0;
			if ($('#tab2-calendari').find('.form-control-error').length > 0) active = 1;
			if ($('#tab3-docencia').find('.form-control-error').length > 0) active = 2;
			if ($('#tab4-facturacio').find('.form-control-error').length > 0) active = 3; 
		}
		if (active >= 0 && active <= 3) {
			$('#info-tabs').tabs('option', 'active', active );
		}

		$('#programacio-setmanal').show();
		$("#activitatanual_tipusprogramacio_0").prop("checked", true); // Radio button
		
		$('a#add-programacio').on('click', function(e) {
	        // prevent the link from creating a "#" on the URL
	        e.preventDefault();

			var url = $(this).attr('href');
	        
			// Sessió nova  ==> 'dd/mm/yyyy hh:ii+hh:ii;'
			if ($('#activitatanual_datahorasessio').val() != '' && $('#activitatanual_horafinalsessio').val() != '') {

				// Ok. Carregar sessió
				
				var sessionsCurrent = $('#activitatanual_persessions').val();
				if (sessionsCurrent != '') sessionsCurrent += ';';
				sessionsCurrent += $('#activitatanual_datahorasessio').val()+'+'+$('#activitatanual_horafinalsessio').val();
				$('#activitatanual_persessions').val(sessionsCurrent);

				// clean fields
				$('#activitatanual_datahorasessio').val('');
				$('#activitatanual_datahorasessio').removeClass('form-control-changed form-control-error');
				$('#activitatanual_horafinalsessio').val('');
				$('#activitatanual_horafinalsessio').removeClass('form-control-changed form-control-error');
			} else {
				if ($('#activitatanual_datahorasessio').val() != '' && $('#activitatanual_horafinalsessio').val() == '') {
					obrirDialegInformacio('La sessió està incompleta',  'Informació d\'error');
					$('#activitatanual_horafinalsessio').addClass('form-control-error');
					return false;
				}
				if ($('#activitatanual_datahorasessio').val() == '' && $('#activitatanual_horafinalsessio').val() != '') {
					obrirDialegInformacio('La sessió està incompleta',  'Informació d\'error');
					$('#activitatanual_datahorasessio').addClass('form-control-error');
					return false;
				}
			}
			// Mensual ==> 'diames+diasemana+hh:ii+hh:ii;'
			if ($('#activitatanual_setmanadelmes').val() != '' &&
				$('#activitatanual_diadelmes').val() != '' &&
				$('#activitatanual_horainicidiadelmes').val() != '' &&
				$('#activitatanual_horafinaldiadelmes').val() != '') {

				var mensualCurrent = $('#activitatanual_mensual').val();
				if (mensualCurrent != '') mensualCurrent += ';';
				mensualCurrent += $('#activitatanual_setmanadelmes').val()+'+';
				mensualCurrent += $('#activitatanual_diadelmes').val()+'+';
				mensualCurrent += $('#activitatanual_horainicidiadelmes').val()+'+';
				mensualCurrent += $('#activitatanual_horafinaldiadelmes').val();
				$('#activitatanual_mensual').val(mensualCurrent);

				// clean fields
				$('#activitatanual_setmanadelmes').val('');
				$('#activitatanual_setmanadelmes').parent('.form-select').removeClass('form-control-changed form-control-error');
				$('#activitatanual_diadelmes').val('');
				$('#activitatanual_diadelmes').parent('.form-select').removeClass('form-control-changed form-control-error');
				$('#activitatanual_horainicidiadelmes').val('');
				$('#activitatanual_horainicidiadelmes').removeClass('form-control-changed form-control-error');
				$('#activitatanual_horafinaldiadelmes').val('');
				$('#activitatanual_horafinaldiadelmes').removeClass('form-control-changed form-control-error');
			} else {
				if ($('#activitatanual_setmanadelmes').val() != '' ||
					$('#activitatanual_diadelmes').val() != '' ||
					$('#activitatanual_horainicidiadelmes').val() != '' ||
					$('#activitatanual_horafinaldiadelmes').val() != '') {

					if ($('#activitatanual_setmanadelmes').val() == '') {
						$('#activitatanual_setmanadelmes').parent('.form-select').addClass('form-control-error');
					}
					if ($('#activitatanual_diadelmes').val() == '') {
						$('#activitatanual_diadelmes').parent('.form-select').addClass('form-control-error');
					}
					if ($('#activitatanual_horainicidiadelmes').val() == '') {
						$('#activitatanual_horainicidiadelmes').addClass('form-control-error');
					}
					if ($('#activitatanual_horafinaldiadelmes').val() == '') {
						$('#activitatanual_horafinaldiadelmes').addClass('form-control-error');
					}

					obrirDialegInformacio('La programació mensual està incompleta',  'Informació d\'error');
					return false;
				}
			}
			
			// Setmanal ==> 'diasemana+hh:ii+hh:ii;'
			var backupSemanal = $('#activitatanual_setmanal').val();  // LA PROGRAMACIO SETMANAL SEMPRE ACTUALITZA LA EXISTENT, NO S'AFEGEIX
			$('#activitatanual_setmanal').val('');
			
			var res0 = programacioSetmanalDia($('#activitatanual_diessetmana_0'), $('#activitatanual_dlhorainici'), 
					$('#activitatanual_dlhorafinal'), 'dilluns');

			var res1 = programacioSetmanalDia($('#activitatanual_diessetmana_1'), $('#activitatanual_dmhorainici'), 
					$('#activitatanual_dmhorafinal'), 'dimarts');

			var res2 = programacioSetmanalDia($('#activitatanual_diessetmana_2'), $('#activitatanual_dxhorainici'), 
					$('#activitatanual_dxhorafinal'), 'dimecres');

			var res3 = programacioSetmanalDia($('#activitatanual_diessetmana_3'), $('#activitatanual_djhorainici'), 
					$('#activitatanual_djhorafinal'), 'dijous');

			var res4 = programacioSetmanalDia($('#activitatanual_diessetmana_4'), $('#activitatanual_dvhorainici'), 
					$('#activitatanual_dvhorafinal'), 'divendres');

			if (res0 && res1 && res2 && res3 && res4) { // Tot ok 
				url += '&persessions='+$('#activitatanual_persessions').val();
				url += '&mensual='+$('#activitatanual_mensual').val();
				url += '&setmanal='+$('#activitatanual_setmanal').val();

				url = url.replace(/\+/g,'%2B');  // El símbol '+' està reservat per representar l'espai
				
				// Get url and update $('#detall-programacio-setmanal') content
				$.get(encodeURI(url), function(data) {

					$('#detall-programacio-setmanal').html(data);
					
				}).fail(function(xhr, status, error) {
					$('#activitatanual_setmanal').val(backupSemanal);
					if (xhr.responseText != '') {
						mostrarErrorAjax('#programacio-setmanal', xhr.responseText);
					} else { 
						obrirDialegInformacio('Error mostrant la programació del curs',  'Informació d\'error');
					}
				});
			} else {
				$('#activitatanual_setmanal').val(backupSemanal);
			}
	    });

		$('#detall-programacio-setmanal').on('click', 'a.treure-programa', function (event) {
			event.preventDefault();

			var originalProg = $(this).parent('td').siblings('.infoprograma-original').html();
			
			var strSessions = $('#activitatanual_persessions').val();
			var strMensual = $('#activitatanual_mensual').val();
			var strSetmanal = $('#activitatanual_setmanal').val();

			var trobat = false;
			if (strSessions.indexOf(originalProg) !== -1 && trobat == false) {
				strSessions = strSessions.replace(originalProg, '');
				strSessions = strSessions.replace(';;', ';');

				$('#activitatanual_persessions').val(strSessions);
				trobat = true;
			}
			if (strMensual.indexOf(originalProg) !== -1 && trobat == false) {
				strMensual = strMensual.replace(originalProg, '');
				strMensual = strMensual.replace(';;', ';');

				$('#activitatanual_mensual').val(strMensual);
				trobat = true;
			}
			if (strSetmanal.indexOf(originalProg) !== -1 && trobat == false) {
				strSetmanal = strSetmanal.replace(originalProg, '');
				strSetmanal = strSetmanal.replace(';;', ';');

				$('#activitatanual_setmanal').val(strSetmanal);
				trobat = true;
			}

			$parentRow = $(this).parents('tr');

			$parentRow.remove();

			if ($('#detall-programacio-setmanal tbody tr').length == 0) {
				$('#detall-programacio-setmanal tbody').append('<tr class="fila-error"><td colspan="5"><div class="alert"><div class="alert alert-success">no hi ha programada cap sessió</div></div></td></tr>');
			}
		});
		
		
		// Afegir facturacions collection symfony2
		//http://symfony.com/doc/current/cookbook/form/form_collections.html#allowing-new-tags-with-the-prototype

		$collectionHolder = $('#facturacions-curs .table tbody');

    	$collectionHolder.data('index', $collectionHolder.find('.facturacio-row').length);
    	
    	// Crear facturació
		$('a#add-facturacio').on('click', function(e) {
	        // prevent the link from creating a "#" on the URL
	        e.preventDefault();
	        // add a new tag form (see next code block)
	        addTagForm($collectionHolder);
	    });

		// Delegat, esborrar facturació
		$('#facturacions-curs').on('click', 'a.esborrar-facturacio', function (event) {
			event.preventDefault();

			$collectionHolder = $('#facturacions-curs .table tbody');

			$parentRow = $(this).parents('tr');

			if ($parentRow.hasClass('table-row-added')) { // No desada, carregada jquery, treure la fila i prou
				$parentRow.remove();
			} else {
				// Facturació existent. Afegir id a facturacionsdeltemp
				$parentRow.addClass('table-row-removed');	
				
				var id = $parentRow.find('.facturaciocurs-id').html(); 
				
				var idscurrent = $('#activitatanual_facturacionsdeltemp').val();
				if (idscurrent != '') idscurrent += ',';
				idscurrent += id;
				$('#activitatanual_facturacionsdeltemp').val(idscurrent);
			}

			if ($('#facturacions-curs tbody tr.facturacio-row').not('tr.table-row-removed').length == 0) {
				$('#facturacions-curs tbody').append('<tr class="fila-error"><td colspan="5"><div class="alert"><div class="alert alert-success">no hi ha cap facturació per aquest curs</div></div></td></tr>');
			}
		});


		$('a#add-docent').on('click', function(e) {
	        // prevent the link from creating a "#" on the URL
	        e.preventDefault();

	        if ($('#activitatanual_preutotal').val() == "") {
	        	obrirDialegInformacio('El preu aproximat per docent és obligatori',  'Informació d\'error');
	        	$('#activitatanual_preutotal').addClass('form-control-error');
				return false;
			}

	        if ($('#activitatanual_cercardocent').val() == "") {
	        	obrirDialegInformacio('Cal escollir algun professor',  'Informació d\'error');
	        	$('#activitatanual_cercardocent').addClass('form-control-error');
				return false;
			}

	        $('.fila-error').remove();
	        
	        $collectionHolder = $('#taula-docencies .table tbody');

			var id = $('#activitatanual_cercardocent').val();

	        
	        var docentJSONObject = { 	"accio"		: "addNew",
	                               	    "proveidor"	: id, 
		                               	"preutotal"	: parseCurrencyAlex($('#activitatanual_preutotal').val()), 
		                               	"preuhora"	: parseCurrencyAlex($('#activitatanual_hores').val()),
		                               	"hores"		: $('#activitatanual_preuhora').val() };

	        var currentNewDocents = $('#activitatanual_docenciestmp').val(); // stringyfied
	        var currentJSONObjects = [];

	        if (currentNewDocents != '')  currentJSONObjects = JSON.parse(currentNewDocents);

	        currentJSONObjects.push(docentJSONObject); // Afeir nou registre

	        currentNewDocents =  JSON.stringify(currentJSONObjects); // Tornar a serialitza
	        
	        $('#activitatanual_docenciestmp').val(currentNewDocents);

	        $cloneProto = $('#taula-docencies tr.table-row-prototype').clone( );

	        $cloneProto.find('.profe-id').append($('#activitatanual_cercardocent').val());
	        $cloneProto.find('.profe-nom').append($('#select2-chosen-2').html());
	        $cloneProto.find('.profe-hores').append($('#activitatanual_hores').val());
	        $cloneProto.find('.profe-preu').append($('#activitatanual_preuhora').val());
	        $cloneProto.find('.profe-total').append($('#activitatanual_preutotal').val());

	        $cloneProto.removeClass('table-row-prototype');
			$cloneProto.addClass('docencia-row');

			$collectionHolder.append($cloneProto);
			
			// clean fields
			$('#activitatanual_cercardocent').val('');
			$('#select2-chosen-2').html('');
			$('#activitatanual_hores').val('');
			$('#activitatanual_preuhora').val('');
			$('#activitatanual_preutotal').val('');
			 
	        
	    });


		// Delegat, esborrar facturació
		$('#taula-docencies').on('click', 'a.treure-docent', function (event) {
			event.preventDefault();

			$collectionHolder = $('#taula-docencies .table tbody');

			$parentRow = $(this).parents('tr');

			var currentNewDocents = $('#activitatanual_docenciestmp').val(); // stringyfied
			var currentJSONObjects = [];
	        if (currentNewDocents != '')  currentJSONObjects = JSON.parse(currentNewDocents);

	        var id = $parentRow.find('.profe-id').html(); 
			
			if ($parentRow.hasClass('table-row-added')) { // No desada, carregada jquery, treure la fila i prou
				$parentRow.remove();

				//alert(currentJSONObjects.length);
				
				// i treure del JSON activitatanual_docenciestmp
				var i = 0;
				var trobat = -1;
				while (i < currentJSONObjects.length && trobat == -1) {
					// Trobat 	
					if (currentJSONObjects[i].proveidor == id) trobat = i; 
					i++;
				}
				if (trobat != -1) {
					currentJSONObjects.splice(trobat,1); // Esborrar i desar novament
					currentNewDocents =  JSON.stringify(currentJSONObjects); // Tornar a serialitza
			        $('#activitatanual_docenciestmp').val(currentNewDocents);
				}
				
			} else {
				// Facturació existent. Afegir id a facturacionsdeltemp
				$parentRow.addClass('table-row-removed');	
				
				

				 // Carregar un array JSON amb les dades al camp "docenciestmp" per llegir en el POST
		        var docentJSONObject = {"accio"		: "remove",
		                               	"proveidor"	: id, 
			                            "preutotal"	: "", 
			                            "preuhora"	: "",
			                            "hores"		: "" };


	//alert(currentNewDocents);
		        
		        currentJSONObjects.push(docentJSONObject); // Afeir nou registre
		       	// if (currentNewDocents != '') currentNewDocents += ','; 


		        currentNewDocents =  JSON.stringify(currentJSONObjects); // Tornar a serialitza

	//alert(currentNewDocents);
		        
		        $('#activitatanual_docenciestmp').val(currentNewDocents);

			}

			if ($('#taula-docencies tbody tr.docencia-row').not('tr.table-row-removed').length == 0) {
				$('#taula-docencies tbody').append('<tr class="fila-error"><td colspan="6"><div class="alert"><div class="alert alert-success">no hi ha cap professor per al curs</div></div></td></tr>');
			}
		});


		/****** SCRIPTS PROVEIDORS ********/

		$('a#show-add-docents').on('click', function(e) {
	        // prevent the link from creating a "#" on the URL
	        e.preventDefault();

	        url = $(this).attr('href');  

	        var currentdate = new Date();
			var maxBaixa = new Date();
			var minBaixa = new Date();
			minBaixa.setDate(currentdate.getDate() - 365);
			maxBaixa.setDate(currentdate.getDate() + 365);
	     // Get url and update $('#detall-programacio-setmanal') content
			$.get(encodeURI(url), function(data) {

				buttons = [{	
				           	text: "Afegir",
				           	id: "button-add-proveidor",	
				            click: function() {
				            	$( '#button-add-proveidor' ).hide();
				            	$( '#button-save-proveidor' ).show();
				            	$( '#taula-proveidors' ).hide('slide', {direction: 'down'}, 'slow', function() {
				            		$( '#formulari-proveidors' ).show('slide', {direction: 'top'}, 'slow');
					            });
				          	}
				          },
				          {	
					        text: "Desar",
					        id: "button-save-proveidor",	
					        click: function() {
					        	var url = $('form.form-proveidors').attr('action');  

								var params = $('form.form-proveidors').serializeArray();

								obrirMascaraBlock('#dialeg-informacio');
								
								$.post(url, params, function(data) {
									
									tancarMascaraBlock('#dialeg-informacio');
									$( '#formulari-proveidors' ).html(data);

									createSelects($('.poblacio-container .search-field'),'municipi', 'cercar població'); 
									createSelects($('.provincia-container .search-field'),'provincia', 'cercar provincia'); 
									initDateTimePicker ($( '#proveidor_databaixa' ), minBaixa, maxBaixa, currentdate, 'databaixa-picker', false);
									
								}).fail(function(xhr, status, error) {
									createSelects($('.poblacio-container .search-field'),'municipi', 'cercar població'); 
									createSelects($('.provincia-container .search-field'),'provincia', 'cercar provincia'); 
									initDateTimePicker ($( '#proveidor_databaixa' ), minBaixa, maxBaixa, currentdate, 'databaixa-picker', false);
									
									tancarMascaraBlock('#dialeg-informacio');
									var txtError = 'S\'ha produït un error desant les dades';
									if (xhr.responseText != '') txtError = xhr.responseText;
										
									mostrarErrorAjax('#dialeg-informacio', txtError);
								});
				          	}
					      },
				          {	
					       	text: "Tancar",
					        click: function() {
						 		if ( $('#proveidor_id').val() != '' && $('#proveidor_id').val() > 0) {
						 			$('#activitatanual_cercardocent').val( $('#proveidor_id').val() );
						 			init_cercapersones_JSON_noajax('#activitatanual_cercardocent', 'cercar docent: nom i/o cognoms', 2);
							 	}
					        	$( '#dialeg-informacio' ).dialog( "close" ); 
						 		$( '#dialeg-informacio' ).html('');
					       	}
					      }];

				obrirDialegCustom(data,  'Proveidors', 0, 650, buttons, 'dialeg-proveidors');

				createSelects($('.poblacio-container .search-field'),'municipi', 'cercar població'); 
				createSelects($('.provincia-container .search-field'),'provincia', 'cercar provincia'); 
				initDateTimePicker ($( '#proveidor_databaixa' ), minBaixa, maxBaixa, currentdate, 'databaixa-picker', false);


				// Delegate event
				$( ".dialeg-proveidors" ).on( "click",  "a.mostrar-proveidor" ,function( e ) {
			        // prevent the link from creating a "#" on the URL
			        e.preventDefault();

			        url = $(this).attr('href');
			        obrirMascaraBlock('#dialeg-informacio');
					
					$.get(encodeURI(url), function(data) {
						tancarMascaraBlock('#dialeg-informacio');
						$( '#formulari-proveidors' ).html(data);
						
						createSelects($('.poblacio-container .search-field'),'municipi', 'cercar població'); 
						createSelects($('.provincia-container .search-field'),'provincia', 'cercar provincia'); 
						initDateTimePicker ($( '#proveidor_databaixa' ), minBaixa, maxBaixa, currentdate, 'databaixa-picker', false);

						$( '#button-add-proveidor' ).hide();
		            	$( '#button-save-proveidor' ).show();
		            	$( '#taula-proveidors' ).hide('slide', {direction: 'down'}, 'slow', function() {
		            		$( '#formulari-proveidors' ).show('slide', {direction: 'top'}, 'slow');

		            		
			            });
						
					}).fail(function(xhr, status, error) {
						tancarMascaraBlock('#dialeg-informacio');
						var txtError = 'S\'ha produït un error desant les dades';
						if (xhr.responseText != '') txtError = xhr.responseText;
							
						mostrarErrorAjax('#dialeg-informacio', txtError);
					});
			        
					
				});

				// Delegate event
				$( ".dialeg-proveidors" ).on( "click",  "a.seleccionar-proveidor" ,function( e ) {
			        // prevent the link from creating a "#" on the URL
			        e.preventDefault();

			        var id = $(this).attr('data-id');

			 		if ( id != '' && id > 0) {
			 			$('#activitatanual_cercardocent').val( id );
			 			init_cercapersones_JSON_noajax('#activitatanual_cercardocent', 'cercar docent: nom i/o cognoms', 2);
				 	}
		        	$( '#dialeg-informacio' ).dialog( "close" ); 
			 		$( '#dialeg-informacio' ).html('');
				});

				// Delegate event
				/*$( ".dialeg-proveidors" ).on( "click",  ".pagination .page a" ,function( e ) {
			        // prevent the link from creating a "#" on the URL
			        e.preventDefault();

			        url = $(this).attr('href');
			        obrirMascaraBlock('#dialeg-informacio');
			        
			        $.get(encodeURI(url), function(data) {
						tancarMascaraBlock('#dialeg-informacio');

						$( '#dialeg-informacio' ).html(data);
						
						createSelects($('.poblacio-container .search-field'),'municipi', 'cercar població'); 
						createSelects($('.provincia-container .search-field'),'provincia', 'cercar provincia'); 
						initDateTimePicker ($( '#proveidor_databaixa' ), minBaixa, maxBaixa, currentdate, 'databaixa-picker', false);
						
					}).fail(function(xhr, status, error) {
						tancarMascaraBlock('#dialeg-informacio');
						var txtError = 'S\'ha produït un error consultant les dades';
						if (xhr.responseText != '') txtError = xhr.responseText;
							
						mostrarErrorAjax('#dialeg-informacio', txtError);
					});
				});*/

				var urlTaula = $('#taula-proveidors').attr('data-link');
		
				preparePaginatedSortedTable('.dialeg-proveidors', urlTaula, ajaxTaulaDialegCallback);

				
			}).fail(function(xhr, status, error) {
				
				obrirDialegInformacio('Error mostrant la llista de proveidors',  'Informació d\'error');
			});
		 });    

		/****** FINAL SCRIPTS PROVEIDORS ********/
	});

	ajaxTaulaDialegCallback = function(url, elemSel) {
		obrirMascaraBlock('#dialeg-informacio');

		var currentdate = new Date();
		var maxBaixa = new Date();
		var minBaixa = new Date();
		minBaixa.setDate(currentdate.getDate() - 365);
		maxBaixa.setDate(currentdate.getDate() + 365);
			
		$.get(encodeURI(url), function(data) {
			tancarMascaraBlock('#dialeg-informacio');

			$( '#dialeg-informacio' ).html(data);
			
			createSelects($('.poblacio-container .search-field'),'municipi', 'cercar població'); 
			createSelects($('.provincia-container .search-field'),'provincia', 'cercar provincia'); 
			initDateTimePicker ($( '#proveidor_databaixa' ), minBaixa, maxBaixa, currentdate, 'databaixa-picker', false);
			
		}).fail(function(xhr, status, error) {
			tancarMascaraBlock('#dialeg-informacio');
			var txtError = 'S\'ha produït un error consultant les dades';
			if (xhr.responseText != '') txtError = xhr.responseText;
				
			mostrarErrorAjax('#dialeg-informacio', txtError);
		});
	}
	
	function addTagForm($collectionHolder) {
		$('.fila-error').remove();
		
		var prototypeDatafacturacio = $collectionHolder.data('prototype-datafacturacio');
		var prototypeDescripcio = $collectionHolder.data('prototype-descripcio');
		var prototypeImportactivitat = $collectionHolder.data('prototype-importactivitat');
		var prototypeImportactivitatnosoci = $collectionHolder.data('prototype-importactivitatnosoci');
		var prototypeChecksrebuts = $collectionHolder.data('prototype-checkrebuts');
		var prototypeOrdinals = $collectionHolder.data('prototype-ordinals');
		
		var index = $collectionHolder.data('index');	    // get the new index
		
		var newDatafacturacioField = prototypeDatafacturacio.replace(/__name__/g, index); // Replace '__name__' in the prototype's HTML to
		var newDescripcioField = prototypeDescripcio.replace(/__name__/g, index); 
		var newImportactivitatField = prototypeImportactivitat.replace(/__name__/g, index);
		var newImportactivitatnosociField = prototypeImportactivitatnosoci.replace(/__name__/g, index);  
		var newChecksrebutsField = prototypeChecksrebuts.replace(/__name__/g, index);

		$cloneProto = $('#facturacions-curs tr.table-row-prototype').clone( );

		$cloneProto.removeClass('table-row-prototype');
		$cloneProto.addClass('facturacio-row');
		
		var tpId = $(newDatafacturacioField).attr('id');

		var ordinalsArray = prototypeOrdinals.split(",");
		var ordinalIndex = ordinalsArray[index + 1];
		var desc = ordinalIndex + ' ' + $(newDescripcioField).val();

		$cloneProto.find('.facturaciocurs-data .input-group').prepend(newDatafacturacioField);
		$cloneProto.find('.facturaciocurs-import .input-group').prepend(newImportactivitatField);
		$cloneProto.find('.facturaciocurs-importnosoci .input-group').prepend(newImportactivitatnosociField);
		$cloneProto.find('.facturaciocurs-rebuts').prepend(newChecksrebutsField);
		$cloneProto.find('.facturaciocurs-desc').append(newDescripcioField);

		// Canviar desc	
		$cloneProto.find('.facturaciocurs-desc input').val( desc );
		
	    $collectionHolder.data('index', index + 1);
	    
	    $collectionHolder.append($cloneProto);

	    var maxdate = new Date();
		maxdate.setDate(dateNow.getDate() + (2*365));
	    initDateTimePicker( $('#'+tpId) , dateNow,  maxdate, dateNow, 'datafinal-picker-'+index, false);
	    
	}

	function programacioSetmanalDia(elCheckDia, elHoraInici, elHorafinal, strDia) {
		if (elCheckDia.is(':checked') == true) {
			if (elHoraInici.val() == '' || elHorafinal.val() == '') {
				if (elHoraInici.val() == '') {
					elHoraInici.addClass('form-control-error');
				}
				if (elHorafinal.val() == '') {
					elHorafinal.addClass('form-control-error');
				}
				obrirDialegInformacio('Falta indicar dades de la sessió setmanal del '+strDia,  'Informació d\'error');
				return false;
			}

			var setmanalCurrent = $('#activitatanual_setmanal').val();
			if (setmanalCurrent != '') setmanalCurrent += ';';
			setmanalCurrent += elCheckDia.val()+'+';
			setmanalCurrent += elHoraInici.val()+'+';
			setmanalCurrent += elHorafinal.val();
			$('#activitatanual_setmanal').val(setmanalCurrent);

			elHoraInici.removeClass('form-control-changed form-control-error');
			elHorafinal.removeClass('form-control-changed form-control-error');
		}
		return true; 
	}
</script>	
		
{% endblock %}

{% block blockcallbacksrebuts %}	
	//Definit també a persona
	callbackUpdateRebut = function () {
		var url = "{{ path('foment_gestio_curs', {'id': activitat.id }|merge(queryparams)) |raw }}";
		window.location = url;
	}

	//Definit també a persona
	callbackRetornaRebut = function () {

		{% set queryparams = queryparams|merge({'retornats': true}) %}
		{% set queryparams = queryparams|merge({'tipus': constant('Foment\\GestioBundle\\Controller\\UtilsController::INDEX_FINES_RETORNAT')})  %}
		
		var url = "{{ path('foment_gestio_curs', {'id': activitat.id }|merge(queryparams)) |raw }}";
		window.location = url;
	}
{% endblock %}
