{# src/Foment/GestioBundle/Resources/views/Page/persona.html.twig #}
{% extends 'FomentGestioBundle::layout.html.twig' %}

{% form_theme form 'FomentGestioBundle:Includes:formtheming.html.twig' %}

{% block title %}Gestió de dades personals{% endblock %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('foment_gestio_homepage') }}"><span class="fa fa-home fa-1x"></span> Inici</a></li><li><a href="{{ path('foment_gestio_cercapersones') }}">Persones <span class="fa fa-angle-double-right"></span></a></li><li><span class="current">Dades</span></li>
{% endblock %}

{% block containerclass %}persona-page{% endblock %}

{% block pagetitle %}Dades personals 
	{% if persona.esbaixa == true %}
	<span class="form-block-label form-block-label-large red">(soci de baixa des del {{ persona.databaixa|date("d/m/Y") }})</span>
	{%  endif  %}
{% endblock %}

{% block topbuttons %}
	<li><a id="save-data" href="javascript:void(0)" target="_blank" title="desar les dades"><span class="button-icon icon-btn-40x40 confirm green"></span>
		<span class="button-text">desar</span></a></li>
	{% if persona.id > 0 %}
		<li><a class="obrir-certificat" href="{{ path('foment_gestio_certificatdonacio', {'persona': persona.id }) }}" target="_blank" title="descarregar certificat hisenda"><span class="button-icon icon-btn-40x40 icon-aeat"></span>
			<span class="button-text">hisenda</span></a></li>
	{% endif %}
	{% block topbuttonssoci %}
		{% if persona.id > 0 %}
			<li><a class="alta-soci" href="javascript:void(0)" target="_blank" title="Convertir en soci"><span class="button-icon icon-btn-40x40 card orange"></span>
				<span class="button-text">alta soci</span></a></li>
		{% endif %}		
	{% endblock %}
{% endblock %}

{% block main %}

{% block blockform %}{{ form_start(form, {'action': path('foment_gestio_desarpersona')}) }}{% endblock %}
	{% include 'FomentGestioBundle:Includes:messages.html.twig' %}
	
	<div class="form-block row">
		{% block blocknumsoci %}{% endblock %}
		<div class="form-field col-md-3 col-xs-6 resizable on-sidebar-col-md-6">
			<div class="input-group"><span class="input-group-addon">nom</span>
    		{{ form_widget(form.nom, {'attr': {'placeholder': '', 'class': 'form-control', 'data-value-init': persona.nom } })  }}</div>{{ form_errors(form.nom) }}
        </div>
        <div class="form-field col-md-4 col-xs-6 resizable on-sidebar-col-md-6">
        	<div class="input-group"><span class="input-group-addon">cognoms</span>
        	{{ form_widget(form.cognoms, {'attr': {'placeholder': '', 'class': 'form-control','data-value-init': persona.cognoms } })  }}</div>{{ form_errors(form.cognoms) }}
        </div>
        {% block blockbaixasoci %}{% endblock %}
        <div class="form-field col-md-3 col-xs-6 resizable on-sidebar-col-md-4">
        	{{ form_widget(form.sexe, {'attr': {'placeholder': '(*)', 'class': 'radio', 'data-value-init': persona.sexe } })  }}{{ form_errors(form.sexe) }}
        </div>
    </div>
    <div class="form-block row">
        <div class="form-field col-md-3 col-xs-6 resizable on-sidebar-col-md-3">
        	<div class="input-group"><span class="input-group-addon">dni</span>
        	{{ form_widget(form.dni, {'attr': {'placeholder': '12345678-X', 'class': 'form-control form-control-center', 'data-value-init': persona.dni } })  }}</div>{{ form_errors(form.dni) }}
        </div>
        <div class="form-field col-md-6 col-xs-8 resizable on-sidebar-col-md-6">
    		<div class="input-group"><span class="input-group-addon input-group-addon-icon">@</span>
        	{{ form_widget(form.correu, {'attr': {'placeholder': 'adreça electrònica', 'class': 'form-control', 'data-value-init': persona.correu } })  }}</div>{{ form_errors(form.correu) }}
        </div>
	</div>
    <div class="form-block row">
    	<div class="form-field col-md-3 col-xs-6 resizable on-sidebar-col-md-3">
    		<div class="input-group"><span class="input-group-addon input-group-addon-icon"><span class="fa fa-phone fa-1x"></span></span>
        	{{ form_widget(form.telffix, {'attr': {'placeholder': 'telèfon casa', 'class': 'form-control form-control-center', 'data-value-init': persona.telffix } })  }}</div>{{ form_errors(form.telffix) }}
        </div>
        <div class="form-field col-md-3 col-xs-6 resizable on-sidebar-col-md-3">
    		<div class="input-group"><span class="input-group-addon input-group-addon-icon"><span class="fa fa-mobile fa-1x"></span></span>
        	{{ form_widget(form.telfmobil, {'attr': {'placeholder': 'telèfon mòbil', 'class': 'form-control form-control-center', 'data-value-init': persona.telfmobil } })  }}</div>{{ form_errors(form.telfmobil) }}
        </div>
        <div class="form-field col-md-6 col-xs-6 resizable on-sidebar-col-md-3">
    		<div class="input-group"><span class="input-group-addon input-group-addon-short">nota</span>
        	{{ form_widget(form.notacontacte, {'attr': {'placeholder': 'anotació contacte', 'class': 'form-control', 'data-value-init': persona.notacontacte } })  }}</div>
        </div>
   	</div>
	<div class="form-block row">        
        <div class="form-field col-md-3 resizable on-sidebar-col-md-6">
    		<div class="input-group"><span class="input-group-addon">nascut/da</span>
        	{{ form_widget(form.datanaixement, {'attr': {'placeholder': '', 'class': 'form-control form-control-center datanaixement-persona', 'data-value-init': persona.datanaixement|date("d/m/Y")  } })  }}
        	<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span></div>{{ form_errors(form.datanaixement) }}
        </div>
        <div class="form-field col-md-6 llocn-container">
    		<div class="input-group"><span class="input-group-addon">lloc</span>
        	{{ form_widget(form.llocnaixement, {'attr': {'placeholder': '... de naixement', 'class': 'form-control', 'data-value-init': persona.llocnaixement } })  }}</div>{{ form_errors(form.llocnaixement) }}
        </div>
    </div>
    <div class="form-block row">
		<div class="form-subblock col-md-12"><h4 class="form-block-label">Adreça, població, cp, província</h4></div>
		<div class="form-field col-md-5 adreca-container resizable on-sidebar-col-md-12">
    		<div class="input-group"><span class="input-group-addon">adreça</span>
        	{{ form_widget(form.adreca, {'attr': {'placeholder': 'carrer / bloc / número ...', 'class': 'form-control', 'data-value-init': persona.adreca } })  }}</div>{{ form_errors(form.adreca) }}
        </div>
        <div class="form-field col-md-3 poblacio-container resizable on-sidebar-col-md-5">
        	{{ form_widget(form.poblacio, {'attr': {'class': 'search-field', 'data-value-init': persona.poblacio } })  }}{{ form_errors(form.poblacio) }}
        	
        </div>
        <div class="form-field col-md-2 cp-container resizable on-sidebar-col-md-3">
    		<div class="input-group"><span class="input-group-addon">cp</span>
        	{{ form_widget(form.cp, {'attr': {'placeholder': '', 'class': 'form-control form-control-center', 'data-value-init': persona.cp } })  }}</div>{{ form_errors(form.cp) }}
        </div>
        <div class="form-field col-md-2 provincia-container resizable on-sidebar-col-md-4">
        	{{ form_widget(form.provincia, {'attr': {'class': 'search-field', 'data-value-init': persona.provincia } })  }}{{ form_errors(form.provincia) }}
        </div>
        
		
	</div>
	<div class="form-block row">
		<div class="form-subblock col-md-12">
		{% block blocktitlesoci %}
			<div class="block-title ">
				<div class="checkbox">{{ form_widget(form.soci, {'attr': {'class': 'check-soci' } })  }} <label>Soci</label>
		
				<span class="form-block-label">Informació de l'activitat</span></div>
			</div>
		{% endblock %}
		</div>
		
		<div class="form-subblock {% if persona.essoci %}col-md-10 resizable on-sidebar-col-md-12 {% else %} col-md-12 {% endif %}">
			<div id="info-tabs" class="">
				<ul>
					{% block blocklisttabseccions %}{% endblock %}
					{% block blocklisttabactivitats %}<li><a href="#tab4-activitats">Activitats</a></li>{% endblock %}
					{% block blocklisttabcaixa %}{% endblock %}
					{% block blocklisttabavaladors %}{% endblock %}
					{% block blocklisttabaltres %}<li><a href="#tab5-altres">Observacions</a></li>{% endblock %}
					{% if persona.esDeudorDelGrup == true  %}
						{% if persona.deute > 0  %} {% set classDeute = 'label-danger' %} {% else %} {% set classDeute = 'label-success' %} {% endif %}
						<div class="deute-soci blue-title">deute acumulat: <span class="label {{ classDeute }}"> 
						{{ persona.deute|number_format(2, ',', '.')  }} € ({{ persona.deutenum  }} rebut/s)</span></div>{% endif %}
				</ul>
				{% block blocktabseccions %}{% endblock %}
				{% block blocktabavaladors %}{% endblock %}
				{% block blocktabcaixa %}{% endblock %}
				{% block blocktabactivitats %}
				<div id="tab4-activitats">
					<div class="row">
						<div class="col-md-12">
							<div class="form-field full-width-container icon-container cercaactivitat-container">
								{{ form_widget(form.cercaactivitats, {'attr': {'class': 'search-field' } })  }}
								<a id="afegir-activitat" href="{{ path('foment_gestio_json_participacions') }}"><span class="button-icon icon-btn-30x30 down blue"></span></a>
							</div>
							{{ form_widget(form.activitatstmp, {'attr': {'class': 'activitatstmp' } }) }}
							<div id="taula-activitats">{% include 'FomentGestioBundle:Includes:taulaactivitatspersona.html.twig' %}</div>
						</div>
					</div>
				</div>
				{% endblock %}
				{% block blocktabaltres %}
				<div id="tab5-altres">
					<div class="row">
						<div class="col-md-12">
							<div class="form-field area-container">
								<span class="fa fa-comments pumpkin"></span>
								{{ form_widget(form.observacions, {'attr': {'class': 'text-observacions', 'rows':6, 'cols':74 } })  }}
							</div>
						</div>
					</div>
				</div>
				{% endblock %}
			</div>
		</div>
		{% block blockimatgesoci %}
			{% if persona.essoci %}
			<div class="form-subblock col-md-2 col-xs-4 resizable on-sidebar-col-md-4">
				<div id="image-soci" class="foto-upload">
					{% if persona.foto is not null and persona.foto.width > 0 and persona.foto.height > 0 %}
						<a href="{{ persona.foto.webPath }}" target="_blank" download="{{ persona.foto.path }}">
							<img src="{{ persona.foto.webPath }}" alt="{{ persona.foto.titol }}" 
								class="img-responsive img-thumbnail"  alt="Fotografia del soci {{ persona.nom }} {{ persona.cognoms }} "></a>
					{% else %}
						<a href="javascript:void(0)"><img src="{{ asset('imatges/icon-photo.blue.png') }}" 
								class="img-responsive img-thumbnail img-unavailable" alt="Fotografia del soci no disponible"></a>
					{% endif %}
				</div>
			</div>
			{% endif %}
		{% endblock %}	
	</div>
	<div class="page-block">
		<h2 class="block-title">Rebuts
			<p class="show-hide-anulats">
				<a href="javascript:void(0)" class="camp-ocult-show">mostrar anul·lats<span class="fa fa-eye fa-1"></span></a>
				<a href="javascript:void(0)" class="camp-ocult-hide">ocultar anul·lats<span class="fa fa-eye-slash fa-1"></span></a>
			</p> 
		</h2>
		<div class="panel panel-default taula-resultats full-width-container">
			{% set titleRebuts = '' %}
			{% include 'FomentGestioBundle:Includes:taularebuts.html.twig' %}
		</div>
	</div>
	
	<div class="form-hidden">
    	{{ form_widget(form.id, {'attr': {'class': 'id-persona-soci' } }) }}
		{% block blockhiddensoci %}{% endblock %}
    </div>
	<div class="form-hidden">
		{{ form_end(form) }}
	</div>	
	
	
{% endblock %}


{% block javascripts %}

{{ parent() }}

<!-- Select2 plugin's -->
	<script src="{{ asset('js/select2.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/select2_locale_ca.js') }}" type="text/javascript"></script>

<script type="text/javascript">

$(document).ready(function(){

	/* Accions */
	$('a#save-data').click(function(event) {
		event.preventDefault();

		$('form').submit();
	});

	$('a.camp-ocult-show').click(function(event) {
		event.preventDefault();

		$(this).hide();
		$('.rebut-anulat').show();
		$('a.camp-ocult-hide').show();

		var total = $('#total-rebuts').val();
		$('.total-rowcount').html('Total: '+total);
	});

	$('a.camp-ocult-hide').click(function(event) {
		event.preventDefault();

		$(this).hide();
		$('.rebut-anulat').hide();
		$('a.camp-ocult-show').show();

		var total = $('#total-senseanulats').val();
		$('.total-rowcount').html('Total: '+total);
		
	});

	$('a.camp-ocult-hide').click();
	
	/************** Tab activitats - cercador i afegir a la llista *************************/

	init_cercaactivitats_JSON('.cercaactivitat-container input.search-field', 'inscriure a l\'activitat', '.activitatstmp' );
	
	
	$('a#afegir-activitat').click(function(event) {
		event.preventDefault();

		// Afegir fila per cada nova activitat json
		if ($('.cercaactivitat-container input.search-field').val() == '') return false;
		
		// Les actuals més les noves
		var idsactivitats = $('.cercaactivitat-container input.search-field').val(); // Activitats id

		var idscurrent = $('.activitatstmp').val();
		
		var url = $(this).attr('href');

		var params = { 	'activitatsnoves': idsactivitats };
		
		$.get(url, params, function(data) {
			$('#taula-activitats tbody .fila-error').remove();
			
			$('#taula-activitats tbody').append(data);

			if (idscurrent != '')  idscurrent += ',';
			$('.activitatstmp').val( idscurrent + idsactivitats  );
			
			$('.cercaactivitat-container input.search-field').select2('val', '');
			
		}).fail(function() {
			obrirDialegInformacio('Error afegint l\'activitat',  'Informació d\'error');
		});
	});


	// treure activitat click delegat
	$('#tab4-activitats').on('click', 'a.treure-activitat', function (event) {
		event.preventDefault();

		$(this).parents('tr').addClass('table-row-removed');		

		if ($('#taula-activitats tbody tr.activitat-persona').not('tr.table-row-removed').length == 0) {
			$('#taula-activitats tbody').append('<tr class="fila-error"><td><div class="alert"><div class="alert alert-success">no hi ha activitats inscrites</div></div></td></tr>');
		}
		
		var id = $(this).parents('tr').find('.activitat-id').html();

		// Treure id de la selecció
		var idscurrent = $('.activitatstmp').val();
		
		var idscurrentArray = idscurrent.split(","); 
		var index = idscurrentArray.indexOf(id);
		
		if (index > -1) {
			idscurrentArray.splice(index, 1);
		}
		var idscurrent = idscurrentArray.join(",");
		
		$('.activitatstmp').val(idscurrent);
	}); 
	
	
	/************** Init datepickers *************************/
	
	var mindate = new Date({{ constant('Foment\\GestioBundle\\Controller\\UtilsController::MIN_DATEPICKER_YEAR')  }}, 0 , 1 );
	var currdate = new Date({{ constant('Foment\\GestioBundle\\Controller\\UtilsController::DEFAULT_MIN_DATEPICKER_YEAR')  }}, 0 , 1 );
	var maxdate = dateNow;  
	initDateTimePicker ($( '.datanaixement-persona' ), mindate, maxdate, currdate, 'datanaixement-picker', false);

	/************** Poblacions select's *************************/
	createSelects = function(elem, field, pholder) {
		elem.select2({
			minimumInputLength: 3,
			allowClear: true,
			placeholder: pholder,
			
			query: function (query) {
				var data = {results: []};
				var url = "{{  path('foment_gestio_json_poblacions') }}";
				var params = { 	term: query.term, field: field };

				$.get(url,	params, function(jdata) {
					data.results = jdata;
					query.callback(data);
					
				}).fail(function() {
					query.callback(data);
				});
			},
			initSelection: function(element, callback) {  // value del input ==> carrega per defecte
				var id=$(element).val();
				var data = {id: element.val(), text: element.val()};
		        callback(data);
			},
			createSearchChoice:function(term, data) { // Allow new values
		         if ( $(data).filter( function() {
		           return this.text.localeCompare(term)===0;
		         }).length===0) {
		           return {id:term, text:term};
		         }
		    },
		});
	};

	createSelects($('.poblacio-container .search-field'),'municipi', 'cercar població'); 
	
	createSelects($('.provincia-container .search-field'),'provincia', 'cercar provincia'); 

	$(".poblacio-container .search-field").on("change", function(e) { 
		//alert(e.val + " " + e.added);
		//log("change "+JSON.stringify({val:e.val, added:e.added, removed:e.removed})); 
	})
	
	
	/* Check soci. desactivat canvia a formulari persona */
	$('.check-soci').change(function () {
		var id = 0;
		if ($('.id-persona-soci').length &&  $('.id-persona-soci').val() > 0) id = $('.id-persona-soci').val();
		var url = "";
		if ($('.check-soci').is(':checked')) {
			// De persona --> a soci
			if ( id ) {
				$('a.alta-soci').click();
			} else {
				// Obrir form nou soci amb dades del formulari de persona
				url = "{{  path('foment_gestio_nousoci', { 'params' : 'PARAMS' }) }}";
				url = url.replace('params=PARAMS', $( 'form' ).serialize());
				window.location = url;
			}
		} else {
			// De soci --> a persona
			if ( id ) {
				$('a.baixa-soci').click();
				
				// Soci existent, baixa passa a ser persona

			} else {
				// Obrir form nova persona amb dades del formulari de soci
				str = $( 'form' ).serialize();
				url = "{{  path('foment_gestio_novapersona', { 'params' : 'PARAMS' }) }}";
				url = url.replace('params=PARAMS', $( 'form' ).serialize());
				window.location = url;
			}
			
			
		}
		
	});
	
	$('a.alta-soci').click(function(event) {
		// Persona existent, alta nou soci
		
		event.preventDefault();
		  
		obrirMascaraBlock('.page-content');

		var text = "<h2 class='block-title blue'>vols fer soci/a a aquesta persona?</h2>";
		text += "<i>cal tenir en compte que es perdran els canvis no desats</i>";
		
		url = "{{  path('foment_gestio_nousoci', { 'id' : 'VARIABLE' }) }}";
		url = url.replace('VARIABLE', '{{ persona.id  }}');
		obrirDialegConfirmacio(text, 'Nou soci', 0, 400, 
			function() { // Ok
				window.location = url;
			}, 
			function() { // Ko
				tancarMascaraBlock('.page-content');
				$('.check-soci').prop('checked', false);	
			}
		);
	});
	

	dialegCertificatHisenda( $('a.obrir-certificat') );
	
	/************** Tabs Info *************************/
	
	$( "#info-tabs" ).tabs({
		//event: "mouseover"
		active: {{ queryparams.tab }},
		activate: function( event, ui ) {
			if (ui.newPanel.is("#tab2-banc")){
		        //banc tab activated
		        
		     	// Height
		    	/*
		    	var hbank = 200;
		    	if ($('#tab2-banc .row').is(":visible")) {
		    		hbank = $('#tab2-banc .row').height();
		    	}
		    	
		    	$('#tab2-banc .col-complete-height').height($('#tab2-banc .row').height());*/
		    }
		    else{
		        //second tab activated
		    	
		    }
		}
	});
});

//Definit també a cercarebuts
callbackUpdateRebut = function () {
	
	//var idAct = $('#idactivitat').html();
	var url = "{{ path('foment_gestio_veuredadespersonals',  ({'id': persona.id }|merge(queryparams)) )|raw }}";
	//url = url.replace('__ACTIVITATID__', idAct);
	window.location = url;
}

</script>

{% include 'FomentGestioBundle:Includes:taularebuts.js.twig' %}

{% endblock %}