<div class="row">	
	<div class="col-md-12">
		<div id="taula-proveidors">
			{{ form_start(form, {'action': path('foment_gestio_nouproveidor')}) }}
	
			<div class="panel panel-default taula-resultats full-width-container">
					<div class="panel-heading jplist-panel">
						<div class="row">	
							<div class="form-field col-md-5">
								<div class="input-group"><span class="input-group-addon input-group-addon-short">filtre</span>
								{{ form_widget(form.filtre, {'attr': {'placeholder': 'filtre per nom de la secció' }} )  }}
					   	    		<span class="input-group-addon input-group-addon-icon filter-table"><span class="fa fa-search fa-1x"></span></span></div>
					   	    </div>
							<div class="col-md-5">
								<div class="input-group full-width-container"><span class="input-group-addon input-group-addon-short">
									<span class="fa fa-list-ol fa-1x"></span></span>
										<div class="form-select">{{ form_widget(form.midapagina, {'attr': {'placeholder': '' }} )  }}</div>
								</div>
							</div>	
					   	    <div class="col-md-2 text-right">
					   	    	<span class="total-rowcount blue-title">Total: {{ proveidors.getTotalItemCount|number_format(0, ',', '.') }}</span>
					   	    </div>
						</div>
					</div>					
					<table class="table filtered-table">
						<thead>
							<tr>
								<th class="hidproveidor hidden-col">id</th>
								<th class="hnomproveidor">{{ knp_pagination_sortable(proveidors, 'Nom/Raó social', 'p.raosocial') }}</th>
								<th class="hcifproveidor table-field-center">{{ knp_pagination_sortable(proveidors, 'CIF', 'p.cif') }}</th>
								<th class="hcontacteproveidor table-field-center">contacte</th>
								<th class="hicon-1x">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							{% if proveidors|length > 0 %}
								{% for proveidor in proveidors %}
									<tr class="item-sort">
										<td class="idproveidor hidden-col">{{ proveidor.id }}</td>
										<td class="nomproveidor">{{ proveidor.raosocial }}</td>
										<td class="cifproveidor table-field-center">{{ proveidor.cif }}</td>
										<td class="contacteproveidor table-field-center">{{ proveidor.contacte|raw }}</td>
										<td class="icon-cell veureseccio-icon-cell"><a class="mostrar-proveidor" href="javascript:void(0)">
											<span class="fa fa-search blue"></span></a></td>
									</tr>
								{% endfor %}
							{% else %}
								<tr><td colspan="5" class="alert"><div class="alert"><div class="alert alert-success">no s'ha trobat cap proveidor</div></div></td></tr>
					  	 	{% endif %}
					   	</tbody>
				</table>			
				<div class="panel-footer jplist-panel">
					<div class="row">
							{% if proveidors.getTotalItemCount > queryparams['perpage'] %}
								<span class="col-md-12 text-right navigation blue-title">Pàgines: {{ knp_pagination_render(proveidors, null, queryparams) }}</span>
							{% endif %}
					</div>
				</div>
			</div>		
			<div class="form-hidden">{{ form_end(form) }}</div>
		</div>
	</div>
</div>