<div id="planificacio-calendari-facturacio">
	<div class="row">
		{{ form_widget(form.facturacioid) }}
		{{ form_widget(form.docenciesjson) }}
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<div class="form-field">
						{{ form_widget(form.cercardocent, {'attr': {'class': 'input-group'} }) }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 form-field">
					<div class="input-group"><span class="input-group-addon">des de</span>
						{{ form_widget(form.datadesde, {'attr': {'class': 'form-control form-control-center', 'placeholder': 'des de' } }) }}
							<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
					</div>{{ form_errors(form.datadesde) }}
				</div>
				<div class="col-md-3 form-field">
					<div class="input-group"><span class="input-group-addon">sessions</span>
						{{ form_widget(form.hores, {'attr': {'placeholder': '', 'class': 'form-control form-control-center', 'data-value-init': ''  } })  }}
					</div>{{ form_errors(form.hores) }}
				</div>
				<div class="col-md-4 form-field">
					<div class="input-group"><span class="input-group-addon">preu/sessió</span>
						{{ form_widget(form.preuhora, {'attr': {'placeholder': '', 'class': 'form-control form-control-center', 'data-value-init': ''  } })  }}
						<span class="input-group-addon"><span class="fa fa-eur fa-1x"></span></span>
					</div>{{ form_errors(form.preuhora) }}
				</div>	
			</div>
		</div>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-2">
					<h4  class="blue-title">Periodicitat</h4>
					<div class="form-field">
						<div class="input-group multiple-container"><span class="input-group-addon input-group-addon-short">setmanal</span>
							<div class="radio form-control form-control-center">{{ form_widget(form.tipusprogramacio[0], 
								{'attr': {'container-data': '#programacio-setmanal', 'class': 'tipus-programacio' } })  }}</div>
						</div>
					</div>
					<div class="form-field">
						<div class="input-group multiple-container"><span class="input-group-addon input-group-addon-short">mensual&nbsp;</span>
							<div class="radio form-control form-control-center">{{ form_widget(form.tipusprogramacio[1], 
								{'attr': {'container-data': '#programacio-mensual', 'class': 'tipus-programacio' } })  }}</div>
						</div>
					</div>
					<div class="form-field">
						<div class="input-group multiple-container"><span class="input-group-addon input-group-addon-short">sessions</span>
							<div class="radio form-control form-control-center">{{ form_widget(form.tipusprogramacio[2], 
								{'attr': {'container-data': '#programacio-sessions', 'class': 'tipus-programacio' } })  }}</div>
						</div>
					</div>
				</div>
				<div class="col-md-10">
					<p>&nbsp;</p>
					<div id="programacio-setmanal" class="panel panel-default taula-resultats taula-programacio">
						<table class="table">
							<thead>
								<tr><th class="dia-setmana-desc">&nbsp;</th><th class="dia-setmana">dilluns</th><th class="dia-setmana">dimarts</th>
								<th class="dia-setmana">dimecres</th><th class="dia-setmana">dijous</th>
								<th class="dia-setmana">divendres</th></tr>
							</thead>
							<tbody class="full-width-container">
								{#<tr><td class="dia-setmana-desc">&nbsp;</td>{% for i in 0..4 %}<td class="dia-setmana">{{ form_widget(form.diessetmana[i])  }}</td>	{% endfor %}</tr>#}
								<tr><td class="dia-setmana-desc">inici</td>
									<td class="hora-dia-setmana">{{ form_widget(form.dlhorainici)  }}</td>
									<td class="hora-dia-setmana">{{ form_widget(form.dmhorainici)  }}</td>
									<td class="hora-dia-setmana">{{ form_widget(form.dxhorainici)  }}</td>
									<td class="hora-dia-setmana">{{ form_widget(form.djhorainici)  }}</td>
									<td class="hora-dia-setmana">{{ form_widget(form.dvhorainici)  }}</td>
								</tr>
								<tr><td class="dia-setmana-desc">fins</td>
									<td class="hora-dia-setmana">{{ form_widget(form.dlhorafinal)  }}</td>
									<td class="hora-dia-setmana">{{ form_widget(form.dmhorafinal)  }}</td>
									<td class="hora-dia-setmana">{{ form_widget(form.dxhorafinal)  }}</td>
									<td class="hora-dia-setmana">{{ form_widget(form.djhorafinal)  }}</td>
									<td class="hora-dia-setmana">{{ form_widget(form.dvhorafinal)  }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div id="programacio-mensual" class="panel panel-default panel-primary taula-programacio">
						<div class="panel-heading">
    						<span class="panel-title">periodicitat mensual</span>
  						</div>
  						<div class="panel-body">
							<div class="row">
								<div class="col-md-3 form-field">
									<div class="input-group"><span class="input-group-addon input-group-addon-short">
										<span class="fa fa-list-ol fa-1x"></span></span>
											<div class="form-select">{{ form_widget(form.setmanadelmes, {'attr': {'placeholder': '' }} )  }}</div>
									</div>
								</div>	
								<div class="col-md-3 form-field">
									<div class="input-group"><span class="input-group-addon input-group-addon-short">
										<span class="fa fa-list-ol fa-1x"></span></span>
											<div class="form-select">{{ form_widget(form.diadelmes, {'attr': {'placeholder': '' }} )  }}</div>
									</div>
								</div>	 
							
								<div class="col-md-3 form-field">
									<div class="input-group"><span class="input-group-addon input-group-addon-short">
										inici</span>{{ form_widget(form.horainicidiadelmes)  }}
									</div>
								</div>	
								<div class="col-md-3 form-field">
									<div class="input-group"><span class="input-group-addon input-group-addon-short">
										fins</span>{{ form_widget(form.horafinaldiadelmes)  }}
									</div>
								</div>	
							</div>
						</div>
					</div>	
					<div id="programacio-sessions" class="panel panel-default panel-primary taula-programacio">
						<div class="panel-heading">
    						<span class="panel-title">sessions concretes</span>
  						</div>
  						<div class="panel-body">
							<div class="row">
								<div class="col-md-4 form-field">
									<div class="input-group">
										{{ form_widget(form.datasessio, {'attr': {'class': 'form-control form-control-center' } }) }}
												<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
									</div>
								</div>	
								<div class="col-md-3 form-field">
									<div class="input-group"><span class="input-group-addon input-group-addon-short">
										final</span>{{ form_widget(form.horainicisessio)  }}
									</div>								
								</div>	
								<div class="col-md-3 form-field">
									<div class="input-group"><span class="input-group-addon input-group-addon-short">
										final</span>{{ form_widget(form.horafinalsessio)  }}
									</div>								
								</div>	
							</div>
						</div>
					</div>
				</div>			
			</div>
		</div>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6"><h4  class="blue-title">Sessions programades</h4></div>
				<div class="col-md-6">
					<div class="form-control-right">
						<a id="add-programacio" class="btn btn-default" href="{{ path('foment_gestio_updatetaulaprogramacio', {'id': facturacio.id }) }}">
							programar sessions&nbsp;<span class="fa fa-arrow-circle-down fa-1x"></span>
						</a>
					</div>
				</div>	
			</div>
		</div>
		<div class="col-md-12">
			<div id="detall-programacio-setmanal">
				{# set docencies = facturacio.arrayDocencies.docencies #}
				{# include 'FomentGestioBundle:Includes:taulaprogramaciofacturacio.html.twig' #}
			</div>
		</div>
	</div>
</div>