		<div id="taula-activitats">
			<div class="panel panel-default taula-resultats full-width-container">
				<div class="panel-heading jplist-panel">
					<div class="row">	
						<div class="form-field col-md-6">
							<div class="input-group"><span class="input-group-addon input-group-addon-short">filtre per descripció</span>
							{{ form_widget(form.filtre, {'attr': {'placeholder': 'filtre per la descripció del curs o activitat' }} )  }}
				   	    		<span class="input-group-addon input-group-addon-icon filter-table"><span class="fa fa-search fa-1x"></span></span></div>
				   	    </div>
						<div class="col-md-3">
							<div class="input-group full-width-container"><span class="input-group-addon input-group-addon-short">
								<span class="fa fa-list-ol fa-1x"></span></span>
									<div class="form-select">{{ form_widget(form.midapagina, {'attr': {'placeholder': '' }} )  }}</div>
							</div>
						</div>				   	    
				   	    <div class="col-md-3 text-right">
				   	    	<span class="total-rowcount blue-title">Total: {{ activitats|length|number_format(0, ',', '.') }} de {{ activitats.getTotalItemCount|number_format(0, ',', '.') }}</span><br>
				   	    	<span class="show-hide-anulats">
				   	    		{% if queryparams['finalitzats'] == false %}
				   	    			<a href="{{ path('foment_gestio_activitats', queryparams|merge( {'finalitzats': 1 } ))|raw }}" class="mostrar-baixes">mostrar finalitzats ({{ (total-activitats|length)|number_format(0, ',', '.') }})<span class="fa fa-eye fa-1"></span></a>
				   	    		{% else %} 
									<a href="{{ path('foment_gestio_activitats', queryparams|merge( {'finalitzats': 0 } ))|raw }}" class="ocultar-baixes">ocultar finalitzats ({{ (total-activitats|length)|number_format(0, ',', '.') }})<span class="fa fa-eye-slash fa-1"></span></a>
								{% endif %}
							</span>
				   	    </div>
					</div>
				</div>
				<table class="table filtered-table">
					<thead>
						<tr>
							<th rowspan="2" class="hidactivitat hidden-col">id activitat</th>
							<th rowspan="2" class="hidfacturacio hidden-col">id facturacio</th>
							<th rowspan="2" class="hdescfacturacio">{{ knp_pagination_sortable(activitats, 'descripcio', 'a.descripcio') }}</th>
							<th rowspan="2" class="hllocactivitat">{{ knp_pagination_sortable(activitats, 'lloc', 'a.lloc') }}</th>
							<th rowspan="2" class="himportfacturacio">preu/alumnes<br/><span class="subtitle">soci - no soci</span></th>
							<th rowspan="2" class="hprevisioingressos">ingressos</th>
							<th colspan="4" class="hsessionsdocent">sessions</th>
							<th rowspan="2" class="halumnesnecessaris">mín.<br/><span class="subtitle">alumnes</span></th>
							<th rowspan="2" class="hprevisioresultat">TOTAL</th>
							<th rowspan="2" class="hactivitatsicones">&nbsp;</th>
						</tr>
						<tr>
							<th class="hdocentactivitat">professor</th>
							<th class="hsessionsdocent">num.</th>
							<th class="hpreusessiodocent">cost</th>
							<th class="hprevisiocost">total</th>
						</tr>
					</thead>
					{% if activitats|length > 0 %}
					<tbody>
						{% for activitat in activitats %}
							{% for facturacio in activitat.facturacionsActives %}
								{% if facturacio.DocenciesOrdenades|length > 0 %}
									{% set spanRow = facturacio.DocenciesOrdenades|length %}
									{% set docent = facturacio.DocenciesOrdenades[0] %}
									{% set saldoActivitat = (facturacio.PrevisioIngressos - (docent.preuhora * docent.totalhores)) %}
									<tr class="item-sort {% if queryparams['finalitzats'] is not defined or queryparams['finalitzats'] == 0 %}ocultar-finalitzats{% endif %} {% if activitat.finalitzat == true %}activitat-finalitzada{% else %}activitat-activa{% endif %}">
										<td rowspan="{{ spanRow }}" class="idactivitat hidden-col">{{ activitat.id }}</td>
										<td rowspan="{{ spanRow }}" class="idfacturacio hidden-col">{{ facturacio.id }}</td>
										<td rowspan="{{ spanRow }}" class="descfacturacio">
											<b>{{ facturacio.descripcio }}</b><br/>		
											<span class="infocalendari">{{ facturacio.infocalendari|raw }}</span>
										</td>
										<td rowspan="{{ spanRow }}" class="llocactivitat">{{ activitat.lloc|raw }}</td> 
										<td rowspan="{{ spanRow }}" class="importfacturacio">
											{{ facturacio.importactivitat|number_format(2, ',', '.') }} - <span class="nosoci">{{ facturacio.importactivitatnosoci|number_format(2, ',', '.') }}</span><br/>
											{{ facturacio.totalRebutsPerDeutor(true) }} - <span class="nosoci">{{ facturacio.totalRebutsPerDeutor(false) }}</span>
										</td>
										<td rowspan="{{ spanRow }}" class="previsioingressos green">{{ facturacio.PrevisioIngressos|number_format(2, ',', '.') }}</td>

										<td class="docentactivitat">{{ docent.proveidor.raosocial }}<br/><span class="contactedocent">{{ docent.proveidor.contacte|raw }}</span></td>
										<td class="sessionsdocent">{{ docent.totalhores }}</td>
										<td class="preusessiodocent">{{ docent.preuhora|number_format(2, ',', '.') }}</td>
											
										<td rowspan="{{ spanRow }}" class="previsiocost red">{{ facturacio.PrevisioCostos|number_format(2, ',', '.') }}</td>
										<td rowspan="{{ spanRow }}" class="alumnesnecessaris">{{ facturacio.MinimAlumnes }}+</td>
										<td rowspan="{{ spanRow }}" class="previsioresultat">{% if saldoActivitat < 0 %}<span class="red">{% endif %} {{ saldoActivitat|number_format(2, ',', '.') }}{% if saldoActivitat < 0 %}</span>{% endif %}</td>
										<td rowspan="{{ spanRow }}" class="icon-cell activitatsicones">
											<a class="mostrar-activitat" href="{{ path('foment_gestio_activitat', {'id': activitat.id }) }}" title="Mostrar activitat">
												<span class="fa fa-search fa-1 persian"></span>
											</a>
											<a class="veure-facturacio" href="{{ path('foment_gestio_infoactivitat', {'id': activitat.id }) }}" title="Mostrar facturació" data-activitat="{{ activitat.descripcio }}">
												<span class="fa fa-money fa-1 persian"></span>
											</a>
											<a class="clonar-activitat" href="{{ path('foment_gestio_clonaractivitat', {'id': activitat.id }) }}" title="Clonar curs, taller o activitat">
												<span class="fa fa-copy fa-1 orange"></span>
											</a>
											<a class="esborrar-activitat" href="{{ path('foment_gestio_esborraractivitat', {'id': activitat.id }) }}" title="Esborrar curs, taller o activitat">
												<span class="fa fa-trash fa-1 red"></span>
											</a>
											{% if activitat.finalitzat == true %}
											<a href="{{ path('foment_gestio_finalitzaractivitat', {'id': activitat.id, 'ocultar': 0 }|merge(queryparams) ) }}" title="mostrar activitat" class="show-activitat"><span class="fa fa-eye fa-1"></span></a>
											{% else %}
											<a href="{{ path('foment_gestio_finalitzaractivitat', {'id': activitat.id, 'ocultar': 1 }|merge(queryparams) ) }}" title="finalitzar activitat" class="hide-activitat"><span class="fa fa-eye-slash fa-1"></span></a>
											{% endif %}
										</td>
									</tr>
									
									{% for docent in facturacio.DocenciesOrdenades|slice(1) %}
										<tr class="item-sort {% if queryparams['finalitzats'] is not defined or queryparams['finalitzats'] == 0 %}ocultar-finalitzats{% endif %} {% if activitat.finalitzat == true %}activitat-finalitzada{% else %}activitat-activa{% endif %}">
											<td class="docentactivitat">{{ docent.proveidor.raosocial }}<br/><span class="contactedocent">{{ docent.proveidor.contacte|raw }}</span></td>
											<td class="sessionsdocent">{{ docent.totalhores }}</td>
											<td class="preusessiodocent">{{ docent.preuhora|number_format(2, ',', '.') }}</td>
										</tr>
									{% endfor %}	
								{% else %}
									<tr class="item-sort {% if queryparams['finalitzats'] is not defined or queryparams['finalitzats'] == 0 %}ocultar-finalitzats{% endif %} {% if activitat.finalitzat == true %}activitat-finalitzada{% else %}activitat-activa{% endif %}">
										<td class="idactivitat hidden-col">{{ activitat.id }}</td>
										<td class="idfacturacio hidden-col">{{ facturacio.id }}</td>
										<td class="descfacturacio">
												<b>{{ facturacio.descripcio }}</b><br/>		
												<span class="infocalendari">{{ facturacio.infocalendari|raw }}</span>
											</td>
											<td class="llocactivitat">{{ activitat.lloc|raw }}</td> 
											<td class="importfacturacio">
												{{ facturacio.importactivitat|number_format(2, ',', '.') }} - <span class="nosoci">{{ facturacio.importactivitatnosoci|number_format(2, ',', '.') }}</span><br/>
												{{ facturacio.totalRebutsPerDeutor(true) }} - <span class="nosoci">{{ facturacio.totalRebutsPerDeutor(false) }}</span>
											</td>
											<td class="previsioingressos green">{{ facturacio.PrevisioIngressos|number_format(2, ',', '.') }}</td>
											<td class="docentactivitat">--</td>
											<td class="sessionsdocent">--</td>
											<td class="preusessiodocent">--</td>
											<td class="previsiocost red">--</td>
											<td class="alumnesnecessaris">&nbsp;</td>
											<td class="previsioresultat">{{ facturacio.PrevisioIngressos|number_format(2, ',', '.') }}</td>
											<td class="icon-cell activitatsicones">
												<a class="mostrar-activitat" href="{{ path('foment_gestio_activitat', {'id': activitat.id }) }}" title="Mostrar activitat">
													<span class="fa fa-search fa-1 persian"></span>
												</a>
												<a class="veure-facturacio" href="{{ path('foment_gestio_infoactivitat', {'id': activitat.id }) }}" title="Mostrar facturació" data-activitat="{{ activitat.descripcio }}">
													<span class="fa fa-money fa-1 persian"></span>
												</a>
												<a class="clonar-activitat" href="{{ path('foment_gestio_clonaractivitat', {'id': activitat.id }) }}" title="Clonar curs, taller o activitat">
													<span class="fa fa-copy fa-1 orange"></span>
												</a>
												<a class="esborrar-activitat" href="{{ path('foment_gestio_esborraractivitat', {'id': activitat.id }) }}" title="Esborrar curs, taller o activitat">
													<span class="fa fa-trash fa-1 red"></span>
												</a>
												{% if activitat.finalitzat == true %}
												<a href="{{ path('foment_gestio_finalitzaractivitat', {'id': activitat.id, 'ocultar': 0 }|merge(queryparams) ) }}" title="mostrar activitat" class="show-activitat"><span class="fa fa-eye fa-1"></span></a>
												{% else %}
												<a href="{{ path('foment_gestio_finalitzaractivitat', {'id': activitat.id, 'ocultar': 1 }|merge(queryparams) ) }}" title="finalitzar activitat" class="hide-activitat"><span class="fa fa-eye-slash fa-1"></span></a>
												{% endif %}
											</td>
										</tr>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</tbody>	
					{% else %}
					</table> {# Important!!! sinó el codi html es saneja autom. i descuadra  #}
					<table class="table">
					<div class="alert">
						<div class="alert alert-success">no s'ha trobat cap activitat</div>
					</div>	
					{% endif %}			
				</table>
				<div class="panel-footer jplist-panel">
					<div class="row">
						{% if activitats.getTotalItemCount > queryparams['perpage'] %}
							<span class="col-md-12 text-right navigation blue-title">Pàgines: {{ knp_pagination_render(activitats, null, queryparams) }}</span>
						{% endif %}
					</div>
				</div>
			</div>		
		</div>