		<div id="taula-activitats">
			<div class="panel panel-default taula-resultats full-width-container">
				<div class="panel-heading jplist-panel">
					<div class="row">	
						<div class="form-field col-md-6">
							<div class="input-group"><span class="input-group-addon input-group-addon-short">filtre per descripció</span>
							{{ form_widget(form.filtre, {'attr': {'placeholder': 'filtre per la descripció del curs o activitat' }} )  }}
				   	    		<span class="input-group-addon input-group-addon-icon filter-table"><span class="fa fa-search fa-1x"></span></span></div>
				   	    </div>
						<div class="col-md-3">
							<div class="input-group full-width-container"><span class="input-group-addon input-group-addon-short">
								<span class="fa fa-list-ol fa-1x"></span></span>
									<div class="form-select">{{ form_widget(form.midapagina, {'attr': {'placeholder': '' }} )  }}</div>
							</div>
						</div>				   	    
				   	    <div class="col-md-3">
				   	    	<span class="text-right total-rowcount blue-title">Total: {{ activitats.getTotalItemCount|number_format(0, ',', '.') }} de {{ total|number_format(0, ',', '.') }}</span>
				   	    </div>
					</div>
				</div>
				<table class="table filtered-table">
					<thead>
						<tr>
							<th class="hidactivitat hidden-col">{{ knp_pagination_sortable(activitats, 'id', 'a.id') }}</th>
							<th class="hdescactivitat">{{ knp_pagination_sortable(activitats, 'descripcio', 'a.descripcio') }}</th>
							<th class="hcursactivitat table-field-center">curs</th>		
							<th class="hquotaactivitat table-field-right">{{ knp_pagination_sortable(activitats, 'quota', 'a.quotaparticipant') }}</th>
							<th class="hquotaactivitatnosoci table-field-right">{{ knp_pagination_sortable(activitats, 'no soci', 'a.quotaparticipantnosoci') }}</th>
							<th class="hhoresactivitat table-field-center">{{ knp_pagination_sortable(activitats, 'hores', 'a.totalhores') }}</th>
							<th class="hmaxactivitat table-field-center">{{ knp_pagination_sortable(activitats, 'max.', 'a.maxparticipants') }}</th>	
							<th class="hparticipantsactivitat table-field-center">inscrits/es</th>	
							<th class="hllocactivitat">{{ knp_pagination_sortable(activitats, 'lloc', 'a.lloc') }}</th>		
							<th class="hcalendariactivitat table-field-center">calendari</th>											
							<th class="hactivitatsicones">&nbsp;</th>
						</tr>
					</thead>
					{% if activitats|length > 0 %}
					<tbody>
						{% for activitat in activitats %}
							<tr class="item-sort">
								<td class="idactivitat hidden-col">{{ activitat.id }}</td>
								<td class="descactivitat">{{ activitat.descripcio }}</td>
								<td class="cursactivitat table-field-center">{{ activitat.curs }}</td>	
								<td class="quotaactivitat table-field-right">{{ activitat.quotaparticipant| number_format(2, ',', '.') }}€</td>
								<td class="quotaactivitatnosoci table-field-right">{{ activitat.quotaparticipantnosoci| number_format(2, ',', '.') }}€</td>
								<td class="horesactivitat table-field-center">{{ activitat.totalhores }}</td>
								<td class="maxactivitat table-field-center">{{ activitat.maxparticipants }}</td>
								<td class="participantsactivitat table-field-center">{{ activitat.totalParticipants }}</td>
								<td class="llocactivitat">{{ activitat.lloc|raw }}</td> 
								<td class="calendariactivitat">{{ activitat.infocalendari|raw }}</td> 
								<td class="icon-cell activitatsicones">
									{% if activitat.esanual == true %}
									<a class="mostrar-curs" href="{{ path('foment_gestio_curs', {'id': activitat.id }) }}" title="Mostrar curs">
										<span class="fa fa-search fa-1 persian"></span>
									</a>
									{% else %}
									<a class="mostrar-activitat" href="{{ path('foment_gestio_activitat', {'id': activitat.id }) }}" title="Mostrar taller o activitat">
										<span class="fa fa-search fa-1 persian"></span>
									</a>
									{% endif %}
									<a class="clonar-activitat" href="{{ path('foment_gestio_clonaractivitat', {'id': activitat.id }) }}" title="Clonar curs, taller o activitat">
										<span class="fa fa-copy fa-1 orange"></span>
									</a>
									<a class="esborrar-activitat" href="{{ path('foment_gestio_esborraractivitat', {'id': activitat.id }) }}" title="Esborrar curs, taller o activitat">
										<span class="fa fa-trash fa-1 red"></span>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>	
					{% else %}
					</table> {# Important!!! sinó el codi html es saneja autom. i descuadra  #}
					<table class="table">
					<div class="alert">
						<div class="alert alert-success">no s'ha trobat cap activitat</div>
					</div>	
					{% endif %}			
				</table>
				<div class="panel-footer jplist-panel">
					<div class="row">
						{% if activitats.getTotalItemCount > queryparams['perpage'] %}
							<span class="col-md-12 text-right navigation blue-title">Pàgines: {{ knp_pagination_render(activitats, null, queryparams) }}</span>
						{% endif %}
					</div>
				</div>
			</div>		
		</div>