	
	{% include 'FomentGestioBundle:Includes:messages.html.twig' %}
	<div class="panel panel-default taula-resultats full-width-container">
		<div class="panel-heading">
			<div class="row">
				<div class="form-field col-md-6">
					<div class="input-group"><span class="input-group-addon input-group-addon-short">filtre per nom</span>
					{{ form_widget(form.filtre, {'attr': {'placeholder': 'filtre per nom' } })  }}
		   	    		<span class="input-group-addon input-group-addon-icon filter-table"><span class="fa fa-search fa-1 gray"></span></span></div>
		   	    </div>
		   	    <div class="col-md-3">
					<div class="input-group full-width-container"><span class="input-group-addon input-group-addon-short">
						<span class="fa fa-list-ol fa-1x"></span></span>
							<div class="form-select">{{ form_widget(form.midapagina, {'attr': {'placeholder': '' }} )  }}</div>
					</div>
		   		</div>
		   	    <div class="col-md-3">
		   	    	<span class="text-right total-rowcount blue-title">Total: {{ participants.getTotalItemCount|number_format(0, ',', '.')  }}  de {{ activitat.totalParticipants|number_format(0, ',', '.')  }}</span>
		   	    </div>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr> 
					<th class="hidpersona hidden-col">{{ knp_pagination_sortable(participants, 'id', 'id') }}</th>
					<th class="hnumparticipant table-field-center">{{ knp_pagination_sortable(participants, 'soci/a', 'numsoci') }}</th>
					<th class="hnomparticipant table-field-left">{{ knp_pagination_sortable(participants, 'nom', 'cognomsnom') }}</th>
					<th class="hedatparticipant table-field-center">{{ knp_pagination_sortable(participants, 'edat', 'datanaixement') }}</th>
					<th class="htelfsparticipant table-field-center">telèfons</th>
					<th class="hmailparticipant table-field-center">correu</th>
					<th class="hrebutparticipant table-field-center" colspan="2">informació del rebut</th>
					<th class="hparticipantsaldo table-field-center" colspan="2">deute</th>
				</tr>
			</thead>
		</table>
		<table class="table filtered-table">
			{% if participants|length > 0 %}
			<tbody class="full-width-container">
				{% for participant in participants %}
					<tr class="item-sort">
						<td class="idpersona hidden-col">{{ participant.persona.id }}</td>
						<td class="numparticipant table-field-center">{{ participant.persona.numsoci }}</td>
						<td class="nomparticipant table-field-left">
							<a href="{{ path('foment_gestio_veuredadespersonals', {'id': participant.persona.id, 'soci': (participant.persona.essocivigent) }) }}" title="Veure les dades personals">
							{{ participant.persona.nomCognoms }}</a></td>
						<td class="edatparticipant table-field-center">{{ participant.persona.edat }} anys</td>
						<td class="telfsparticipant table-field-center">{{ participant.persona.telefons }}</td>
						<td class="mailparticipant table-field-center"><a href="mailto:{{ participant.persona.correu }}">{{ participant.persona.correu }}</a></td>
						<td class="rebutparticipant table-field-right">{{ participant.rebutsinfo.import|number_format(2, ',', '.') }}€</td>
						<td class="rebutestatparticipant table-field-left">{{ participant.rebutsinfo.estat }}</td>
						<td class="participantsaldo table-field-right red">{{ participant.persona.deute|number_format(2, ',', '.') }}€</td>
						<td class="iconparticipant icon-cell">
							<a id="cancelar-action" href="{{ path('foment_gestio_activitatcancelacio', {'id': activitat.id, 'persona': participant.persona.id }) }}" title="Cancel·lar inscripció">
								<span class="fa fa-ban fa-1 text-danger"></span></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>			
			{% else %}
			<div class="alert">
				<div class="alert alert-success">cap participant per la cerca indicada</div>
			</div>
		   	{% endif %}	
		</table>
		
		<div class="panel-footer jplist-panel">
			<div class="row">
				{% if participants.getTotalItemCount > queryparams['perpage'] %}
					<span class="col-md-12 text-right navigation blue-title">Pàgines: {{ knp_pagination_render(participants, null, queryparams) }}</span>
				{% endif %}
			</div>
		</div>
	</div>
