<table class="table filtered-table">
	<thead>
		<tr>
			<th class="hidapunt hidden-col">id</th> 
			<th class="hnumapunt table-field-right">Num</th>
			<th class="hdataapunt table-field-center">Data</th>
			<th class="hcodiapunt table-field-left">Codi</th>
			<th class="hconcepteapunt table-field-left">Concepte</th>
			<th class="hentradaapunt table-field-right">Entrada</th>
			<th class="hsortidaapunt table-field-right">Sortida</th>
			<th class="hsaldoapunt table-field-right">Saldo</th>
			<th class="hapunts-action icon-2x">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{% if apunts|length > 0 %}
			{% set editable = false %}
			{% set saldolimit = false %}
			{% for apunt in apunts %}
				{% if date(apunt.data) > date(dataultimsaldo)  %}
					{% if saldolimit == false %}
						<tr><td colspan="8" class="saldolimit">{{ ultimsaldo|number_format(2, ',', '.') }}€ últim saldo registrat {{ dataultimsaldo|date('d/m/Y H:i') }}</td></tr>
						{% set saldolimit = true %}
					{% endif %}
				
					{% set editable = true %}
				{% endif %}
				<tr>
					<td class="idapunt hidden-col">{{ apunt.id }}</td>
					<td class="numapunt table-field-right">{{ apunt.num }}</td>
					<td class="dataapunt table-field-center">{{ apunt.data is empty ? '': apunt.data|date('d/m/Y H:i') }}</td>
					<td class="codiapunt table-field-left">{{ apunt.codi }}</td>
					<td class="concepteapunt table-field-left">{{ apunt.concepte }}</td>
					<td class="entradaapunt table-field-right green">{% if apunt.entrada != '' %}{{ apunt.entrada|number_format(2, ',', '.') }} €{% endif %}</td>
					<td class="sortidaapunt table-field-right red">{% if apunt.sortida != '' %}{{ apunt.sortida|number_format(2, ',', '.') }} €{% endif %}</td>
					<td class="saldoapunt table-field-right">{{ apunt.saldo|number_format(2, ',', '.') }} €</td>
					<td class="apunts-action icon-cell icon-2x">
					{% if editable == true %}
						<a class="editar-apunt" href="{{ path('foment_gestio_apunt', {'id': apunt.id }  ) }}">
							<span class="fa fa-pencil blue"></span></a>
						<a class="esborrar-apunt" href="{{ path('foment_gestio_apuntbaixa', {'id': apunt.id }  ) }}">
							<span class="fa fa-remove red"></span></a>
					{% endif %}
					</td>
				</tr>
			{% endfor %}
		{% else %}
			<tr><td colspan="8" class="alert"><div class="alert"><div class="alert alert-success">no s'ha trobat cap apunt</div></div></td></tr>
		{% endif %}
	</tbody>
</table>			
				
