					
					<table class="table filtered-table">
						<thead>
							<tr>
								<th class="hidapunt hidden-col">id</th>
								<th class="hdataapunt table-field-center">Data</th>
								<th class="hnumapunt table-field-right">Num</th>
								<th class="hcodiapunt table-field-center">Codi</th>
								<th class="hconcepteapunt table-field-left">Concepte</th>
								<th class="hentradaapunt table-field-right">Entrada</th>
								<th class="hsortidaapunt table-field-right">Sortida</th>
								<th class="hsaldoapunt table-field-right">Saldo</th>
								<th class="hicon-2x">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							{% if apunts|length > 0 %}
								{% for apunt in apunts %}
									<tr>
										<td class="idapunt hidden-col">{{ apunt.id }}</td>
										<td class="dataapunt table-field-center">{{ apunt.dataapunt is empty ? '': apunt.dataapunt|date('d/m/Y') }}</td>
										<td class="numapunt table-field-right">{{ apunt.numformat }}</td>
										<td class="codiapunt table-field-center">{{ apunt.codi }}</td>
										<td class="concepteapunt table-field-left">{{ apunt.concepte }}</td>
										<td class="entradaapunt table-field-right">
											{% if apunt.esEntrada %}
												{{ apunt.import|number_format(2, ',', '.') }} €
											{% endif %}
										</td>
										<td class="sortidaapunt table-field-right">
											{% if apunt.esSortida %}
												{{ apunt.import|number_format(2, ',', '.') }} €
											{% endif %}
										</td>
										<td class="saldoapunt table-field-right">{{ saldo|number_format(2, ',', '.') }} €</td>
										<td class="icon-cell icon-2x">
											<a class="editar-apunt" href="{{ path('foment_gestio_caixa', {'id': apunt.id }  ) }}">
												<span class="fa fa-pencil blue"></span></a>
											<a class="esborrar-apunt" href="{{ path('foment_gestio_caixa', {'id': apunt.id }  ) }}">
												<span class="fa fa-remove red"></span></a>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr><td colspan="8" class="alert"><div class="alert"><div class="alert alert-success">no s'ha trobat cap apunt</div></div></td></tr>
					  	 	{% endif %}
					   	</tbody>
					</table>			
				
