{# src/Foment/GestioBundle/Resources/views/Page/gestiocaixa.html.twig #}
{% extends 'FomentGestioBundle::layout.html.twig' %}

{% block title %}Gestió dels períodes de facturació i informació estadística{% endblock %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('foment_gestio_homepage') }}"><span class="fa fa-home fa-1x"></span> Inici</a></li><li><span class="current">Gestió caixa</span></li>
{% endblock %}

{% block containerclass %}gestiocaixa-page{% endblock %}

{% block pagetitle %}Informació de facturació <span class="right-text form-block-label">Selecció del semestre</span>{% endblock %}

{% block topbuttons %}{% endblock %}


{% block main %}
	<div class="page-block row">
		<div id="block-form-periodes" class="form-subblock col-md-12">
			<div class="right-text">
			{{ form_start(form, {'action': path('foment_gestio_caixa')}) }}
				<div class="input-group full-width-container "><span class="input-group-addon input-group-addon-large">Període</span>
	        		<div class="form-select form-select-inner select-anys">{{ form_widget(form.selectoranys, {'attr': {'placeholder': '' } })  }}</div>
	        		<div class="form-select select-semestres">{{ form_widget(form.selectorsemestre, {'attr': {'placeholder': '', 'class': '' } })  }}</div>
		        		<span class="input-group-addon input-group-addon-icon"><span class="fa fa-refresh"></span></span>
	        	</div>
			{{ form_end(form) }}
			</div>
		</div>
		<div class="form-subblock col-md-12">
			<div id="info-tabs" class="">
				<ul>
					<li><a href="#tab1-periodes">Facturació general</a></li>
					<li><a href="#tab2-seccions">Control seccions</a></li>
					<li><a href="#tab3-activitats">Control cursos, tallers i activitats</a></li>
				</ul>
				<div id="tab1-periodes" class="tab-content">
					{# include 'FomentGestioBundle:Rebuts:gestiocaixatabgeneral.html.twig' #}
				</div>
				<div id="tab2-seccions" class="tab-content"></div>
				<div id="tab3-activitats" class="tab-content"></div>
			</div>
		</div>	
	</div>
{% endblock %}


{% block javascripts %}

	{{ parent() }}

	<!-- Select2 plugin's -->
	<script src="{{ asset('js/select2.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/select2_locale_ca.js') }}" type="text/javascript"></script>
	
	<script type="text/javascript">


	var urls = [
			"{{ path('foment_gestio_caixageneral', { action: 'query', current: '__ANY__', semestre: '__SEMESTRE__' } )|raw }}",
			"{{ path('foment_gestio_caixaseccions', { action: 'query', current: '__ANY__', semestre: '__SEMESTRE__' } )|raw }}",
			"{{ path('foment_gestio_caixaactivitats', { action: 'query', current: '__ANY__', semestre: '__SEMESTRE__' } )|raw }}"
			];
	
	queryPeriode = function(active, url) {

		url = url.replace('__ANY__', $( "#form_selectoranys" ).val() );
		url = url.replace('__SEMESTRE__', $( "#form_selectorsemestre" ).val() );
		
		switch(active) {
	    case 1:
	    	// seccions
			obrirMascaraBlock('#tab2-seccions');
			
			$.get(url, function(data) {
				$('#tab2-seccions').html(data);

			}).fail(function(xhr, status, error) {
				
				$('#tab2-seccions').html("No s'ha pogut carregar el contingut de les seccions");
			});	
						        
	        break;
	    case 2:
			// activitats
			obrirMascaraBlock('#tab3-activitats');
			
			$.get(url, function(data) {
				
				$('#tab3-activitats').html(data);

			}).fail(function(xhr, status, error) {
				
				$('#tab3-activitats').html("No s'ha pogut carregar el contingut de les activitats");
			});	
			
	        break;
	    default:
			
	    	obrirMascaraBlock('#tab1-periodes');

			$.get(url, function(data) {
			
				$('#tab1-periodes').html(data);

				$( "a.esborrar-periode" ).click(function(event) {
					event.preventDefault();
					var url = $(this).attr('href');
					
					var text = "<h2 class='block-title blue'><i>Vols confirmar l'anul·lació del període ?</i></h2>";
					text += "<p>S'esborraran <b>tots els rebuts</b> associats a aquest</p>";
					
					obrirDialegConfirmacio(text, "Confirmar anul·lació", 0, 400, 
						function() { // Ok
							
							
							queryPeriode(0, url);
							$('#tab3-activitats').html('');
							$('#tab2-seccions').html('');
							//window.location = url;
						}, 
						function() { // Ko
							// Res a fer
							tancarMascaraBlock('#tab1-periodes');
						}
					);
					
				});

				$( "a.crear-periode" ).click(function(event) {
					event.preventDefault();
					var url = $(this).attr('href');
					
					var text = "<h2 class='block-title blue'><i>Nou període de facturació (semestre)</i></h2>";
					text += "<p>A continuació es crearan els rebuts de les quotes del període</p>";
					
					obrirDialegConfirmacio(text, "Confirmar", 0, 400, 
						function() { // Ok
							
							queryPeriode(0, url);
							$('#tab3-activitats').html('');
							$('#tab2-seccions').html('');
							//window.location = url;
						}, 
						function() { // Ko
							// Res a fer
							tancarMascaraBlock('#tab1-periodes');
						}
					);
					
				});

				$( "a.facturar-rebuts" ).click(function(event) {
					event.preventDefault();
					var url = $(this).attr('href');
					var text = "<h2 class='block-title blue'>Enviament al banc de les domiciliacions</h2>";
					text += "<p><i>Els rebuts pendents seran agrupats en una facturació nova</i></p>";
					
					obrirDialegConfirmacio(text, "Facturar", 0, 400, 
						function() { // Ok
							queryPeriode(0, url);
							$('#tab3-activitats').html('');
							$('#tab2-seccions').html('');
							//window.location = url;
						}, 
						function() { // Ko
							// Res a fer
							tancarMascaraBlock('#tab1-periodes');
						}
					);
					
				});
				
			}).fail(function(xhr, status, error) {

				$('#tab1-periodes').html("No s'ha pogut carregar el contingut");
			});	

		} 
		
	}
	
	$(document).ready( function() {

		var activeTab = {{ active }};
		var activitatId = {{ activitat }};
		var seccioId = {{ seccio }};

		var urlInit =  urls[activeTab];
		if (seccioId != '' && seccioId != 0) {
			urlInit += '&seccio='+seccioId;
		}
		if (activitatId != '' && activitatId != 0) {
			urlInit += '&activitat='+activitatId;
		}
		
		queryPeriode(activeTab, urlInit);
		
		/************** Tabs init *************************/
		$( "#info-tabs" ).tabs({
			active: activeTab,
			beforeActivate: function( event, ui ) {
				
				var url = ui.newTab.find('a').attr('href');
				
				if ( $(url).html().trim() == "" ) {  // Només la primera vegada
					
					switch(url) {
				    case "#tab2-seccions":
					    
				    	queryPeriode(1, urls[1]);
				    				        
				        break;
				    case "#tab3-activitats":

				    	queryPeriode(2, urls[2]);
				        
				        break;
				    default:
					 
				    	queryPeriode(0, urls[0]);
					} 
				}
			}
		});
		
		//$( "#form_selectoranys", "#form_selectorsemestre" ).change(function() {
		$( "#form_selectoranys, #form_selectorsemestre" ).change(function() {
			$('.tab-content').html('');
			var active = $( "#info-tabs" ).tabs( "option", "active" );
			queryPeriode(active, urls[active]);
		});

		
		// Delegat pq el menú es carrega nou cada crida
		$('#tab2-seccions').on('click', 'a.carregar-seccio', function (event) {
			event.preventDefault();
			
			url  = $(this).attr('href');


			queryPeriode(1, url);    

			/*
			var dstOffset = $(this).parents('ul').next('.table').offset();
			var currOffset = $(this).parents('li').offset();
			
		    $(this).parents('li').animate({ left: "+=550px", top: "+=550px"   }, 'slow', function() {   });
			*/
			
		}); 

		// Delegat pq el menú es carrega nou cada crida
		$('#tab3-activitats').on('click', 'a.carregar-activitat', function (event) {
			event.preventDefault();
			
			url  = $(this).attr('href');


			queryPeriode(2, url);    

			/*
			var dstOffset = $(this).parents('ul').next('.table').offset();
			var currOffset = $(this).parents('li').offset();
			
		    $(this).parents('li').animate({ left: "+=550px", top: "+=550px"   }, 'slow', function() {   });
			*/
			
		}); 
		
		
		
	});

	</script>
{% endblock %}