{# src/Foment/GestioBundle/Resources/views/Rebuts/gestiofacturacions.html.twig #}
{% extends 'FomentGestioBundle::layout.html.twig' %}

{% block title %}Gestió dels períodes de facturació{% endblock %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('foment_gestio_homepage') }}"><span class="fa fa-home fa-1x"></span> Inici</a></li><li><span class="current">Gestió facturacions</span></li>
{% endblock %}

{% block containerclass %}gestiofacturacions-page{% endblock %}

{% block pagetitle %}Gestió facturacions{% endblock %}

{% block topbuttons %}{% endblock %}


{% block main %}
	<div class="page-block">
		<div id="block-form-facturacions" class="row">
			<div class="form-subblock col-md-offset-9 col-md-3">
				{{ form_start(form, {'action': path('foment_gestio_facturacionscontent')}) }}
				<div class="right-text">
					{{ form_widget(form.dataemissio) }}
					<div class="input-group full-width-container "><span class="input-group-addon input-group-addon-large">Any</span>
		        		<div class="form-select form-select-inner select-anys">{{ form_widget(form.selectoranys, {'attr': {'placeholder': '' } })  }}</div>
			        	<span class="input-group-addon input-group-addon-icon"><span class="fa fa-refresh"></span></span>
	        		</div>	
					{{ form_end(form) }}
				</div>
			</div>
		</div>
		<div class="row">
			<div id="info-facturacions" class="form-subblock col-md-12">
				{# include 'FomentGestioBundle:Rebuts:gestiofacturacionscontent.html.twig' #}
			</div>	
		</div>
	</div>
{% endblock %}


{% block javascripts %}

	{{ parent() }}

	<!-- Select2 plugin's -->
	<script src="{{ asset('js/select2.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/select2_locale_ca.js') }}" type="text/javascript"></script>
	
	<script type="text/javascript">


	queryFacturacions = function(url) {
		
    	obrirMascaraBlock('#info-facturacions');

		url += '&dataemissio='+$( "#form_dataemissio" ).val();
    	
		$.get(url, function(data) {
			
			$('#info-facturacions').html(data);
				
		}).fail(function(xhr, status, error) {
			$('#info-facturacions').html("No s'ha pogut carregar el contingut"+xhr.responseText);
			
		});	
	}
	
	$(document).ready( function() {

		var url = "{{ path('foment_gestio_facturacionscontent')  }}";
		url += '?action=query&current='+$( "#form_selectoranys" ).val();
		queryFacturacions(url);
		
		$( "#form_selectoranys" ).change(function() {
			$('.info-facturacions').html('');

			url += '?action=query&current='+$( "#form_selectoranys" ).val();
			queryFacturacions(url);
			
			//queryFacturacions(url);
		});

		// 'delegate event'. 
		$('#info-facturacions').on('click', 'a.esborrar-facturacio', function (event) {
			event.preventDefault();
			obrirMascaraBlock('#info-facturacions');
			var url = $(this).attr('href');
			
			var text = "<h2 class='block-title blue'><i>Vols confirmar l'esborrat de la facturació i tots els seus rebuts ?</i></h2>";
			text += "<p>No es podrà esborrar si algun del rebuts ja està pagat. Aquesta acció no es pot desfer</p>";
			
			obrirDialegConfirmacio(text, "Confirmar anul·lació", 0, 400, 
				function() { // Ok
					
					queryFacturacions(url);
					
					//window.location = url;
				}, 
				function() { // Ko
					// Res a fer
					tancarMascaraBlock('#info-facturacions');
				}
			);

		});

		$('#info-facturacions').on('click', 'a.crear-facturacio', function (event) {
			event.preventDefault();
			obrirMascaraBlock('#info-facturacions');
			var url = $(this).attr('href')+'&current='+$( "#form_selectoranys" ).val();
			
			var text = "<h2 class='block-title blue'><i>Facturació de rebuts del "+$( "#form_selectoranys" ).val()+"</i></h2>";
			text += "<p>A continuació es crearan els rebuts pendents de les quotes anuals dels socis.</p>";
			text += "<div class='input-group'>";
			text += "<span class='input-group-addon input-group-addon-short'>data d'emissió</span>";
			text += "<input id='clone_dataemissio' class='form-control form-control-center' type='text' placeholder='' required='required'>";
			text += "<span class='input-group-addon input-group-addon-icon open-calendar'>";
			text += "<span class='fa fa-calendar fa-1x'></span>";
			text += "</span>";
			text += "</div>";
			
			obrirDialegConfirmacio(text, "Confirmar", 0, 400, 
				function() { // Ok
					url += '&dataemissio='+$( "#form_dataemissio" ).val();
			
					queryFacturacions(url);
					
					//window.location = url;
				}, 
				function() { // Ko
					// Res a fer
					tancarMascaraBlock('#info-facturacions');
				}
			);

			var mindate = new Date(dateNow.getFullYear()-1, 0 , 1 );
			var maxdate = new Date();
			maxdate.setDate(dateNow.getDate() + 365);

			initDateTimePicker ($( '#clone_dataemissio' ), mindate,  maxdate, dateNow, 'dataemissio-picker', false);
			
			$( '#clone_dataemissio' ).datetimepicker({ 
				'value': $( '#form_dataemissio' ).val(),
				'onChangeDateTime':  function(ct, $i) {
					  $( '#form_dataemissio' ).val( $i.val() );  // Actualitzar data emissió
				}
			});
			
		});

	});

	</script>
{% endblock %}