{# src/Foment/GestioBundle/Resources/views/Includes/gestiocaixatabactivitats.html.twig #}
<div class="row"><div class="form-subblock col-md-12">
	{% include 'FomentGestioBundle:Includes:messages.html.twig' %}
</div></div>

<div class="row"><div class="col-md-12"><div id="taula-activitat">
	<div class="panel panel-default taula-resultats full-width-container">
		<div class="panel-heading"></div>
		<ul class="menu-activitats">
		{% for itemactivitat in listactivitats %}
			<li class="activitat-menu-item">
				<a class="carregar-activitat" href="{{ path('foment_gestio_caixaactivitats', 
										{ action: 'query', activitat: itemactivitat.id, current: '__ANY__', semestre: '__SEMESTRE__' } )|raw }}">
					{{ itemactivitat.descripcio }} <span class="fa fa-th-list fa-1 yellow"></span></a>
			</li>	
		{% endfor %}
		</ul>
		{% if dades|length > 0 %}
			{% for idactivitat,activitat in dades %}
				<table class="table filtered-table ">
					<thead><tr class="taula-caixa-activitat-summary">
						<th class="hidden-col">id persona</th>
						<th class="table-field-left" colspan="4">
							<span class="activitat-header-subtitle">{{ activitat.subtitol }}</span><br/>
							{% if activitat.escurs == true %}
							<a class="veure-activitat" href="{{ path('foment_gestio_curs', {'id': idactivitat} )  }}" title="Consultar el curs">
							{% else %}
							<a class="veure-activitat" href="{{ path('foment_gestio_activitat', {'id': idactivitat} )  }}" title="Consultar el taller">
							{% endif %}
							{{ activitat.descripcio }}</a>, {{ activitat.participantsactius }} participants
							</th>
						<th class="table-field-right" colspan="{{ activitat.facturacionsHeader|length }}">rebuts: {{ activitat.facturaciorebuts|number_format(2, ',', '.') }} €
							<span class="activitat-header-subtitle">(cobrat: {{ activitat.facturaciocobrada|number_format(2, ',', '.') }} €  
							pendent: {{ activitat.facturaciopendent|number_format(2, ',', '.') }}  €)</span></th>
						<th class="hscroll">&nbsp;</th>	
					</tr>
					<tr class="taula-caixa-activitat-header">
						<th class="hidden-col">{{ idactivitat }}</th>
						<th class="hrownum">&nbsp;</th>
						<th class="hnomparticipant table-field-left">participant</th>
						<th class="hcontacteparticipant table-field-center">&nbsp;</th>
						<th class="hpreuactivitat table-field-right">total</th>
						{% for idfacturacio,facturacio in activitat.facturacionsHeader %}
							<th class="hfacturacioinfo_{{ activitat.facturacionsHeader|length }} table-field-center">
								<a class="veure-rebuts" href="{{ path('foment_gestio_rebuts', {'facturacio': idfacturacio} )  }}" title="Consultar tots els rebuts">
								{{ facturacio.titol }}</a><br/>
								{{ facturacio.preu|number_format(2, ',', '.') }} / {{ facturacio.preunosoci|number_format(2, ',', '.') }} € &nbsp; 
								{{ facturacio.data is empty ? '': facturacio.data|date('d/m/y') }}
								</th>
						{% endfor %}
						<th class="hscroll">&nbsp;</th>				
					</tr>
					</thead>
				</table>	
				<table class="table filtered-table scrollable fit10rows">
					<tbody class="full-width-container">		
						{% for idpersona,persona in activitat.participants %}
							{% if loop.first %}
								{% set padFirst = 'first-row' %}
							{% else %}
								{% set padFirst = '' %}
							{% endif %}
							<tr class="taula-caixa-participant-activitat {% if persona.cancelat == true %} rebut-anulat {% endif %}">
								<td class="idpersona hidden-col">{{ idpersona }}</td>
								<td class="rownum {{ padFirst }} table-field-right">{{ persona.index }}</td>
								<td class="nomparticipant {{ padFirst }} table-field-left">{{ persona.nom|raw }}</td>
								<td class="contacteparticipant {{ padFirst }} table-field-left">{{ persona.contacte|raw }}</td>
								<td class="preuactivitat {{ padFirst }} table-field-right">{{ persona.preu|number_format(2, ',', '.') }}€</td>
								{% for idfacturacio,facturacio in persona.facturacions %}
									{% set class = '' %}
									{% if loop.first %}
										{% set class = 'first-col' %}
									{% endif %}	
									{% if facturacio.rebut == '' or facturacio.rebut.anulat == true  %}
										<td class="facturaciorebut  facturaciorebut_{{ persona.facturacions|length }} {{ padFirst }} {{ class }} rebut-activitat-anulat table-field-center">&nbsp;</td>
									{% else %}
										{% if facturacio.rebut.cobrat == true %} {% set class = 'rebut-activitat-cobrat' %} {% endif %}
										<td class="facturaciorebut facturaciorebut_{{ persona.facturacions|length }} {{ padFirst }} {{ class }} table-field-center">
											<a class="veure-rebut" href="{{ path('foment_gestio_rebuts', {'nini': facturacio.rebut.num, 'facturacio': idfacturacio } )  }}" 
											title="Consultar el {{ facturacio.rebut.info }}">{{ facturacio.rebut.import|number_format(2, ',', '.') }} €</a></td>
									{% endif  %}
									
								{% endfor %}
							</tr>
							
						{% endfor %}			
					</tbody>
				</table>
			{% endfor %}
		<div class="panel-footer"><span class="comment">&nbsp;</span></div>
		{% else %}
			<div class="alert">
				<div class="alert alert-success">escollir un curs o taller per veure'n les dades de facturació</div>
			</div>	
		{% endif %}
	</div>	
</div>
