{# src/Foment/GestioBundle/Resources/views/Rebuts/gestiofacturacionscontent.html.twig #}
<div class="row"><div class="form-subblock col-md-12">
	{% include 'FomentGestioBundle:Includes:messages.html.twig' %}
</div></div>
<div class="row">
	<div class="col-md-12">
		<div id="taula-facturacions">
			<div class="panel panel-default taula-resultats full-width-container">
				<div class="panel-heading">&nbsp;</div>
				<table class="table filtered-table ">
					<thead>
						<tr>
							<th class="hdescfacturacio hrebutsgeneral table-field-left">descripcio</th>	
							<th class="hrebutstotals hrebutsgeneral table-field-right">total</th>
							<th class="hrebutsanulats hrebutsgeneral table-field-right">anul·lats</th>
							<th class="hrebutstotalsnet hrebutsgeneral table-field-right">total net</th>
							<th class="hrebutsbanc hrebutstop table-field-center">Banc</th>
							<th class="hrebutsretornats hrebutstop table-field-center">Retornats</th>
							<th class="hrebutsfinestreta hrebutstop table-field-center">Finestreta</th>
							<th class="hrebutsfacturacioicon hrebutsgeneral icon-cell">&nbsp;</th>
						</tr>
					</thead>
					<tbody class="full-width-container">
						{% if facturacions|length > 0 %}
							{% for facturacio in facturacions %}
								{% set infoRebuts = facturacio.infoRebuts %}
								{% set progress = 0 %}
								{% if  infoRebuts.rebuts.total > 0 %} {% set progress = infoRebuts.cobrats.total/infoRebuts.rebuts.total*100 %} {% endif %}
								<tr class="item-periode periode-facturacio">
									<td class="idfacturacio hidden-col">{{ facturacio.id }}</td>
									<td class="descfacturacio table-field-left">{{ facturacio.descripcio|nl2br }}
										<span class="peu-text">{% if facturacio.domiciliada == true %}<span class="green">domiciliada en data {{ facturacio.datadomiciliada|date('d/m/Y') }}</span>{% endif %}</span></td>
									<td class="rebutstotals table-field-right">
										<span class="num-rebuts">{{ infoRebuts.rebuts.import|number_format(2, ',', '.') }}€ </span>
										<span class="num-rebuts">{% if infoRebuts.rebuts.correccio != 0 %}<span class="red">({{ infoRebuts.rebuts.correccio|number_format(2, ',', '.') }}€)</span>{% endif %}
											<span>{{ infoRebuts.rebuts.total }}</span>
										</span></td>
									<td class="rebutsanulats table-field-right">
										<span class="num-rebuts">{{ infoRebuts.anulats.import|number_format(2, ',', '.') }}€</span> 
										<span class="num-rebuts">{{ infoRebuts.anulats.total }}</span></td>
									<td class="rebutstotalsnet table-field-right">
										<span class="num-rebuts">{{ (infoRebuts.rebuts.import - infoRebuts.anulats.import)|number_format(2, ',', '.') }}€ </span>
										<span class="num-rebuts">{{ (infoRebuts.rebuts.total - infoRebuts.anulats.total) }}</span>
										</span></td>
									<td class="rebutsbancfacturats table-field-right">
										<span class="num-rebuts">{{ infoRebuts.bfacturats.import|number_format(2, ',', '.') }}€</span> 
										<span class="num-rebuts">{{ infoRebuts.bfacturats.total }}</span></td>
									<td class="rebutsbancretornats table-field-right">
										<span class="num-rebuts">{{ infoRebuts.retornats.import|number_format(2, ',', '.') }}€ </span>
										<span class="num-rebuts">{{ infoRebuts.retornats.total }}</span></td>
									<td class="rebutsdirectefinestreta table-field-right">
										<span class="num-rebuts">{{ infoRebuts.finestreta.import|number_format(2, ',', '.') }}€ </span> 
										<span class="num-rebuts"> {% if infoRebuts.finestreta.correccio != 0 %}<span class="red">({{ infoRebuts.finestreta.correccio|number_format(2, ',', '.') }}€)</span> {% endif %}
											<span>{{ infoRebuts.finestreta.total }}</span>
										</span></td>
									<td class="hrebutsfacturacioicon icon-cell">
										{% if facturacio.esEsborrable %}
										<a class="esborrar-facturacio action-right" href="{{ path('foment_gestio_facturacionscontent', { 'facturacio': facturacio.id, 'action': 'remove' } ) }}">
											<span class="fa fa-trash-o red"></span></a>
										{% endif %}
										{% if link == 'facturacio' %}
											{% set params = {'facturacio': facturacio.id }  %}
										{% else %}
											{% set params = {'seccio': facturacio.id }  %}
										{% endif %}
										<a class="veure-rebuts" href="{{ path('foment_gestio_rebuts', params ) }}" title="Veure rebuts"><span class="fa fa-search fa-1 blue"></span></a>
									</td>
								</tr>
								<tr class="item-periode periode-facturacio periode-facturacio-cobrat">
									<td class="idfacturacio hidden-col">{{ facturacio.id }}</td>
									<td class="descfacturacio table-field-right green" colspan="3">cobrat</td>
									<td class="rebutscobrats table-field-right green">
										<span class="num-rebuts green">{{ infoRebuts.cobrats.import|number_format(2, ',', '.') }}€ </span>
										<span class="num-rebuts">{% if infoRebuts.cobrats.correccio != 0 %}<span class="red">({{ infoRebuts.cobrats.correccio|number_format(2, ',', '.') }}€)</span> {% endif %}
											{{ infoRebuts.cobrats.total }}
										</span></td>
									<td class="rebutsbancfacturats table-field-right">
										<span class="num-rebuts green">{{ infoRebuts.bcobrats.import|number_format(2, ',', '.') }}€</span> 
										<span class="num-rebuts">{{ infoRebuts.bcobrats.total }}</span></td>
									<td class="rebutscobratsretornats table-field-right">
										<span class="num-rebuts green">{{ infoRebuts.rcobrats.import|number_format(2, ',', '.') }}€</span> 
										<span class="num-rebuts">{{ infoRebuts.rcobrats.total }}</span></td>
									<td class="rebutsdirectefinestretacobrats table-field-right">
										<span class="num-rebuts green">{{ infoRebuts.fcobrats.import|number_format(2, ',', '.') }}€ </span> 
										<span class="num-rebuts">{% if infoRebuts.fcobrats.correccio != 0 %}<span class="red">({{ infoRebuts.fcobrats.correccio|number_format(2, ',', '.') }}€)</span> {% endif %}
											{{ infoRebuts.fcobrats.total }}
										</span></td>
									<td class="hrebutsfacturacioicon icon-cell">&nbsp;</td>
								</tr>
								<tr class="item-periode"><td class="rebutsprogres" colspan="8">
									<div class="progress">
  										<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
	    									<span class="sr-only">{{ progress }}% Complete (success)</span></div>
	    								</div>
									</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr class="item-periode periode-facturacio">
								<td colspan="8">
									<div class="row"><div class="form-subblock col-md-12">
										<div class="alert" >
											<div class="alert alert-success">Encara no hi ha dades anuals</div>
										</div>
									</div>
								</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
				<div class="panel-footer"><span class="comment">*Sota cada import indicats el nombre de rebuts i entre parèntesi l'import de les correccions (opcional)</span></div>
			</div>
		</div>
	</div>
</div>
