{# src/Foment/GestioBundle/Resources/views/Includes/gestiofacturacionscontent.html.twig #}
<div class="row"><div class="form-subblock col-md-12">
	{% include 'FomentGestioBundle:Includes:messages.html.twig' %}
</div></div>
<div class="row">
	<div class="col-md-12">
		<div id="taula-periodes">
				{% if periodes|length > 0 %}
					{% for periode in periodes %}
					<div class="panel panel-default taula-resultats full-width-container">
						<div class="panel-heading">
							{% if periode.esborrable %}
							<a class="esborrar-periode action-right" href="{{ path('foment_gestio_facturacionscontent', { 'periode': periode.id, 'action': 'remove', 'current': current, 'semestre': semestre } ) }}">
								<span class="fa fa-trash-o blue"></span></a>
							{% endif %}
						</div>
						<table class="table filtered-table ">
								<thead><tr>
									<th class="hrebutsblank table-field-center no-border" COLSPAN="5">&nbsp;</th>
									<th class="hrebutsbanc table-field-center no-border">Banc</th>
									<th class="hrebutsretornats table-field-center no-border" COLSPAN="2">Retornats</th>
									<th class="hrebutsfinestreta table-field-center no-border" COLSPAN="2">Finestreta</th>
									<th class="hrebutsblank icon-cell table-field-center no-border">&nbsp;</th>
								</tr><tr>
									<th class="hidperiode hidden-col">id</th>
									<th class="hdescperiode table-field-left">{{ periode.titol|nl2br }}</th>	
									<th class="hrebutstotals table-field-right">total</th>
									<th class="hrebutscobrats table-field-right">cobrats</th>
									<th class="hrebutsbancpendents table-field-right">pendents</th>
									<th class="hrebutsanulats table-field-right">anul·lats</th>

									<th class="hrebutsbancfacturats table-field-right">domiciliats</th>
									<th class="hrebutsbancretornats table-field-right">retornats</th>
									<th class="hrebutscobratsretornats table-field-right">ret. cobrats</th>
									<th class="hrebutsdirectefinestreta table-field-right">directes</th>
									<th class="hrebutsdirectefinestretacobrats table-field-right">cobrats</th>
									<th class="hrebutsperiodeicon icon-cell">&nbsp;</th>
									
								</tr></thead>
							</table>
							<table class="table filtered-table scrollable fit10rows">
									<tbody class="full-width-container">
										{% set infoRebuts = periode.infoRebuts %}
										{% set progress = 0 %}
										{% if  infoRebuts[0].rebuts.total > 0 %} {% set progress = infoRebuts[0].cobrats.total/infoRebuts[0].rebuts.total*100 %} {% endif %}
										<tr class="item-periode periode-summary">
											<td class="idperiode hidden-col">{{ periode.id }}-</td>
											<td class="descperiode">{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::REBUTS_PENDENTS')  }}</td>	
											<td class="rebutstotals table-field-right">{{ infoRebuts[0].rebuts.import|number_format(2, ',', '.') }}€ 
												<span class="num-rebuts"><span class="red">{% if infoRebuts[0].rebuts.correccio != 0 %}<span class="red">({{ infoRebuts[0].rebuts.correccio|number_format(2, ',', '.') }}€)</span> {% endif %}</span>
												{{ infoRebuts[0].rebuts.total }}</span></td>
											<td class="rebutscobrats table-field-right green">{{ infoRebuts[0].cobrats.import|number_format(2, ',', '.') }}€ 
												<span class="num-rebuts green">{% if infoRebuts[0].cobrats.correccio != 0 %}<span class="red">({{ infoRebuts[0].cobrats.correccio|number_format(2, ',', '.') }}€)</span> {% endif %}
												{{ infoRebuts[0].cobrats.total }}</span></td>
											<td class="rebutsbancpendents table-field-right red">{{ infoRebuts[0].bpendents.import|number_format(2, ',', '.') }}€ 
												<span class="num-rebuts red">{% if infoRebuts[0].bpendents.correccio != 0 %}<span class="red">({{ infoRebuts[0].bpendents.correccio|number_format(2, ',', '.') }}€)</span> {% endif %}
												{{ infoRebuts[0].bpendents.total }}</span></td>
											<td class="rebutsanulats table-field-right">{{ infoRebuts[0].anulats.import|number_format(2, ',', '.') }}€
												<span class="num-rebuts">{% if infoRebuts[0].anulats.correccio != 0 %}<span class="red">({{ infoRebuts[0].anulats.correccio|number_format(2, ',', '.') }}€)</span> {% endif %}
												{{ infoRebuts[0].anulats.total }}</span></td>
											<td class="rebutsbancfacturats table-field-right">{{ infoRebuts[0].bfacturats.import|number_format(2, ',', '.') }}€ 
												<span class="num-rebuts">{% if infoRebuts[0].bfacturats.correccio != 0 %}<span class="red">({{ infoRebuts[0].bfacturats.correccio|number_format(2, ',', '.') }}€)</span> {% endif %}
												{{ infoRebuts[0].bfacturats.total }}</span></td>
											<td class="rebutsbancretornats table-field-right">{{ infoRebuts[0].retornats.import|number_format(2, ',', '.') }}€ 
												<span class="num-rebuts">{% if infoRebuts[0].retornats.correccio != 0 %}<span class="red">({{ infoRebuts[0].retornats.correccio|number_format(2, ',', '.') }}€)</span> {% endif %}
												{{ infoRebuts[0].retornats.total }}</span></td>
											<td class="rebutscobratsretornats table-field-right">{{ infoRebuts[0].rcobrats.import|number_format(2, ',', '.') }}€ 
												<span class="num-rebuts">{% if infoRebuts[0].rcobrats.correccio != 0 %}<span class="red">({{ infoRebuts[0].rcobrats.correccio|number_format(2, ',', '.') }}€)</span> {% endif %}
												{{ infoRebuts[0].rcobrats.total }}</span></td>
											<td class="rebutsdirectefinestreta table-field-right">{{ infoRebuts[0].finestreta.import|number_format(2, ',', '.') }}€ 
												<span class="num-rebuts">{% if infoRebuts[0].finestreta.correccio != 0 %}<span class="red">({{ infoRebuts[0].finestreta.correccio|number_format(2, ',', '.') }}€)</span> {% endif %}
												{{ infoRebuts[0].finestreta.total }}</span></td>
											<td class="rebutsdirectefinestretacobrats table-field-right">{{ infoRebuts[0].fcobrats.import|number_format(2, ',', '.') }}€ 
												<span class="num-rebuts">{% if infoRebuts[0].fcobrats.correccio != 0 %}<span class="red">({{ infoRebuts[0].fcobrats.correccio|number_format(2, ',', '.') }}€)</span> {% endif %}
												{{ infoRebuts[0].fcobrats.total }}</span></td>
											<td class="rebutsperiodeicon icon-cell">
												<a class="facturar-rebuts" href="{{ path('foment_gestio_facturacionscontent', { 'periode': periode.id, 'action': 'facturar', 'current': current, 'semestre': semestre } ) }}" title="Facturar rebuts pendents"><span class="fa fa-bank fa-1 green"></span></a>
												<a class="veure-rebuts" href="{{ path('foment_gestio_rebuts', { 'periode': periode.id } ) }}" title="Veure rebuts"><span class="fa fa-list fa-1 sky"></span></a>
											</td>
										</tr>
										{% for facturacio in periode.facturacions %}
											<tr class="item-periode periode-facturacio">
												<td class="idfacturacio hidden-col">{{ facturacio.id }}</td>
												<td class="descperiode table-field-right" colspan="4">{{ facturacio.descripcio|nl2br }}
													<span class="peu-text">{{ facturacio.dataentrada|date('d/m/Y') }}</span></td>	
												<td class="rebutsanulats table-field-right">{{ infoRebuts[facturacio.id].anulats.import|number_format(2, ',', '.') }}€ 
												<span class="num-rebuts">{{ infoRebuts[facturacio.id].anulats.total }}</span></td>
												<td class="rebutsbancfacturats table-field-right">{{ infoRebuts[facturacio.id].bfacturats.import|number_format(2, ',', '.') }}€ 
													<span class="num-rebuts">{{ infoRebuts[facturacio.id].bfacturats.total }}</span></td>
												<td class="rebutsbancretornats table-field-right">{{ infoRebuts[facturacio.id].retornats.import|number_format(2, ',', '.') }}€ 
													<span class="num-rebuts">{{ infoRebuts[facturacio.id].retornats.total }}</span></td>
												<td class="rebutscobratsretornats table-field-right">{{ infoRebuts[facturacio.id].rcobrats.import|number_format(2, ',', '.') }}€ 
													<span class="num-rebuts">{{ infoRebuts[facturacio.id].rcobrats.total }}</span></td>
												<td class="rebutsblank" colspan="2"></td>
												<td class="rebutsperiodeicon icon-cell">
													<a class="veure-rebuts" href="{{ path('foment_gestio_rebuts', { 'facturacio': facturacio.id } ) }}" title="Veure rebuts"><span class="fa fa-search fa-1 blue"></span></a>
												</td>
											</tr>
										{% endfor %}
										<tr class="item-periode"><td class="rebutsprogres" colspan="12">
											<div class="progress">
												
		  										<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
		    									<span class="sr-only">40% Complete (success)</span></div>
		    								</div>
	  									</td></tr>
									</tbody>
							</table>
							<div class="panel-footer"><span class="comment">*{{ periode.descripcioperiode }}.<br/>**Sota cada import indicats el nombre de rebuts i entre parèntesi l'import de les correccions (opcional)</span></div>
						</div>	
					</div>		
					{% endfor %}
				{% else %}
				<div class="row"><div class="form-subblock col-md-12">					
					<a class="crear-periode btn btn-primary btn-lg" href="{{ path('foment_gestio_facturacionscontent', { 'action': 'create', 'current': current, 'semestre': semestre } )|raw }}" role="button">
					Generar les dades del període seleccionat</a>
				</div>
				{% endif %}
		</div>
	</div>
</div>



		
		