{# src/Foment/GestioBundle/Resources/views/Includes/gestiocaixatabactivitats.html.twig #}
<div class="row"><div class="form-subblock col-md-12">
	{% include 'FomentGestioBundle:Includes:messages.html.twig' %}
</div></div>

<div class="row"><div id="taula-activitat">
	<div class="taula-resultats full-width-container">
		<ul class="menu-activitats">
		{% for itemactivitat in listactivitats %}
			<li class="activitat-menu-item">
				<a class="carregar-activitat" href="{{ path('foment_gestio_caixaactivitats', 
										{ action: 'query', activitat: itemactivitat.id, current: '__ANY__', semestre: '__SEMESTRE__' } )|raw }}">
					{{ itemactivitat.descripcio }} <span class="fa fa-th-list fa-1 yellow"></span></a>
			</li>	
		{% endfor %}
		</ul>
		{% if dades|length > 0 %}
			{% for idactivitat,activitat in dades %}
				<table class="table continous-table continous-table-header">
					<thead><tr class="taula-caixa-activitat-summary">
						<th class="hidden-col">id persona</th>
						<th class="table-field-left" colspan="4">
							<span class="activitat-header-subtitle">{{ activitat.subtitol }}</span><br/>
							{% if activitat.escurs == true %}
							<a class="veure-activitat" href="{{ path('foment_gestio_curs', {'id': idactivitat} )  }}" title="Consultar el curs">
							{% else %}
							<a class="veure-activitat" href="{{ path('foment_gestio_activitat', {'id': idactivitat} )  }}" title="Consultar el taller">
							{% endif %}
							{{ activitat.descripcio }}</a>, {{ activitat.participantsactius }} participants
							</th>
						<th class="table-field-right" colspan="{{ activitat.facturacionsTotals|length }}">rebuts: {{ activitat.facturaciorebuts|number_format(2, ',', '.') }} €
							<span class="activitat-header-subtitle">(cobrat: {{ activitat.facturaciocobrada|number_format(2, ',', '.') }} €  
							pendent: {{ activitat.facturaciopendent|number_format(2, ',', '.') }}  €)</span></th>
						<th class="hscroll">&nbsp;</th>	
					</tr>
					<tr class="taula-caixa-activitat-header">
						<th class="hidden-col" id="idactivitat">{{ idactivitat }}</th>
						<th class="hrownum">&nbsp;</th>
						<th class="hnomparticipant table-field-left">participant</th>
						<th class="hcontacteparticipant table-field-center">&nbsp;</th>
						<th class="hpreuactivitat table-field-right">total</th>
						{% for idfacturacio,facturacio in activitat.facturacionsTotals %}
							<th class="hfacturacioinfo_{{ activitat.facturacionsTotals|length }} table-field-center">
								<a class="veure-rebuts" href="{{ path('foment_gestio_rebuts', {'facturacio': idfacturacio} )  }}" title="Consultar tots els rebuts">
								{{ facturacio.titol }}</a><br/>
								{{ facturacio.preu|number_format(2, ',', '.') }} / {{ facturacio.preunosoci|number_format(2, ',', '.') }} € &nbsp; 
								{{ facturacio.data is empty ? '': facturacio.data|date('d/m/y') }}
								</th>
						{% endfor %}
						<th class="hscroll">&nbsp;</th>				
					</tr>
					</thead>
				</table>	
				<!-- <table class="table filtered-table scrollable fit10rows">  -->
				<table class="table continous-table table-rebuts-participants">
					<tbody class="full-width-container">		
						{% for idpersona,persona in activitat.participants %}
							<tr class="taula-caixa-participant-activitat {% if persona.cancelat == true %} rebut-anulat {% endif %}">
								<td class="idpersona hidden-col">{{ idpersona }}</td>
								<td class="rownum table-field-right">{{ persona.index }}</td>
								<td class="nomparticipant table-field-left">
									<a href="{{ path('foment_gestio_veuredadespersonals', {'id': idpersona, 'soci': persona.soci }) }}" title="Veure dades de la persona">
										{{ persona.nom|raw }}</a></td>
								<td class="contacteparticipant table-field-left">{{ persona.contacte|raw }}</td>
								<td class="preuactivitat table-field-right">{{ persona.preu|number_format(2, ',', '.') }}€</td>
								{% for idfacturacio,facturacio in persona.facturacions %}
									{% set class = '' %}
									{% if loop.first %}
										{% set class = 'first-col' %}
									{% endif %}	
									{% if facturacio.rebut == ''  %}
										<td class="facturaciorebut  facturaciorebut_{{ persona.facturacions|length }} {{ class }} rebut-activitat-noexisteix table-field-center">&nbsp;</td>
									{% else %}
										{% if facturacio.rebut.anulat == true %} {% set class = 'rebut-activitat-anulat' %} {% endif %}
										{% if facturacio.rebut.cobrat == true %} {% set class = 'rebut-activitat-cobrat' %} {% endif %}
										<td class="facturaciorebut facturaciorebut_{{ persona.facturacions|length }} {{ class }} table-field-center">
										
											<a class="editar-rebut" href="{{ path('foment_gestio_editarrebut', ({'id': facturacio.rebut.id, 'seccio': 0}) )  }}" title="Editar rebut {{ facturacio.rebut.numformat }}">
											{{ facturacio.rebut.import|number_format(2, ',', '.') }} €</a></td>
									{% endif  %}
									
								{% endfor %}
							</tr>
							
						{% endfor %}
						<tr class="taula-caixa-participant-activitat-totals">
							<td class="hidden-col">&nbsp;</td>
							<td class="hfooter" colspan="3">&nbsp;</td>
							<td class="hfootertotal table-field-right">totals alumnes</td>
							{% for idfacturacio,facturacio in activitat.facturacionsTotals %}
								<td class="hfacturacioinfo_{{ activitat.facturacionsTotals|length }} table-field-center">
									{{ facturacio.totalrebuts|number_format(2, ',', '.') }} €<br/>
									<span class="activitat-header-subtitle orange">pendent {{ facturacio.totalpendent|number_format(2, ',', '.') }} €</span> 
								</td>
							{% endfor %}
						</tr>
						{% if activitat.pagaments|length > 0 %}
					</tbody>
				</table>
				<table class="table continous-table continous-table-header">
					<thead>
							<tr class="taula-caixa-activitat-header taula-caixa-participant-activitat-professors">
								<th class="hidden-col">&nbsp;</th>
								<th class="hrownum">&nbsp;</th>
								<th class="pagamentprofessorstitol table-field-left" colspan="3">pagament professors
										<span class="activitat-header-subtitle">{{ activitat.pagaments.professors.titol }}</span></th>
								<th class="empty-col" colspan="{{ activitat.facturacionsTotals|length }}">&nbsp;</th>
							</tr>
					</thead>
				</table>
				<table class="table continous-table">
					<tbody>
							{% for pagament in activitat.pagaments[1:] %}
								{% for docenciaid, professor in pagament %}
								<tr class="taula-caixa-participant-activitat-pagamentprofessor">
									<td class="hidden-col">&nbsp;</td> 
									<td class="pagamentprofessormes table-field-right" colspan="4">{{ professor.anymespagament|raw }}</td> 
									{% for pagamentfacturacio in professor.graellapagaments %} 
										<td class="pagamentprofessormesfacturacio facturacioinfo_{{ activitat.facturacionsTotals|length }} table-field-center">
											{% if pagamentfacturacio == true %}
												{% for liquida in professor.liquidacions %}
												<span class="pagamentprofessormesfacturacioliquidat">
													<a class="enviar-pagament" title="editar pagament professor" href="{{ path('foment_gestio_pagamentproveidors', 
														{'id': liquida.id } )  }}">{{ liquida.import|number_format(2, ',', '.') }}€</a>
												</span> <br/>	
												{% endfor %}	
												<span class="pagamentprofessormesfacturacioafegir">
													<a class="enviar-pagament" title="afegir pagament professor" href="{{ path('foment_gestio_pagamentproveidors', 
														{'id': 0, 'docencia': docenciaid, 'datapagament': professor.datapagament, 
														'concepte': professor.concepte, 'import': professor.import, 'curs':1 } )  }}">
															<span class="fa fa-plus-circle fa-1"></span><br/>afegir</a>
												</span>  
											{% endif %} 
										</td>
									{% endfor %}
								</tr>
								{% endfor %}
							{% endfor %}
							<tr class="taula-caixa-participant-activitat-totals">
								<td class="hidden-col">&nbsp;</td>
								<td class="hfooter" colspan="3">&nbsp;</td>
								<td class="hfootertotal table-field-right">totals professors</td>
								{% for totalfacturacio in activitat.pagaments.professors.totals %}
									<td class="hfacturacioinfo_{{ activitat.facturacionsTotals|length }} table-field-center">
										{{ totalfacturacio|number_format(2, ',', '.') }} €
									</td>
								{% endfor %}
							</tr>
						{% endif %}			
					</tbody>
				</table>
				<table class="table filtered-table ">
					<thead>
					<tr class="taula-caixa-activitat-footer">
						<td class="hidden-col">&nbsp;</td>
						<td class="hfooter" colspan="3">&nbsp;</td>
						<td class="hfootertotal table-field-right">total curs</td>
						{% for idfacturacio,facturacio in activitat.facturacionsTotals %}
							<td class="hfacturacioinfo_{{ activitat.facturacionsTotals|length }} table-field-center">
								{{ facturacio.totalfacturaciocurs|number_format(2, ',', '.') }} €
							</td>
						{% endfor %}
					</tr>
					</thead>
				</table>
			{% endfor %}
		{% else %}
		<div class="alert">
			<div class="alert alert-success">escollir un curs o taller per veure'n les dades de facturació</div> 
		</div>	 
		{% endif %} 
	</div>
</div>

<script type="text/javascript">

	editarRebutForm($('a.editar-rebut'), '.table-rebuts-participants');
		
	$('a.enviar-pagament').click(function(event) {
		event.preventDefault();
	
		url = $(this).attr('href');  

		obrirMascaraBlock('.taula-resultats');
	
		$('#dialeg-formulari').html('');
		
		$.get(url, function(data) {
			tancarMascaraBlock('.taula-resultats');
			$( '#dialeg-formulari' ).html(data);

			$( '#dialeg-formulari' ).dialog({
				 resizable: true,
				 title: 'Pagament',
				/* buttons: {
					 	"desar": function() {
					 		
					 	},
					 	"esborrar": function() {
		
		
						},
					 	"cancel·lar": function() {
					 		$( this ).dialog( "close" );
					 		$( '#dialeg-formulari' ).html('');
					 	}
					 	
					 },*/
				 /*height: auto,*/
				 width: 700,
				 modal: true
			});

		}).fail(function(xhr, status, error) {
			tancarMascaraBlock('.taula-resultats');
			obrirDialegInformacio('Error mostrant el formulari de pagament',  'Informació d\'error');
		});
	
	});

	// Definit també a cercarebuts
	callbackUpdateRebut = function () {
		var idAct = $('#idactivitat').html();
		var url = "{{ path('foment_gestio_caixa', { action: 'query', active: 2, activitat: '__ACTIVITATID__' } )|raw }}";
		url = url.replace('__ACTIVITATID__', idAct);
		window.location = url;
	}
</script>