{# src/Foment/GestioBundle/Resources/views/Includes/infosecciodetall.html.twig #}
<div class="row"><div class="form-subblock col-md-12">
	{% include 'FomentGestioBundle:Includes:messages.html.twig' %}
</div></div>
{% if periodes|length > 0 %}
<div class="row"><div class="col-md-12"><div id="taula-seccio">
	<div class="panel panel-default taula-resultats full-width-container">
		<div class="panel-heading"></div>
		<ul class="menu-seccions">
		{% for itemseccio in listseccions %}
			<li class="seccio-menu-item">
				<a class="carregar-seccio" href="{{ path('foment_gestio_infoseccionscontent', 
										{ 'action': 'query', 'seccio': itemseccio.id, 'current': current, 'semestre': semestre } )|raw }}">
					{{  itemseccio.nom }} <span class="fa fa-th-list fa-1 yellow"></span></a>
			</li>	
		{% endfor %}
		</ul>
		{% for idseccio,seccio in dades %}
			<table class="table filtered-table ">
				<thead>
				<tr class="taula-caixa-seccio-summary">
					<th class="idseccio hidden-col">{{ idseccio }}</th>
					<th class="table-field-left" colspan="3">
						{{ seccio.nom }}<br/><span class="seccio-header-subtitle">{{ seccio.subtitol }}</span></th>
					<th class="table-field-left" colspan="8">
						quotes: {{ seccio.quotatotal|number_format(2, ',', '.') }}€ ({{ seccio.membres|length }} membres)<br/> 
						<span class="seccio-header-subtitle">(cobrat: {{ seccio.quotacobrada|number_format(2, ',', '.') }} €  
						pendent: {{ seccio.quotapendent|number_format(2, ',', '.') }}  €)</span></th>
				</tr>
				<tr class="taula-caixa-seccio-header">
					<th class="hidden-col">ids</th>
					<th class="toggle-all"></th>
					<th class="hnummembre">&nbsp;</th>
					<th class="hnommembre">soci</th>
					<th class="htitolperiode">periode</th>
					<th class="himportquota table-field-right">quota</th>
					<th class="hnumrebut table-field-center">rebut</th>
					<th class="hdatarebut table-field-center">data</th>
					<th class="himportrebut table-field-right">import</th>
					<th class="hconceptetipus table-field-center">pagament</th>
					<th class="hconcepterebut table-field-left">concepte</th>
					<th class="hrebutestat table-field-center">estat</th>
					<th class="hscroll" colspan="2">&nbsp;</th>					
				</tr>
				</head>
			</table>	
			<table class="table filtered-table scrollable fit10rows">
				<tbody class="full-width-container">		
					{% for idsoci,soci in seccio.membres %}
						{% if loop.first %}
							{% set padFirst = 'first-row' %}
						{% else %}
							{% set padFirst = '' %}
						{% endif %}
						{% for periode in soci.periodes %}
							<tr class="taula-caixa-membre-periode">
								<td class="idsoci hidden-col">{{ idsoci }}</td>
								<td class="">&nbsp;</td>
								{% if loop.first %}	
									<td class="nummembre {{ padFirst }} table-field-right">{{ soci.numsoci|raw }}</td>
									<td class="nommembre {{ padFirst }} table-field-left">{{ soci.nom|raw }}</td>
								{% else %}
									<td class="nummembre {{ padFirst }} table-field-left">&nbsp;</td>
									<td class="nommembre {{ padFirst }} table-field-left">&nbsp;</td>
								{% endif %}
								<td class="titolperiode {{ padFirst }} table-field-left">{{ periode.titol|nl2br }}</td>
								<td class="importquota {{ padFirst }} table-field-right">{{ periode.import|number_format(2, ',', '.') }}€</td>
								<td class="numrebut {{ padFirst }} table-field-center">{{ periode.rebut }}-{{ periode.detall }}</td>
								<td class="datarebut {{ padFirst }} table-field-center">{{ periode.emissio is empty ? '': periode.emissio|date('d/m/Y') }}</td>
								<td class="importrebut {{ padFirst }} table-field-right">{{ periode.importdetall is empty ? '': (periode.importdetall|number_format(2, ',', '.')) }}</td>
								<td class="conceptetipus {{ padFirst }} table-field-center">{{ periode.tipuspagament }}</td>
								<td class="concepterebut {{ padFirst }} table-field-left">{{ periode.concepte }}</td>
								<td class="rebutestat {{ padFirst }} table-field-center">{{ periode.estat }}</td>
								<td class="icon-cell icon-view-rebut">
									{% if periode.rebutnum > 0 %}
									<a class="veure-rebut" href="{{ path('foment_gestio_rebuts', {'nini': periode.rebutnum} )  }}" title="Consultar el rebut"><span class="fa fa-search fa-1 orange"></span></a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					{% endfor %}			
				</tbody>
			</table>
		{% endfor %}
		<div class="panel-footer"><span class="comment">&nbsp;</span></div>
	</div>	
</div>
{% else %}
	<div class="row"><div class="form-subblock col-md-12">					
		<a class="crear-periode btn btn-primary btn-lg" href="{{ path('foment_gestio_facturacions', { 'action': 'create', 'current': current, 'semestre': semestre } )|raw }}" role="button">
		Generar les dades del període seleccionat</a>
	</div></div>
{% endif %}
