{# src/Foment/GestioBundle/Resources/views/Page/infoseccions.html.twig #}
{% extends 'FomentGestioBundle::layout.html.twig' %}

{% block title %}Informació facturació Seccions{% endblock %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('foment_gestio_homepage') }}"><span class="fa fa-home fa-1x"></span> Inici</a></li>
<li><a href="{{ path('foment_gestio_facturacions') }}"><span class="fa fa-home fa-1x"></span> Gestió facturacions</a></li><li><span class="current">Info seccions</span></li>
{% endblock %}

{% block containerclass %}infoseccions-page{% endblock %}

{% block pagetitle %}Informació facturació seccions{% endblock %}


{% block topbuttons %}
<li><a id="export-rebuts" href="{{ path('foment_gestio_exportinfoseccions', { 'current': current, 'semestre': semestre }) }}" target="_blank"><span class="button-icon icon-btn-40x40 spreadsheet green"></span>
	<span class="button-text">exportar</span></a></li>
{% endblock %}

{% block main %}
	<div class="page-block row">
		<div id="block-form-periodes" class="form-subblock col-md-12">
			<div class="right-text">
			{{ form_start(form, {'action': path('foment_gestio_infoseccionscontent')}) }}
				<div class="input-group full-width-container "><span class="input-group-addon input-group-addon-large">Període</span>
	        		<div class="form-select form-select-inner select-anys">{{ form_widget(form.selectoranys, {'attr': {'placeholder': '' } })  }}</div>
	        		<div class="form-select select-semestres">{{ form_widget(form.selectorsemestre, {'attr': {'placeholder': '', 'class': '' } })  }}</div>
		        		<span class="input-group-addon input-group-addon-icon"><span class="fa fa-refresh"></span></span>
	        	</div>
			{{ form_end(form) }}
			</div>
		</div>
		<div class="clearfix"></div>
		<div id="info-tabs" class="">
			<ul>
				<li><a href="#tab1-semestrals">Semestrals</a></li>
				<li><a href="#tab2-altres">Mensuals</a></li>
			</ul>
			<div id="info-facturacions">
				<div id="tab1-semestrals">{# include 'FomentGestioBundle:Rebuts:infoseccionscontent.html.twig' #}</div>
				<div id="tab2-altres"></div>
			</div>	
		</div>
		
		
	</div>
{% endblock %}


{% block javascripts %}

	{{ parent() }}

	<!-- Select2 plugin's -->
	<script src="{{ asset('js/select2.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/select2_locale_ca.js') }}" type="text/javascript"></script>
	
	<script type="text/javascript">


	queryPeriode = function(url, target) {

		$("#tab2-altres").html(''); 
		
		url += '?action=query&current='+$( "#form_selectoranys" ).val()+'&semestre='+$( "#form_selectorsemestre" ).val();

    	obrirMascaraBlock('#info-facturacions');

		$.get(url, function(data) {

			tancarMascaraBlock('#info-facturacions');
			target.html(data);
				
		}).fail(function(xhr, status, error) {
			
			target.html("No s'ha pogut carregar el contingut");
			
			target.html(xhr.responseText);
		});	
	}
	
	$(document).ready( function() {

		var urlSemestrals = $('form').attr('action');
		var urlAltres = "{{ path('foment_gestio_infoaltrescontent') }}";
		
		var target = $('#tab1-semestrals');
		
		queryPeriode(urlSemestrals, target);
		
		$( "#form_selectoranys, #form_selectorsemestre" ).change(function() {
			$( ".select-semestres" ).show();
			
			queryPeriode(urlSemestrals, target);
		});

		$('#info-facturacions').on('click', 'a.carregar-seccio', function (event) {
			event.preventDefault();
			
			$( ".select-semestres" ).hide();
			
			var target = $('#tab2-altres');
			var url = $(this).attr('href');
			queryPeriode(url, target);
			
		});
		
		$('#info-facturacions').on('click', 'a.crear-periode', function (event) {
			event.preventDefault();
			obrirMascaraBlock('#info-facturacions');
			var url = $(this).attr('href');
			
			var text = "<h2 class='block-title blue'><i>Nou període de facturació (semestre)</i></h2>";
			text += "<p>A continuació es crearan els rebuts de les quotes del període</p>";
			
			obrirDialegConfirmacio(text, "Confirmar", 0, 400, 
				function() { // Ok
					$( ".select-semestres" ).show();
				
					queryPeriode(urlSemestrals, target);
					
					//window.location = url;
				}, 
				function() { // Ko
					// Res a fer
					tancarMascaraBlock('#info-facturacions');
				}
			);
			
		});

		/************** Tabs Info *************************/
		
		$( "#info-tabs" ).tabs({
			//event: "mouseover"
			active: 0,
			activate: function( event, ui ) {
				if (ui.newPanel.is("#tab2-altres")){

					if ( $("#tab2-altres").html() == '' ) {
						
						//alert(urlAltres);

						$( ".select-semestres" ).hide();
						
						var target = $('#tab2-altres');
						
						queryPeriode(urlAltres, target);

						
						//alert(urlAltres+'altres fi');
						
					}
			        //banc tab activated
			        
			     	// Height
			    }
			    else{
			        //second tab activated
			    	
			    }
			}
		});
		
	});

	</script>
{% endblock %}