{# src/Foment/GestioBundle/Resources/views/Rebuts/morosos.html.twig #}
{% extends 'FomentGestioBundle::layout.html.twig' %}

{% block title %}Gestió de dades de les activitats{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('foment_gestio_homepage') }}"><span class="fa fa-home fa-1x"></span> Inici</a></li><li><a href="{{ path('foment_gestio_cercapersones') }}">Persones <span class="fa fa-angle-double-right"></span></a></li><li><span class="current">Morosos/es</span></li>
{% endblock %}

{% block containerclass %}morosos-page{% endblock %}

{% block pagetitle %}Llista de morosos/es{% endblock %}

{% block topbuttons %}
	<li><a id="export-morosos" href="{{ path('foment_gestio_exportmorosos') }}" target="_blank">
			<span class="button-icon icon-btn-40x40 spreadsheet green"></span>
				<span class="button-text">exportar</span></a></li>
{% endblock %}

{% block main %}
	<div id="block-morosos" class="page-block">
	{% include 'FomentGestioBundle:Rebuts:taulamorosos.html.twig' %}
	</div>
{% endblock %}


{% block javascripts %}

	{{ parent() }}

	<script type="text/javascript">

	ajaxTaulaCallbackMorosos = function(urlcbk, elemSel) {
		urlcbk = urlcbk.replace('__TIPUS__',  $('.select-tipusrebut').val() );
		
		ajaxTaulaCallback(urlcbk, elemSel);
	}
	
	$(document).ready( function() {

		// Taula d'activitats 
		{% set queryparamsc = queryparams|merge({ 'perpage': '__PERPAGE__', 'filtre': '__FILTRE__', 'tipus': '__TIPUS__'}) %}
		var url = '{{ path('foment_gestio_morosos', queryparamsc)|raw }}';
		
		preparePaginatedSortedTable('#block-morosos', url, ajaxTaulaCallbackMorosos); 

		// Select tipus de rebut. D'aquesta manera 'delegate event'. Si afegim nous o diferents .select-midapagina també aplica esdeveniment
		$('#block-morosos').on('change', '.select-tipusrebut', function () {
			var urlcbk = url;
			
			urlcbk = urlcbk.replace('__PERPAGE__',  $('.select-midapagina').val() );
			urlcbk = urlcbk.replace('__FILTRE__',  $('.filtre-text').val() );
				
			ajaxTaulaCallbackMorosos(urlcbk, '#block-morosos');
		});
		

		$('a#export-morosos').click(function(event) {
			event.preventDefault();
			var url = $(this).attr('href')+'?filtre='+$('.filtre-text').val()+'&tipus='+$('.select-tipusrebut').val();

			window.location = url;
			
		});
	});
			
	</script>
{% endblock %}