{# src/Foment/GestioBundle/Resources/views/Rebuts/morosos.html.twig #}
{% extends 'FomentGestioBundle::layout.html.twig' %}

{% block title %}Gestió de dades de les activitats{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('foment_gestio_homepage') }}"><span class="fa fa-home fa-1x"></span> Inici</a></li><li><a href="{{ path('foment_gestio_cercapersones') }}">Persones <span class="fa fa-angle-double-right"></span></a></li><li><span class="current">Morosos/es</span></li>
{% endblock %}

{% block containerclass %}morosos-page{% endblock %}

{% block pagetitle %}Llista de morosos/es{% endblock %}

{% block topbuttons %}
	<li><a id="export-morosos" href="{{ path('foment_gestio_exportmorosos') }}" target="_blank">
			<span class="button-icon icon-btn-40x40 spreadsheet green"></span>
				<span class="button-text">exportar</span></a></li>
{% endblock %}

{% block main %}
	<div id="block-morosos" class="page-block">
	{% include 'FomentGestioBundle:Rebuts:taulamorosos.html.twig' %}
	</div>
{% endblock %}


{% block javascripts %}

	{{ parent() }}

	<script type="text/javascript">

	ajaxTaulaCallbackMorosos = function(urlcbk, elemSel) {
		urlcbk = urlcbk.replace('__TIPUS__',  $('.select-tipusrebut').val() );

		urlcbk = urlcbk.replace('__ANY__',  $('.select-any').val() );

		urlcbk = urlcbk.replace('__VIGENTS__',  ($('#form_socis_{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::INDEX_CERCA_SOCIS')  }}').is(':checked')?1:0) );

		urlcbk = urlcbk.replace('__BAIXES__',  ($('#form_socis_{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::INDEX_CERCA_BAIXES')  }}').is(':checked')?1:0) );

		urlcbk = urlcbk.replace('__NOSOCIS__',  ($('#form_socis_{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::INDEX_CERCA_NOSOCIS')  }}').is(':checked')?1:0) );

		ajaxTaulaCallback(urlcbk, elemSel);
	}

	ajaxUpdateTaulaMorosos = function( url ) {
		
		url = url.replace('__PERPAGE__',  $('.select-midapagina').val() );
		url = url.replace('__FILTRE__',  $('.filtre-text').val() );
			
		ajaxTaulaCallbackMorosos(url, '#block-morosos');
	}
	
	$(document).ready( function() {

		// Taula d'activitats 
		{% set queryparamsc = queryparams|merge({ 'perpage': '__PERPAGE__', 'filtre': '__FILTRE__', 'tipus': '__TIPUS__', 
												'vigents': '__VIGENTS__', 'baixes': '__BAIXES__', 'nosocis': '__NOSOCIS__', 'any': '__ANY__'}) %}
		var url = '{{ path('foment_gestio_morosos', queryparamsc)|raw }}';
		
		preparePaginatedSortedTable('#block-morosos', url, ajaxTaulaCallbackMorosos); 

		// Select tipus de rebut. D'aquesta manera 'delegate event'. Si afegim nous o diferents .select-midapagina també aplica esdeveniment
		$('#block-morosos').on('change', '.select-tipusrebut', function () {
			ajaxUpdateTaulaMorosos(url);
		});

		$('#block-morosos').on('change', '.select-any', function () {
			ajaxUpdateTaulaMorosos(url);
		});

		$('#block-morosos').on('change', '.tipus-cerca-persones input[type=checkbox]', function () {
			ajaxUpdateTaulaMorosos(url);
		});

		
		$('a#export-morosos').click(function(event) {
			event.preventDefault();
			var url = $(this).attr('href')+'?filtre='+$('.filtre-text').val()+'&tipus='+$('.select-tipusrebut').val()+'&any='+$('.select-any').val();

			url += '&vigents='+($('#form_socis_{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::INDEX_CERCA_SOCIS')  }}').is(':checked')?1:0);
			url += '&baixes='+($('#form_socis_{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::INDEX_CERCA_BAIXES')  }}').is(':checked')?1:0);
			url += '&nosocis='+($('#form_socis_{{ constant('Foment\\GestioBundle\\Controller\\UtilsController::INDEX_CERCA_NOSOCIS')  }}').is(':checked')?1:0);

			window.location = url;
			
		});

		// Delegat
		$('#block-morosos').on('click', 'a.simple-cobrarrebut', function (e) {
			e.preventDefault();

			$('.alert.alert-dismissible').remove();
			
			var urlCobrar = $(this).attr("href");
			var urlPDF = $(this).parent().children('.simple-rebuttopdf').attr("href");
			
			var numRebut = $(this).data('num');
			var importRebut = $(this).data('import');
			var tipusPagament = $(this).data('tipus');
			var deutor = $(this).data('deutor');

			
			var text = "<h2 class='block-title blue'><i>Vols confirmar el pagament del rebut ?</i></h2>";
			text += "<p><b>"+deutor+"</b>: Rebut número <b>"+numRebut+"</b> amb un import de <b>"+importRebut+" €</b> ";
			text += "cobrat en data d'avui <b>"+getCurrentDate() + "</b> per "+tipusPagament+"</p>";
			
			obrirMascaraBlock('#block-morosos');
			obrirDialegConfirmacio(text, "Confirmar pagament del rebut", 0, 400, 
				function() { // Ok
					$.get(urlCobrar, function(data) {
						mostrarExitAjax('.morosos-page .page-header ', data);
						
						tancarMascaraBlock('#block-morosos');
						window.open(
								urlPDF,
							  '_blank' 
							);

						ajaxUpdateTaulaMorosos(url); 
						
					}).fail(function(data) {
						
						tancarMascaraBlock('#block-morosos');	
							 
						mostrarErrorAjax('#block-morosos', 'Error cobrant rebut (' +data.responseText+')');
					});
					
				}, 
				function() { // Ko.
					tancarMascaraBlock('.taula-resultats');	 
				} 
			);
		});


		// Accions sobre rebuts individuals
		// Delegat
		$('#block-morosos').on('click', 'a.simple-anularebut', function (e) {
			e.preventDefault();

			$('.alert.alert-dismissible').remove();
			
			var urlBaixa = $(this).attr("href");
			
			var numRebut = $(this).data('num');
			var importRebut = $(this).data('import');
			var tipusPagament = $(this).data('tipus');
			var deutor = $(this).data('deutor');
			
			var text = "<h2 class='block-title blue'><i>Vols confirmar l'anul·lació del rebut ?</i></h2>";
			text += "<p><b>"+deutor+"</b>: Rebut número <b>"+numRebut+"</b> amb un import de <b>"+importRebut+" €</b></p> ";

			obrirMascaraBlock('#block-morosos');
			obrirDialegConfirmacio(text, "Confirmar anul·lació del rebut", 0, 400, 
				function() { // Ok
					$.get(urlBaixa, function(data) {
						tancarMascaraBlock('#block-morosos');

						ajaxUpdateTaulaMorosos(url);  
						
					}).fail(function(data) {
						tancarMascaraBlock('#block-morosos');	

						mostrarErrorAjax('#block-morosos', 'Error anul·lant rebut (' +data.responseText+')'); 
					});
				}, 
				function() { // Ko.
					tancarMascaraBlock('.taula-resultats');	 
				}  
			);
		});
	});
			
	</script>
{% endblock %}