{# src/Foment/GestioBundle/Resources/views/Page/caixa.html.twig #}
{% extends 'FomentGestioBundle::layout.html.twig' %}

{% form_theme form 'FomentGestioBundle:Includes:formtheming.html.twig' %}

{% block title %}Gestió de la caixa{% endblock %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('foment_gestio_homepage') }}"><span class="fa fa-home fa-1x"></span> Inici</a></li><li><span class="current">Caixa metàl·lic</span></li>
{% endblock %}

{% block containerclass %}caixa-page{% endblock %}

{% block pagetitle %}Caixa Foment Martinenc{% endblock %}

{% block topbuttons %}
<li><a id="export-apunts" href="{{ path('foment_gestio_exportapunts', queryparams) }}" title="Exportar apunts" target="_blank"><span class="button-icon icon-btn-40x40 spreadsheet green"></span>
	<span class="button-text">exportar</span></a></li>	
{% endblock %}

{% block main %}
	
<div id="block-caixa" class="page-block">
	{% include 'FomentGestioBundle:Caixa:caixapage.html.twig' %}
</div>

{% endblock %}


{% block javascripts %}

{{ parent() }}

<!-- Select2 plugin's -->
	<script src="{{ asset('js/select2.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/select2_locale_ca.js') }}" type="text/javascript"></script>

<script type="text/javascript">

selectorRebuts = function(elem, pholder) {
	elem.select2({
		minimumInputLength: {{ constant('Foment\\GestioBundle\\Controller\\UtilsController::MIN_INPUT_REBUTS')  }},
		allowClear: true,
		placeholder: pholder,
		
		query: function (query) {
			var data = {results: []};
			var url = "{{  path('foment_gestio_json_rebuts') }}";
			var params = { 	term: query.term };

			$.get(url,	params, function(jdata) {
				data.results = jdata;
				query.callback(data);
				
			}).fail(function() {
				query.callback(data);
			});
		},
		initSelection: function(element, callback) {  // value del input ==> carrega per defecte
			/*var id=$(element).val();
			var data = {id: element.val(), text: element.val()};
	        callback(data);*/


	        var data = [];
			var url = "{{ path('foment_gestio_json_rebuts') }}";
			var params = { 	id: element.val() };
			$.get(url,	params, function(jdata) {
				//alert(JSON.stringify(jdata) + ' ' + jdata['text']);
				callback(jdata);
			}).fail(function() {
				callback(data);
			});
			
	        callback(data);
		},

		
		
		/*createSearchChoice:function(term, data) { // Allow new values
	         if ( $(data).filter( function() {
	           return this.text.localeCompare(term)===0;
	         }).length===0) {
	           return {id:term, text:term};
	         }
	    },*/
	});
};

actualitzarConceptes = function( url ) {
	$('.alert.alert-dismissible').remove();	
	
	obrirMascaraBlock('#taula-conceptes');

	var scroll = $('#taula-conceptes.taula-resultats .scrollable').scrollTop();
	
	$.get(url, function(data) {
		// Actualitzar taula conceptes
		$('#taula-conceptes').html(data);

		$('#taula-conceptes.taula-resultats .scrollable').scrollTop(scroll);
			
	}).fail(function(xhr, status, error) {
		tancarMascaraBlock('#taula-conceptes');
		
		var txtError = 'S\'ha produït un error';
		if (xhr.responseText != '') txtError = xhr.responseText;
			
		mostrarErrorAjax('#block-form-concepte', txtError);
	});
};


esborrarAssociacio = function( item, hidden ) {
	
	$('.alert.alert-dismissible').remove();	
	
	var idEsborrar = item.attr('data-id');

	item.parent().remove();

	var seccionsIds = hidden.val();
	
	var arrayIds = seccionsIds.split(",");
	var arrayIdsNew = [];
	
	for (i=0;i<arrayIds.length;i++){
		if ($.trim(arrayIds[i]) != idEsborrar) {
			arrayIdsNew.push($.trim(arrayIds[i]));
		}	
	}
	hidden.val( arrayIdsNew.join(", ")  );
};	

associarItem = function( item, other, hidden ) {

	$('.alert.alert-dismissible').remove();	
	
	if (item.val() == '') {
		return false;
	}

	if (other.val() != '') {
		var txtError = 'No es poden associar activitats i seccions al mateix concepte';
		mostrarErrorAjax('#block-form-concepte', txtError);
		return false;
	}
	
	var itemsIds = hidden.val();
	var newItemId = item.val();

	if (itemsIds == '') {
		hidden.val( newItemId  );
	} else {
		// Validar que no estigui ja associada 
		var arrayIds = itemsIds.split(",");

		for (i=0;i<arrayIds.length;i++){
			if ($.trim(arrayIds[i]) == newItemId) {
				var txtError = 'Associació existent';
				mostrarErrorAjax('#block-form-concepte', txtError);
				return false;
			}	
		}
		
		hidden.val( itemsIds + ', ' +newItemId  );
	}

	return true;
};	


obrirGestioConceptes = function( strHtml ) {
	$( '#dialeg-informacio' ).html(strHtml);
	
	$( '#dialeg-informacio' ).dialog({
		 resizable: false,
		 title: 'Gestió de conceptes',
		 height: 'auto',
		 //height: 400,
		 width: 700,
		 modal: true,
		 close: function() {
			 tancarMascaraBlock('#block-caixa');
			 $( '#dialeg-informacio' ).dialog( "close" );
			 $( '#dialeg-informacio' ).html( "" );
		 },
		 open: function() {
			 	var mindate = new Date(dateNow.getFullYear()-1, 0 , 1 );
				var maxdate = new Date();
				maxdate.setDate(dateNow.getDate() + 365);
				
				initDateTimePicker ($( '#concepte_databaixa' ), mindate,  maxdate, dateNow, 'databaixa-picker', false);

				// Netejar form per introduir nou concepte
				$('a.netejar-formulari').click(function(e) {
					e.preventDefault();

					$('.alert.alert-dismissible').remove();	
					
					$('#concepte_id').val( '' );
					$('#concepte_seccions').val( '' );
					$('#concepte_activitats').val( '' );
					$('#concepte_tipus').val( 'ACT' );
					$('#concepte_codi').val( '' );
					$('#concepte_concepte').val( '' );
					$('#concepte_cercaseccio').val( '' );
					$('#concepte_cercaactivitat').val( '' );
					$('#concepte_databaixa').val( '' );
					$('#seccions-concepte').html( '' ); 
					$('#activitats-concepte').html( '' );
					
				});	
				
				// Click per editar concepte. Carregar dades al formulari.Delegat
				$('#taula-conceptes').on('click', 'a.editar-concepte', function (e) {
					e.preventDefault();

					$('.alert.alert-dismissible').remove();	
					
					var concepteId = $(this).attr('data-id');
					
					$('#concepte_id').val( concepteId );
					$('#concepte_tipus').val( $(this).attr('data-tipus') );
					$('#concepte_codi').val( $(this).attr('data-codi') );
					$('#concepte_concepte').val( $(this).attr('data-concepte') );
					$('#concepte_databaixa').val( $(this).attr('data-databaixa') );
					$('#concepte_seccions').val( $(this).attr('data-seccions') );
					$('#concepte_activitats').val( $(this).attr('data-activitats') );
					$('#seccions-concepte').html( '' ); 
					$('#activitats-concepte').html( '' );
					$('#seccions-concepte').html( $('.seccions-concepte.concepte-'+concepteId ).html()); 
					$('#activitats-concepte').html( $('.activitats-concepte.concepte-'+concepteId ).html());
					
				});	

				$('a.associar-activitat').click(function(e) {
					e.preventDefault();

					var associatOk = associarItem( $('#concepte_cercaactivitat'), $('#concepte_seccions'), $('#concepte_activitats')  );

					if (associatOk == true) {
						var newHtml  = '<li>'+$('#concepte_cercaactivitat option:selected').text();
						newHtml 	+= '<a class="remove-activitat" href="javascript:void(0)" data-id="'+$('#concepte_cercaactivitat').val()+'">';
						newHtml 	+= '<span class="fa fa-remove red"></span></a></li>';
						$('ul#activitats-concepte').append( newHtml );
					}
					$('#concepte_cercaactivitat').val( '' );
				});	

				$('a.associar-seccio').click(function(e) {
					e.preventDefault();

					var associatOk = associarItem( $('#concepte_cercaseccio'), $('#concepte_activitats'), $('#concepte_seccions')  );

					if (associatOk == true) {
						var newHtml  = '<li>'+$('#concepte_cercaseccio option:selected').text();
						newHtml 	+= '<a class="remove-seccio" href="javascript:void(0)" data-id="'+$('#concepte_cercaseccio').val()+'">';
						newHtml 	+= '<span class="fa fa-remove red"></span></a></li>';
						$('ul#seccions-concepte').append( newHtml );

					}
					$('#concepte_cercaseccio').val( '' );					
				});	

				// Click per desassociar activitat. Delegat
				$('#block-form-concepte').on('click', 'a.remove-activitat', function (e) {
					e.preventDefault();

					esborrarAssociacio($(this), $('#concepte_activitats') );
					
				});	
				
				// Click per desassociar activitat. Delegat
				$('#block-form-concepte').on('click', 'a.remove-seccio', function (e) {
					e.preventDefault();

					esborrarAssociacio($(this), $('#concepte_seccions') );
				});	

				
				// Desar concepte formulari
				$('a.desar-concepte').click(function(e) {
					e.preventDefault();

					var url = $(this).attr('href');
					url += '?id='+$('#concepte_id').val()+'&tipus='+$('#concepte_tipus').val()+'&codi='+$('#concepte_codi').val()+'&concepte='+$('#concepte_concepte').val();
					url += '&databaixa='+$('#concepte_databaixa').val()+'&seccions='+$('#concepte_seccions').val()+'&activitats='+$('#concepte_activitats').val();

					actualitzarConceptes( url );
				});	
				
				// Click per anul·lar concepte. Delegat
				$('#taula-conceptes').on('click', 'a.baixa-concepte', function (e) {
					e.preventDefault();

					var url = $(this).attr('href');

					actualitzarConceptes( url );
				});	
			 },				 
		 buttons: {
		 	"Tancar": function() {
		 		tancarMascaraBlock('#block-caixa');
		 		$( '#dialeg-informacio' ).dialog( "close" );
		 		$( '#dialeg-informacio' ).html( "" );
		 		
		 	}
		 }
	});

}


obrirFormulariApunt = function( strHtml ) {
	$( '#dialeg-informacio' ).html(strHtml);
	
	$( '#dialeg-informacio' ).dialog({
		 resizable: false,
		 title: 'Apunt',
		 height: 'auto',
		 width: 600,
		 modal: true,
		 close: function() {
			 tancarMascaraBlock('#block-caixa');
			 $( '#dialeg-informacio' ).dialog( "close" );
			 $( '#dialeg-informacio' ).html( "" );
		 },
		 open: function() {
			 	var mindate = new Date(dateNow.getFullYear()-1, 0 , 1 );
				var maxdate = new Date();
				maxdate.setDate(dateNow.getDate() + 365);
				
				initDateTimePicker ($( '#apunt_dataapunt' ), mindate,  maxdate, dateNow, 'dataapunt-picker', true);

				/* Inicialitza el control de cerca de conceptes */
				$('#apunt_concepte').select2({
					minimumInputLength: 2,
					allowClear: true,
					placeholder: 'escollir concepte...',
					maximumSelectionLength: 3
			        //formatResult: formatSelectValue,
			        //formatSelection: formatSelectionLabel
				});

				selectorRebuts($('#apunt_rebut'), 'informació per cercar...'); 
			 },				 
		 buttons: {
		 	"Desar": function() {
		 		$('.alert.alert-dismissible').remove();	
		 		
	        	var url = $('#block-form-apunt form').attr('action');

	        	var params = $('#block-form-apunt form').serializeArray();
	        	
				$.post(url, params, function(data) {
					
					$( '#block-caixa' ).html(data);
					
					tancarMascaraBlock('#block-caixa');

					$( '#dialeg-informacio' ).dialog( "close" );
					$( '#dialeg-informacio' ).html( "" );
						
				}).fail(function(xhr, status, error) {
					var txtError = 'S\'ha produït un error';
					if (xhr.responseText != '') txtError = xhr.responseText;
						
					mostrarErrorAjax('#block-form-apunt', txtError);
				});
		 		
		 	},
		 	"Cancel·lar": function() {
		 		tancarMascaraBlock('#block-caixa');
		 		$( '#dialeg-informacio' ).dialog( "close" );
		 		$( '#dialeg-informacio' ).html( "" );
		 		
		 	}
		 }
	});

}

ajaxTaulaApuntsCallback = function(url, elemSel) {
	$('.alert.alert-dismissible').remove();	
	
	url = url.replace('__TIPUS__',  $('#form_tipusconcepte').val() );

	$.get(url, function(data) {

		$('.taula-apunts').html(data);
		
	}).fail(function(xhr, status, error) {
		if (xhr.responseText != '') {
			mostrarErrorAjax(elemSel, xhr.responseText);
		} else { 
			obrirDialegInformacio('Error mostrant els apunts',  'Informació d\'error', 300, 400, function() {});
		}
	});
}

urlSaldos = function(url, action) {
	url += '&action='+action;
	url += '&pendent='+$('#form_detall_pendent').val();
	url += '&cent1='+$('#form_detall_1').val();
	url += '&cent2='+$('#form_detall_2').val();
	url += '&cent5='+$('#form_detall_5').val();
	url += '&cent10='+$('#form_detall_10').val();
	url += '&cent20='+$('#form_detall_20').val();
	url += '&cent50='+$('#form_detall_50').val();
	url += '&eur1='+$('#form_detall_100').val();
	url += '&eur2='+$('#form_detall_200').val();
	url += '&eur5='+$('#form_detall_500').val();
	url += '&eur10='+$('#form_detall_1000').val();
	url += '&eur20='+$('#form_detall_2000').val();
	url += '&eur50='+$('#form_detall_5000').val();
	url += '&eur100='+$('#form_detall_10000').val();
	url += '&eur200='+$('#form_detall_20000').val();
	url += '&eur500='+$('#form_detall_50000').val();

	return url;
}

desarSaldo = function(url) {

	$.get(url, function(data) {
	
		$( '#block-caixa' ).html(data);
	
		tancarMascaraBlock('#block-caixa');
	
		$( '#dialeg-informacio' ).dialog( "close" );
		$( '#dialeg-informacio' ).html( "" );
			
	}).fail(function(xhr, status, error) {
		tancarMascaraBlock('#block-caixa');
		
		var txtError = 'S\'ha produït un error';
		if (xhr.responseText != '') txtError = xhr.responseText;
		mostrarErrorAjax('#block-caixa', txtError);
	
		$( '#dialeg-informacio' ).dialog( "close" );
		$( '#dialeg-informacio' ).html( "" );
		
	});
}


$(document).ready(function(){

	// Taula d'activitats 
	{% set queryparamsc = queryparams|merge({ 'action': 'table', 'page': '', 'perpage': '__PERPAGE__', 'filtre': '__FILTRE__', 'tipusconcepte': '__TIPUS__'}) %}
	var url = '{{ path('foment_gestio_caixa', queryparamsc)|raw }}';
	
	preparePaginatedSortedTable('#block-caixa', url, ajaxTaulaApuntsCallback); 

	$('#block-caixa').on('change', '#form_tipusconcepte', function () {
		var urlcbk = url;

		$('.alert.alert-dismissible').remove();	
		
		urlcbk = urlcbk.replace('__PERPAGE__',  $('#block-caixa' + ' ' + '.select-midapagina').val() );
		urlcbk = urlcbk.replace('__FILTRE__',  $('#block-caixa' + ' ' + '.filtre-text').val() );
		urlcbk = urlcbk.replace('__TIPUS__',  $(this).val() );
			
		ajaxTaulaApuntsCallback(urlcbk, '#block-caixa');
	});

	$('#block-caixa').on('click', 'a.gestionar-conceptes', function (e) {
		e.preventDefault();
		var url = $(this).attr('href');

		$('.alert.alert-dismissible').remove();	

		obrirMascaraBlock('#block-caixa');

		$.get(url, function(data) {
			
			obrirGestioConceptes(data);

		}).fail(function(xhr, status, error) {
			tancarMascaraBlock('#block-caixa');
			
			var txtError = 'S\'ha produït un error';
			if (xhr.responseText != '') txtError = xhr.responseText;
				
			mostrarErrorAjax('#block-caixa', txtError);

			$( '#dialeg-informacio' ).dialog( "close" );

		});
	});

	
	$('#block-caixa').on('click', 'a.afegir-apunt, a.editar-apunt', function (e) {
		e.preventDefault();
		var url = $(this).attr('href');

		$('.alert.alert-dismissible').remove();	


		if ( $("#form_datasaldoconsolidat").val() == '' ) {
			mostrarErrorAjax('#block-caixa', 'Cal indicar una data i saldo inicial de la caixa');
			return false;
		}
		
		obrirMascaraBlock('#block-caixa');

		$.get(url, function(data) {
			
			obrirFormulariApunt(data);

		}).fail(function(xhr, status, error) {
			tancarMascaraBlock('#block-caixa');
			
			var txtError = 'S\'ha produït un error';
			if (xhr.responseText != '') txtError = xhr.responseText;
				
			mostrarErrorAjax('#block-caixa', txtError);

			$( '#dialeg-informacio' ).dialog( "close" );

		});
	});	

	$('#block-caixa').on('click', 'a.esborrar-apunt', function (e) {
		e.preventDefault();
		var url = $(this).attr('href');

		$('.alert.alert-dismissible').remove();	

		obrirMascaraBlock('#block-caixa');

		obrirDialegConfirmacio("Segur que vols esborrar l'apunt?", "Esborrar apunt", 'auto', 300, function() {
		
			$.get(url, function(data) {
				
				$( '#block-caixa' ).html(data);
				
				tancarMascaraBlock('#block-caixa');
	
			}).fail(function(xhr, status, error) {
				tancarMascaraBlock('#block-caixa');
				
				var txtError = 'S\'ha produït un error';
				if (xhr.responseText != '') txtError = xhr.responseText;
					
				mostrarErrorAjax('#block-caixa', txtError);
	
				$( '#dialeg-informacio' ).dialog( "close" );
	
			});
		},
		function() {
			tancarMascaraBlock('#block-caixa');
		});
	});	

	$('#block-caixa').on('click', 'a.registre-saldos', function (e) {
		e.preventDefault();

		var url = $(this).attr('href');

		$('.alert.alert-dismissible').remove();	
		
		obrirMascaraBlock('#block-caixa');

		$.get(url, function(data) {

			obrirDialegInformacio(data,  'Registre de saldos de caixa', 300, 400, function() {
				tancarMascaraBlock('#block-caixa');
			});
				
		}).fail(function(xhr, status, error) {
			tancarMascaraBlock('#block-caixa');
			
			var txtError = 'S\'ha produït un error';
			if (xhr.responseText != '') txtError = xhr.responseText;
				
			mostrarErrorAjax('#block-caixa', txtError);
		});
	});	

	$('#block-caixa').on('click', 'a.ajustar-saldo', function (e) {
		e.preventDefault();

		var url = $(this).attr('href');

		$('.alert.alert-dismissible').remove();	
		
		obrirMascaraBlock('#block-caixa');

		var desglossamentHtml = "";	
	
		var desglossament = JSON.parse( $("#form_desglossament").val() );
		var detall = desglossament.detall;
		for (i = 0; i < detall.length; i++) {
			desglossamentHtml += "<div class='col-md-4'><div class='form-group'><div class='input-group'><span class='input-group-addon input-group-addon-medium form-detall-text'>";
			desglossamentHtml += detall[i].text+"</span>";
			desglossamentHtml += "<input id='form_detall_"+(detall[i].value*100)+"' class='form-control form-control-center form-detall' type='text' required='required' value='"+detall[i].total+"'>";
			desglossamentHtml += "</div></div></div>";
		}

		var pendent = desglossament.pendent;

		desglossamentHtml += "<div class='col-md-6'><div class='form-group'><div class='input-group'><span class='input-group-addon input-group-addon-short'>";
		desglossamentHtml += "Pendent</span>";
		desglossamentHtml += "<input id='form_detall_pendent' class='form-control form-control-center form-detall' type='text' required='required' value='"+pendent+"'>";
		desglossamentHtml += "<span class='input-group-addon input-group-addon-icon'><span class='fa fa-eur fa-1x'></span></span></div></div></div>";
		
		var importcaixa = $('#form_importcaixa').val();
		
		desglossamentHtml += "<div class='col-md-6'><div class='form-group'><div class='input-group'><span class='input-group-addon input-group-addon-short'>";
		desglossamentHtml += "Caixa</span>";
		desglossamentHtml += "<input id='form_detall_importcaixa' class='form-control form-control-center' type='text' required='required' readonly='readonly' value='"+importcaixa+"'>";
		desglossamentHtml += "<span class='input-group-addon input-group-addon-icon'><span class='fa fa-eur fa-1x'></span></span></div></div></div>";

		var saldoapunts = $('#form_saldoapunts').val();

		var classSaldo = 'green';
		if ( $("#form_datasaldoconsolidat").val() == '' ||
			 Math.abs(saldoapunts - importcaixa) > 0.01 ) {
			classSaldo = 'red';
		}
		
		desglossamentHtml += "<div class='col-md-6 col-md-offset-6'><div class='form-group'><div class='input-group'><span class='input-group-addon input-group-addon-short'>";
		desglossamentHtml += "Saldo</span>";
		desglossamentHtml += "<input id='form_detall_saldoapunts' class='form-control form-control-center "+classSaldo+"' type='text' required='required' readonly='readonly' value='"+saldoapunts+"'>";
		desglossamentHtml += "<span class='input-group-addon input-group-addon-icon'><span class='fa fa-eur fa-1x'></span></span></div></div></div>";

		
		var strHtml = "<div class='form-saldo form-block row'><div class='col-md-12'><p>Indicar el desglossament de la caixa en metàl·lic</p></div>";
		strHtml += desglossamentHtml;
		
		if ( $("#form_datasaldoconsolidat").val() != '' ) {
			strHtml += "<div class='col-md-12'><p class='comment'>";
			strHtml += "El darrer registre consolidat de caixa és del dia <span>"+$("#form_datasaldoconsolidat").val()+"</span>";
			strHtml += "</p></div>";		
		} else {
			strHtml += "<div class='col-md-12'><p class='comment'>";
			strHtml += "Encara no hi ha cap saldo consolidat";
			strHtml += "</p></div>";
		}
		strHtml += "</div>";

		$( '#dialeg-informacio' ).html(strHtml);

		var buttons = {};
		buttons["Desar"] = function() {
        	url = urlSaldos(url, "save");
			desarSaldo(url);
	 	};

		if (saldoapunts == '' || saldoapunts != importcaixa) {
			buttons["Quadrar"] = function() {
	        	url = urlSaldos(url, "annotation");
	        	desarSaldo(url);
		 	}; 
		}
	 	
	 	buttons["Cancel·lar"] = function() {
	 		tancarMascaraBlock('#block-caixa');
	 		$( '#dialeg-informacio' ).dialog( "close" );
	 		$( '#dialeg-informacio' ).html( "" );
	 	}; 
		
		$( '#dialeg-informacio' ).dialog({
			 resizable: false,
			 title: 'Darrer saldo caixa',
			 height: 'auto',
			 width: 500,
			 modal: true,
			 close: function() {
				 tancarMascaraBlock('#block-caixa');
				 $( '#dialeg-informacio' ).dialog( "close" );
				 $( '#dialeg-informacio' ).html( "" );
			 },
			 open: function() {
					// Gestionar els canvis als valors per actualitzar saldo caixa
				 $('.form-detall').change( function () {
						url = urlSaldos(url, "calcular");
						
						$.get(url, function(data) {
							
							$( '#form_detall_importcaixa' ).val((data*1).toFixed(2));
							
						});
						
					});
				 				 
				 }, 					 
			 buttons: buttons
		});
		
	});


	
	$('a#export-apunts').click(function(e) {
		e.preventDefault();

		var url = $(this).attr('href');

		$('.alert.alert-dismissible').remove();	
		
		obrirMascaraBlock('#block-caixa');

		var strHtml = $( ".block-rang-dates" ).clone();
		strHtml.removeClass('hidden');
		strHtml.find( "#form_desde" ).prop("id", "form_desde_clone" );
		strHtml.find( "#form_fins" ).prop("id", "form_fins_clone" );
		
		$( '#dialeg-informacio' ).html(strHtml);
		
		$( '#dialeg-informacio' ).dialog({
			 resizable: false,
			 title: 'Exportar apunts',
			 height: 'auto',
			 width: 400,
			 modal: true,
			 close: function() {
				 tancarMascaraBlock('#block-caixa');
				 $( '#dialeg-informacio' ).dialog( "close" );
				 $( '#dialeg-informacio' ).html( "" );
			 },
			 open: function() {
				 	var mindate = new Date({{ constant('Foment\\GestioBundle\\Controller\\UtilsController::REBUTS_MIN_DATEPICKER_YEAR')  }}, 0 , 1 );
					var maxdate = new Date();
					maxdate.setDate(dateNow.getDate() + 365);
					initDateTimePicker ( $("#form_desde_clone"), mindate, maxdate, dateNow, 'datadesde-picker', false);				 
					initDateTimePicker ( $("#form_fins_clone"), mindate, maxdate, dateNow, 'datafins-picker', false);
				 }, 					 
			 buttons: {
			 	"Continuar": function() {
		
		        	url += '&desde='+$('#form_desde_clone').val()+'&fins='+$('#form_fins_clone').val();

		        	tancarMascaraBlock('#block-caixa');
		        	
					window.location = url;

					$( '#dialeg-informacio' ).dialog( "close" );
			 		$( '#dialeg-informacio' ).html( "" );
			 		
			 	},
			 	"Cancel·lar": function() {
			 		tancarMascaraBlock('#block-caixa');
			 		$( '#dialeg-informacio' ).dialog( "close" );
			 		$( '#dialeg-informacio' ).html( "" );
			 	}
			 }
		});
		
	});

	
});

</script>
{% endblock %}