{# src/Foment/GestioBundle/Resources/views/Page/caixa.html.twig #}
{% extends 'FomentGestioBundle::layout.html.twig' %}

{% form_theme form 'FomentGestioBundle:Includes:formtheming.html.twig' %}

{% block title %}Gestió de la caixa{% endblock %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('foment_gestio_homepage') }}"><span class="fa fa-home fa-1x"></span> Inici</a></li><li><span class="current">Caixa metàl·lic</span></li>
{% endblock %}

{% block containerclass %}caixa-page{% endblock %}

{% block pagetitle %}Caixa Foment Martinenc{% endblock %}

{% block topbuttons %}
<li><a id="export-apunts" href="{{ path('foment_gestio_exportapunts') }}" title="Exportar apunts" target="_blank"><span class="button-icon icon-btn-40x40 spreadsheet green"></span>
	<span class="button-text">exportar</span></a></li>	
{% endblock %}

{% block main %}
	
<div id="block-caixa" class="page-block">
	{% include 'FomentGestioBundle:Includes:messages.html.twig' %}
	
	<div id="apunts-caixa">
		{{ form_start(form, {'action': path('foment_gestio_caixa')}) }}
		<div class="form-block row hidden block-datasaldo">
			<div class="col-md-12">
				<div class="form-field">
					<div class="input-group"><span class="input-group-addon input-group-addon-short">data saldo</span>{{ form_widget(form.datasaldo, {'attr': {'placeholder': '', 'class': 'form-control form-control-center' } })  }}
		    	    	<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
		    	    </div>
		    	    {{ form_widget(form.dataultimsaldo) }}
		       	</div>
			</div>	
		</div>
		<div class="form-block row block-importsaldo">
			<div class="col-md-4 resizable on-sidebar-col-md- col-xs-8 form-inline">
	        	<a class="afegir-apunt btn btn-primary btn-small" href="{{ path('foment_gestio_apunt', { 'id': 0 }) }}" role="button"><span class="fa fa-plus fa-1x"></span> Nou apunt</a>
			</div>
			<div class="col-md-8 resizable on-sidebar-col-md-8 col-xs-8 text-right form-inline">
				<div class="form-group">
					<div class="input-group"><span class="input-group-addon input-group-addon-short blue-title">caixa metàl·lic</span>{{ form_widget(form.saldo, {'attr': {'placeholder': '', 'class': 'form-control form-control-center' } })  }}
		    	    	<span class="input-group-addon input-group-addon-icon"><span class="fa fa-eur fa-1x"></span></span>
		    	    </div>
	        	</div>
	        	<a class="ajustar-saldo btn btn-primary btn-small" href="{{ path('foment_gestio_saldo') }}" role="button"><span class="fa fa-wrench fa-1x"></span> Ajustar saldo</a>
	        	<a class="registre-saldos btn btn-primary btn-small" href="{{ path('foment_gestio_saldos') }}" role="button"><span class="fa fa-search fa-1x"></span> Registre saldos</a>
			</div>
		</div>
		<br/>
		<div class="form-block row">
			<div class="col-md-12">
				<div class="panel panel-default taula-resultats">
					<div class="panel-heading jplist-panel">
						<div class="row">
							<div class="col-md-3">
								<div class="form-field">
									<div class="input-group full-width-container"><span class="input-group-addon input-group-addon-short">Compta.</span>
										<div class="form-select select-codi">{{ form_widget(form.codi, {'attr': {'placeholder': ''} })  }}
										</div>
									</div>
								</div>
							</div>	
							<div class="col-md-3">
								<div class="input-group full-width-container"><span class="input-group-addon input-group-addon-short">
									<span class="fa fa-list-ol fa-1x"></span></span>
										<div class="form-select">{{ form_widget(form.midapagina, {'attr': {'placeholder': '' }} )  }}
										</div>
								</div>
							</div>	
							<div class="col-md-6">
								<div class="form-field">
									<div class="input-group"><span class="input-group-addon input-group-addon-short">filtre per concepte</span>
									{{ form_widget(form.filtre, {'attr': {'placeholder': 'filtre per nom de la secció' }} )  }}
						   	    		<span class="input-group-addon input-group-addon-icon filter-table"><span class="fa fa-search fa-1x"></span></span>
						   	    	</div>
						   	    </div>
					   	    </div>
														
							{#<div class="col-md-12 text-right">
					   	    	<span class="total-rowcount blue-title">Total: {{ apunts.getTotalItemCount|number_format(0, ',', '.') }} de {{ total|number_format(0, ',', '.') }}</span>
					   	    </div>#}
						</div>
					</div>	
					<div class="taula-apunts">
						{% include 'FomentGestioBundle:Includes:taulaapunts.html.twig' %}
					</div>
					<div class="panel-footer jplist-panel">
						<div class="row">
							{% if apunts|length > queryparams['perpage'] %}
								<span class="col-md-12 text-right navigation blue-title">Pàgines:
									{% set current = queryparams['page'] %}
									<div class="pagination">
							            <span class="previous">
					    		        	<a href="{{ path('foment_gestio_caixa', queryparams|merge({ 'page': current + 1 }) )|raw }}">&lt;</a>
					        			</span>
		                        		<span class="current">{{ current }}</span>
				                        {% set current = current - 1 %}
				                        {% set min = 1 %}
										{% if current > 4  %} 
											{% set min = current - 4 %}
										{% endif %}
				        				{% for i in current..min %}
				    						{% set pageClass = 'page' %}
				    						{% set pageValue = i %}
				    						{% if i == min + 1  %} 
				    							{% set pageClass = 'next' %}
				    							{% set pageValue = '&gt;' %}
				    						{% endif %}
				    						{% if i == min  %} 
				    							{% set pageClass = 'last' %}
				    							{% set pageValue = '&gt;&gt;' %}
				    						{% endif %}
											<span class="{{ pageClass }}">
				               					 <a href="{{ path('foment_gestio_caixa', queryparams|merge({ 'page': i }) )|raw }}">{{ pageValue }}</a>
				            				</span>
				        				{% endfor %}
								    </div>
								</span>
							{% endif %}
						</div>
					</div>
				</div>	
			</div>	
		</div>
		<div class="form-hidden">{{ form_end(form) }}</div>
	</div> 
</div>

{% endblock %}


{% block javascripts %}

{{ parent() }}

<!-- Select2 plugin's -->
	<script src="{{ asset('js/select2.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/select2_locale_ca.js') }}" type="text/javascript"></script>

<script type="text/javascript">

selectorRebuts = function(elem, pholder) {
	elem.select2({
		minimumInputLength: {{ constant('Foment\\GestioBundle\\Controller\\UtilsController::MIN_INPUT_REBUTS')  }},
		allowClear: true,
		placeholder: pholder,
		
		query: function (query) {
			var data = {results: []};
			var url = "{{  path('foment_gestio_json_rebuts') }}";
			var params = { 	term: query.term };

			$.get(url,	params, function(jdata) {
				data.results = jdata;
				query.callback(data);
				
			}).fail(function() {
				query.callback(data);
			});
		},
		initSelection: function(element, callback) {  // value del input ==> carrega per defecte
			var id=$(element).val();
			var data = {id: element.val(), text: element.val()};
	        callback(data);
		},
		createSearchChoice:function(term, data) { // Allow new values
	         if ( $(data).filter( function() {
	           return this.text.localeCompare(term)===0;
	         }).length===0) {
	           return {id:term, text:term};
	         }
	    },
	});
};


obrirFormulariApunt = function( strHtml ) {
	$( '#dialeg-informacio' ).html(strHtml);
	
	$( '#dialeg-informacio' ).dialog({
		 resizable: false,
		 title: 'Apunt',
		 height: 'auto',
		 width: 600,
		 modal: true,
		 close: function() {
			 tancarMascaraBlock('#block-caixa');
			 $( '#dialeg-informacio' ).dialog( "close" );
			 $( '#dialeg-informacio' ).html( "" );
		 },
		 open: function() {
			 	var mindate = new Date(dateNow.getFullYear()-1, 0 , 1 );
				var maxdate = new Date();
				maxdate.setDate(dateNow.getDate() + 365);
				
				initDateTimePicker ($( '#apunt_dataapunt' ), mindate,  maxdate, dateNow, 'dataapunt-picker', true);

				/* Inicialitza el control de cerca de rebuts */
				/*$('#apunt_rebut').select2({
					minimumInputLength: 2,
					allowClear: true,
					placeholder: 'cercar número',
					maximumSelectionLength: 3
			        //formatResult: formatSelectValue,
			        //formatSelection: formatSelectionLabel
				});*/

				selectorRebuts($('#apunt_rebut'), 'escollir rebut'); 
			 },				 
		 buttons: {
		 	"Desar": function() {

	        	var url = $('#block-form-apunt form').attr('action');

	        	var params = $('#block-form-apunt form').serializeArray();
	        	
				$.post(url, params, function(data) {
					
					// JSON => data / saldo / dataultimsaldo
					$( '.taula-apunts' ).html(data.data);
					$( '#form_saldo' ).val(data.saldo);
					
					mostrarExitAjax('#apunts-caixa', 'Apunt afegit correctament');
					
					tancarMascaraBlock('#block-caixa');

					$( '#dialeg-informacio' ).dialog( "close" );
					$( '#dialeg-informacio' ).html( "" );
						
				}).fail(function(xhr, status, error) {
					var txtError = 'S\'ha produït un error';
					if (xhr.responseText != '') txtError = xhr.responseText;
						
					mostrarErrorAjax('#block-form-apunt', txtError);
				});
		 		
		 	},
		 	"Cancel·lar": function() {
		 		tancarMascaraBlock('#block-caixa');
		 		$( '#dialeg-informacio' ).dialog( "close" );
		 		$( '#dialeg-informacio' ).html( "" );
		 		
		 	}
		 }
	});

}



$(document).ready(function(){

	// Taula d'activitats 
	{% set queryparamsc = queryparams|merge({ 'perpage': '__PERPAGE__', 'filtre': '__FILTRE__'}) %}
	var url = '{{ path('foment_gestio_caixa', queryparamsc)|raw }}';
	
	preparePaginatedSortedTable('#block-caixa', url, ajaxTaulaCallback); 


	$('#apunts-caixa').on('click', 'a.afegir-apunt, a.editar-apunt', function (e) {
		e.preventDefault();
		var url = $(this).attr('href');

		$('.alert.alert-dismissible').remove();	


		if ( $("#form_datasaldo").val() == '' ) {
			mostrarErrorAjax('#block-caixa', 'Cal indicar una data i saldo inicial de la caixa');
			return false;
		}
		
		obrirMascaraBlock('#block-caixa');

		$.get(url, function(data) {
			
			obrirFormulariApunt(data);

		}).fail(function(xhr, status, error) {
			tancarMascaraBlock('#block-caixa');
			
			var txtError = 'S\'ha produït un error';
			if (xhr.responseText != '') txtError = xhr.responseText;
				
			mostrarErrorAjax('#block-caixa', txtError);

			$( '#dialeg-informacio' ).dialog( "close" );

		});
	});	

	
	$('a.ajustar-saldo').click(function(event) {
		event.preventDefault();

		var url = $(this).attr('href');

		$('.alert.alert-dismissible').remove();	
		
		obrirMascaraBlock('#block-caixa');

		var blockData = $( ".block-datasaldo" ).clone();
		blockData.find( "#form_datasaldo" ).prop("id", "form_datasaldo_clone" );
		var inputImport = $( ".block-importsaldo .input-group" ).clone();
		inputImport.find( "#form_saldo" ).removeProp("readonly" ).prop("id", "form_saldo_clone" );

		var strHtml = "<div class='form-saldo form-block row'><div class='col-md-12'><p>Indicar la data i l'import de la caixa en metàl·lic</p></div>";
		strHtml += blockData.html();
		strHtml += "<div class='col-md-12'><div class='form-group'><div class='input-group'>";
		strHtml += inputImport.html();
		strHtml += "</div></div></div>";
		if ( $("#form_datasaldo").val() != '' ) {
			strHtml += "<div class='col-md-12'><p class='comment'>";
			strHtml += "El darrer registre de saldo és del dia <span>"+$("#form_dataultimsaldo").val()+"</span><br/>";
			strHtml += "Si s'indica un saldo per a una data anterior s'esborraran tots els apunts d'ajust posteriors";			
			strHtml += "</p></div>";		
		}
		strHtml += "</div>";
		


		$( '#dialeg-informacio' ).html(strHtml);
		
		$( '#dialeg-informacio' ).dialog({
			 resizable: false,
			 title: 'Ajustar saldo caixa',
			 height: 'auto',
			 width: 400,
			 modal: true,
			 close: function() {
				 tancarMascaraBlock('#block-caixa');
				 $( '#dialeg-informacio' ).dialog( "close" );
				 $( '#dialeg-informacio' ).html( "" );
			 },
			 open: function() {
				 	var mindate = new Date({{ constant('Foment\\GestioBundle\\Controller\\UtilsController::REBUTS_MIN_DATEPICKER_YEAR')  }}, 0 , 1 );
					var maxdate = new Date();
					maxdate.setDate(dateNow.getDate() + 365);
					initDateTimePicker ( $("#form_datasaldo_clone"), mindate, maxdate, dateNow, 'datasaldo-picker', true);				 
				 }, 					 
			 buttons: {
			 	"Continuar": function() {
		
		        	url += '?data='+$('#form_datasaldo_clone').val()+'&import='+$('#form_saldo_clone').val();
		        	
					$.get(url, function(data) {

						// JSON => data / saldo / dataultimsaldo
						
						$( '.taula-apunts' ).html(data.data);
						$( '#form_dataultimsaldo' ).val(data.dataultimsaldo);
						$( '#form_saldo' ).val(data.saldo);

						tancarMascaraBlock('#block-caixa');

						$( '#dialeg-informacio' ).dialog( "close" );
						$( '#dialeg-informacio' ).html( "" );
							
					}).fail(function(xhr, status, error) {
						tancarMascaraBlock('#block-caixa');
						
						var txtError = 'S\'ha produït un error';
						if (xhr.responseText != '') txtError = xhr.responseText;
							
						mostrarErrorAjax('#block-caixa', txtError);

						$( '#dialeg-informacio' ).dialog( "close" );
						$( '#dialeg-informacio' ).html( "" );
						
					});
			 		
			 	},
			 	"Cancel·lar": function() {
			 		tancarMascaraBlock('#block-caixa');
			 		$( '#dialeg-informacio' ).dialog( "close" );
			 		$( '#dialeg-informacio' ).html( "" );
			 	}
			 }
		});
		
	});
	
});

</script>
{% endblock %}